service-stubs/analytics-processors/org.wso2.carbon.analytics.spark.stub/src/main/resources/AnalyticsProcessorAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://dto.admin.spark.analytics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://admin.spark.analytics.carbon.wso2.org" xmlns:ax213="http://admin.spark.analytics.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://admin.spark.analytics.carbon.wso2.org">
    <wsdl:documentation>AnalyticsProcessorAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.admin.spark.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="AnalyticsQueryResultDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnNames" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rowsResults" nillable="true" type="ax215:AnalyticsRowResultDto"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AnalyticsRowResultDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnValues" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AnalyticsScriptDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cronExpression" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="editable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="scriptContent" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="taskScheduled" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.spark.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="AnalyticsProcessorAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://admin.spark.analytics.carbon.wso2.org/xsd" xmlns:ax216="http://dto.admin.spark.analytics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.spark.analytics.carbon.wso2.org">
            <xs:import namespace="http://admin.spark.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.admin.spark.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AnalyticsProcessorAdminException" nillable="true" type="ax214:AnalyticsProcessorAdminException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveScript">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="scriptContent" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="cronExpression" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeScript">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeScriptResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:AnalyticsQueryResultDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteScript">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveScriptContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="scriptContent" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateScriptContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="scriptContent" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateScript">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="scriptContent" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="cronExpression" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateScriptTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="cronExpression" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllScripts">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllScriptsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:AnalyticsScriptDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:AnalyticsQueryResultDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="execute">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptContent" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:AnalyticsQueryResultDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getScript">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getScriptResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:AnalyticsScriptDto"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateScriptRequest">
        <wsdl:part name="parameters" element="ns:updateScript"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
        <wsdl:part name="parameters" element="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getScriptRequest">
        <wsdl:part name="parameters" element="ns:getScript"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getScriptResponse">
        <wsdl:part name="parameters" element="ns:getScriptResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveScriptRequest">
        <wsdl:part name="parameters" element="ns:saveScript"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeScriptRequest">
        <wsdl:part name="parameters" element="ns:executeScript"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeScriptResponse">
        <wsdl:part name="parameters" element="ns:executeScriptResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateScriptContentRequest">
        <wsdl:part name="parameters" element="ns:updateScriptContent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeRequest">
        <wsdl:part name="parameters" element="ns:execute"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeResponse">
        <wsdl:part name="parameters" element="ns:executeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateScriptTaskRequest">
        <wsdl:part name="parameters" element="ns:updateScriptTask"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeQueryRequest">
        <wsdl:part name="parameters" element="ns:executeQuery"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="executeQueryResponse">
        <wsdl:part name="parameters" element="ns:executeQueryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveScriptContentRequest">
        <wsdl:part name="parameters" element="ns:saveScriptContent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllScriptsRequest">
        <wsdl:part name="parameters" element="ns:getAllScripts"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllScriptsResponse">
        <wsdl:part name="parameters" element="ns:getAllScriptsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteScriptRequest">
        <wsdl:part name="parameters" element="ns:deleteScript"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AnalyticsProcessorAdminServicePortType">
        <wsdl:operation name="updateScript">
            <wsdl:input message="ns:updateScriptRequest" wsaw:Action="urn:updateScript"></wsdl:input>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:updateScriptAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getScript">
            <wsdl:input message="ns:getScriptRequest" wsaw:Action="urn:getScript"></wsdl:input>
            <wsdl:output message="ns:getScriptResponse" wsaw:Action="urn:getScriptResponse"></wsdl:output>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:getScriptAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveScript">
            <wsdl:input message="ns:saveScriptRequest" wsaw:Action="urn:saveScript"></wsdl:input>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:saveScriptAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeScript">
            <wsdl:input message="ns:executeScriptRequest" wsaw:Action="urn:executeScript"></wsdl:input>
            <wsdl:output message="ns:executeScriptResponse" wsaw:Action="urn:executeScriptResponse"></wsdl:output>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:executeScriptAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateScriptContent">
            <wsdl:input message="ns:updateScriptContentRequest" wsaw:Action="urn:updateScriptContent"></wsdl:input>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:updateScriptContentAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <wsdl:input message="ns:executeRequest" wsaw:Action="urn:execute"></wsdl:input>
            <wsdl:output message="ns:executeResponse" wsaw:Action="urn:executeResponse"></wsdl:output>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:executeAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateScriptTask">
            <wsdl:input message="ns:updateScriptTaskRequest" wsaw:Action="urn:updateScriptTask"></wsdl:input>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:updateScriptTaskAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <wsdl:input message="ns:executeQueryRequest" wsaw:Action="urn:executeQuery"></wsdl:input>
            <wsdl:output message="ns:executeQueryResponse" wsaw:Action="urn:executeQueryResponse"></wsdl:output>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:executeQueryAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveScriptContent">
            <wsdl:input message="ns:saveScriptContentRequest" wsaw:Action="urn:saveScriptContent"></wsdl:input>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:saveScriptContentAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllScripts">
            <wsdl:input message="ns:getAllScriptsRequest" wsaw:Action="urn:getAllScripts"></wsdl:input>
            <wsdl:output message="ns:getAllScriptsResponse" wsaw:Action="urn:getAllScriptsResponse"></wsdl:output>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:getAllScriptsAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteScript">
            <wsdl:input message="ns:deleteScriptRequest" wsaw:Action="urn:deleteScript"></wsdl:input>
            <wsdl:fault message="ns:AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException" wsaw:Action="urn:deleteScriptAnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AnalyticsProcessorAdminServiceSoap11Binding" type="ns:AnalyticsProcessorAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="updateScript">
            <soap:operation soapAction="urn:updateScript" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getScript">
            <soap:operation soapAction="urn:getScript" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveScript">
            <soap:operation soapAction="urn:saveScript" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeScript">
            <soap:operation soapAction="urn:executeScript" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateScriptContent">
            <soap:operation soapAction="urn:updateScriptContent" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <soap:operation soapAction="urn:execute" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateScriptTask">
            <soap:operation soapAction="urn:updateScriptTask" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <soap:operation soapAction="urn:executeQuery" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveScriptContent">
            <soap:operation soapAction="urn:saveScriptContent" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllScripts">
            <soap:operation soapAction="urn:getAllScripts" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteScript">
            <soap:operation soapAction="urn:deleteScript" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AnalyticsProcessorAdminServiceSoap12Binding" type="ns:AnalyticsProcessorAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="updateScript">
            <soap12:operation soapAction="urn:updateScript" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getScript">
            <soap12:operation soapAction="urn:getScript" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveScript">
            <soap12:operation soapAction="urn:saveScript" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeScript">
            <soap12:operation soapAction="urn:executeScript" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateScriptContent">
            <soap12:operation soapAction="urn:updateScriptContent" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <soap12:operation soapAction="urn:execute" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateScriptTask">
            <soap12:operation soapAction="urn:updateScriptTask" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <soap12:operation soapAction="urn:executeQuery" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveScriptContent">
            <soap12:operation soapAction="urn:saveScriptContent" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllScripts">
            <soap12:operation soapAction="urn:getAllScripts" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteScript">
            <soap12:operation soapAction="urn:deleteScript" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException">
                <soap12:fault use="literal" name="AnalyticsProcessorAdminServiceAnalyticsProcessorAdminException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AnalyticsProcessorAdminServiceHttpBinding" type="ns:AnalyticsProcessorAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="updateScript">
            <http:operation location="updateScript"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getScript">
            <http:operation location="getScript"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveScript">
            <http:operation location="saveScript"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="executeScript">
            <http:operation location="executeScript"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateScriptContent">
            <http:operation location="updateScriptContent"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="execute">
            <http:operation location="execute"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateScriptTask">
            <http:operation location="updateScriptTask"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <http:operation location="executeQuery"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveScriptContent">
            <http:operation location="saveScriptContent"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllScripts">
            <http:operation location="getAllScripts"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteScript">
            <http:operation location="deleteScript"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AnalyticsProcessorAdminService">
        <wsdl:port name="AnalyticsProcessorAdminServiceHttpsSoap11Endpoint" binding="ns:AnalyticsProcessorAdminServiceSoap11Binding">
            <soap:address location="https://10.100.1.138:9443/services/AnalyticsProcessorAdminService.AnalyticsProcessorAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="AnalyticsProcessorAdminServiceHttpsSoap12Endpoint" binding="ns:AnalyticsProcessorAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.1.138:9443/services/AnalyticsProcessorAdminService.AnalyticsProcessorAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="AnalyticsProcessorAdminServiceHttpsEndpoint" binding="ns:AnalyticsProcessorAdminServiceHttpBinding">
            <http:address location="https://10.100.1.138:9443/services/AnalyticsProcessorAdminService.AnalyticsProcessorAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>