service-stubs/org.wso2.carbon.event.stream.manager.stub/src/main/resources/EventStreamAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.manager.stream.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2118="http://internal.admin.manager.stream.event.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.manager.stream.event.carbon.wso2.org">
    <wsdl:documentation>EventStreamAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.stream.event.carbon.wso2.org/xsd">
            <xs:complexType name="StreamDefinitionDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metaData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadData" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventStreamInfoDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationAttributes" nillable="true" type="ax2118:EventStreamAttributeDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metaAttributes" nillable="true" type="ax2118:EventStreamAttributeDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadAttributes" nillable="true" type="ax2118:EventStreamAttributeDto"/>
                    <xs:element minOccurs="0" name="streamDefinition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamVersion" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventStreamAttributeDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2119="http://internal.admin.manager.stream.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.stream.event.carbon.wso2.org">
            <xs:import namespace="http://internal.admin.manager.stream.event.carbon.wso2.org/xsd"/>
            <xs:element name="removeEventStreamInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventStreamName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventStreamVersion" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDetailsForStreamId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDetailsForStreamIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDefinitionDto">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDefinitionDtoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2119:StreamDefinitionDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDefinitionAsString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDefinitionAsStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventStreamInfoDto">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventStreamInfoDtoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2119:EventStreamInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateSampleEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateSampleEventResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editEventStreamInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldStreamId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventStreamName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventStreamVersion" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="metaEventStreamAttributeDtos" nillable="true" type="ax2119:EventStreamAttributeDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationEventStreamAttributeDtos" nillable="true" type="ax2119:EventStreamAttributeDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadEventStreamAttributeDtos" nillable="true" type="ax2119:EventStreamAttributeDto"/>
                        <xs:element minOccurs="0" name="eventStreamDescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventStreamNickName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEventStreamInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventStreamName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventStreamVersion" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="metaEventStreamAttributeDtos" nillable="true" type="ax2119:EventStreamAttributeDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationEventStreamAttributeDtos" nillable="true" type="ax2119:EventStreamAttributeDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadEventStreamAttributeDtos" nillable="true" type="ax2119:EventStreamAttributeDto"/>
                        <xs:element minOccurs="0" name="eventStreamDescription" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventStreamNickName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getStreamDefinitionAsStringRequest">
        <wsdl:part name="parameters" element="ns:getStreamDefinitionAsString"/>
    </wsdl:message>
    <wsdl:message name="getStreamDefinitionAsStringResponse">
        <wsdl:part name="parameters" element="ns:getStreamDefinitionAsStringResponse"/>
    </wsdl:message>
    <wsdl:message name="editEventStreamInfoRequest">
        <wsdl:part name="parameters" element="ns:editEventStreamInfo"/>
    </wsdl:message>
    <wsdl:message name="editEventStreamInfoResponse"/>
    <wsdl:message name="addEventStreamInfoRequest">
        <wsdl:part name="parameters" element="ns:addEventStreamInfo"/>
    </wsdl:message>
    <wsdl:message name="addEventStreamInfoResponse"/>
    <wsdl:message name="getStreamDefinitionDtoRequest">
        <wsdl:part name="parameters" element="ns:getStreamDefinitionDto"/>
    </wsdl:message>
    <wsdl:message name="getStreamDefinitionDtoResponse">
        <wsdl:part name="parameters" element="ns:getStreamDefinitionDtoResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllEventStreamInfoDtoRequest">
        <wsdl:part name="parameters" element="ns:getAllEventStreamInfoDto"/>
    </wsdl:message>
    <wsdl:message name="getAllEventStreamInfoDtoResponse">
        <wsdl:part name="parameters" element="ns:getAllEventStreamInfoDtoResponse"/>
    </wsdl:message>
    <wsdl:message name="getStreamDetailsForStreamIdRequest">
        <wsdl:part name="parameters" element="ns:getStreamDetailsForStreamId"/>
    </wsdl:message>
    <wsdl:message name="getStreamDetailsForStreamIdResponse">
        <wsdl:part name="parameters" element="ns:getStreamDetailsForStreamIdResponse"/>
    </wsdl:message>
    <wsdl:message name="removeEventStreamInfoRequest">
        <wsdl:part name="parameters" element="ns:removeEventStreamInfo"/>
    </wsdl:message>
    <wsdl:message name="removeEventStreamInfoResponse"/>
    <wsdl:message name="getStreamNamesRequest">
        <wsdl:part name="parameters" element="ns:getStreamNames"/>
    </wsdl:message>
    <wsdl:message name="getStreamNamesResponse">
        <wsdl:part name="parameters" element="ns:getStreamNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="generateSampleEventRequest">
        <wsdl:part name="parameters" element="ns:generateSampleEvent"/>
    </wsdl:message>
    <wsdl:message name="generateSampleEventResponse">
        <wsdl:part name="parameters" element="ns:generateSampleEventResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventStreamAdminServicePortType">
        <wsdl:operation name="getStreamDefinitionAsString">
            <wsdl:input message="ns:getStreamDefinitionAsStringRequest" wsaw:Action="urn:getStreamDefinitionAsString"/>
            <wsdl:output message="ns:getStreamDefinitionAsStringResponse" wsaw:Action="urn:getStreamDefinitionAsStringResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editEventStreamInfo">
            <wsdl:input message="ns:editEventStreamInfoRequest" wsaw:Action="urn:editEventStreamInfo"/>
            <wsdl:output message="ns:editEventStreamInfoResponse" wsaw:Action="urn:editEventStreamInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addEventStreamInfo">
            <wsdl:input message="ns:addEventStreamInfoRequest" wsaw:Action="urn:addEventStreamInfo"/>
            <wsdl:output message="ns:addEventStreamInfoResponse" wsaw:Action="urn:addEventStreamInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinitionDto">
            <wsdl:input message="ns:getStreamDefinitionDtoRequest" wsaw:Action="urn:getStreamDefinitionDto"/>
            <wsdl:output message="ns:getStreamDefinitionDtoResponse" wsaw:Action="urn:getStreamDefinitionDtoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <wsdl:input message="ns:getAllEventStreamInfoDtoRequest" wsaw:Action="urn:getAllEventStreamInfoDto"/>
            <wsdl:output message="ns:getAllEventStreamInfoDtoResponse" wsaw:Action="urn:getAllEventStreamInfoDtoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStreamDetailsForStreamId">
            <wsdl:input message="ns:getStreamDetailsForStreamIdRequest" wsaw:Action="urn:getStreamDetailsForStreamId"/>
            <wsdl:output message="ns:getStreamDetailsForStreamIdResponse" wsaw:Action="urn:getStreamDetailsForStreamIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeEventStreamInfo">
            <wsdl:input message="ns:removeEventStreamInfoRequest" wsaw:Action="urn:removeEventStreamInfo"/>
            <wsdl:output message="ns:removeEventStreamInfoResponse" wsaw:Action="urn:removeEventStreamInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStreamNames">
            <wsdl:input message="ns:getStreamNamesRequest" wsaw:Action="urn:getStreamNames"/>
            <wsdl:output message="ns:getStreamNamesResponse" wsaw:Action="urn:getStreamNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="generateSampleEvent">
            <wsdl:input message="ns:generateSampleEventRequest" wsaw:Action="urn:generateSampleEvent"/>
            <wsdl:output message="ns:generateSampleEventResponse" wsaw:Action="urn:generateSampleEventResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventStreamAdminServiceSoap11Binding" type="ns:EventStreamAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getStreamDefinitionAsString">
            <soap:operation soapAction="urn:getStreamDefinitionAsString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEventStreamInfo">
            <soap:operation soapAction="urn:addEventStreamInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editEventStreamInfo">
            <soap:operation soapAction="urn:editEventStreamInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinitionDto">
            <soap:operation soapAction="urn:getStreamDefinitionDto" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <soap:operation soapAction="urn:getAllEventStreamInfoDto" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeEventStreamInfo">
            <soap:operation soapAction="urn:removeEventStreamInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDetailsForStreamId">
            <soap:operation soapAction="urn:getStreamDetailsForStreamId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamNames">
            <soap:operation soapAction="urn:getStreamNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateSampleEvent">
            <soap:operation soapAction="urn:generateSampleEvent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventStreamAdminServiceSoap12Binding" type="ns:EventStreamAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getStreamDefinitionAsString">
            <soap12:operation soapAction="urn:getStreamDefinitionAsString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEventStreamInfo">
            <soap12:operation soapAction="urn:addEventStreamInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editEventStreamInfo">
            <soap12:operation soapAction="urn:editEventStreamInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinitionDto">
            <soap12:operation soapAction="urn:getStreamDefinitionDto" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <soap12:operation soapAction="urn:getAllEventStreamInfoDto" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeEventStreamInfo">
            <soap12:operation soapAction="urn:removeEventStreamInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDetailsForStreamId">
            <soap12:operation soapAction="urn:getStreamDetailsForStreamId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamNames">
            <soap12:operation soapAction="urn:getStreamNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateSampleEvent">
            <soap12:operation soapAction="urn:generateSampleEvent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventStreamAdminServiceHttpBinding" type="ns:EventStreamAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getStreamDefinitionAsString">
            <http:operation location="getStreamDefinitionAsString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEventStreamInfo">
            <http:operation location="addEventStreamInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editEventStreamInfo">
            <http:operation location="editEventStreamInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinitionDto">
            <http:operation location="getStreamDefinitionDto"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamInfoDto">
            <http:operation location="getAllEventStreamInfoDto"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeEventStreamInfo">
            <http:operation location="removeEventStreamInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDetailsForStreamId">
            <http:operation location="getStreamDetailsForStreamId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamNames">
            <http:operation location="getStreamNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateSampleEvent">
            <http:operation location="generateSampleEvent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventStreamAdminService">
        <wsdl:port name="EventStreamAdminServiceHttpsSoap11Endpoint" binding="ns:EventStreamAdminServiceSoap11Binding">
            <soap:address location="https://10.100.0.44:9443/services/EventStreamAdminService.EventStreamAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventStreamAdminServiceHttpsSoap12Endpoint" binding="ns:EventStreamAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.0.44:9443/services/EventStreamAdminService.EventStreamAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventStreamAdminServiceHttpsEndpoint" binding="ns:EventStreamAdminServiceHttpBinding">
            <http:address location="https://10.100.0.44:9443/services/EventStreamAdminService.EventStreamAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>