service-stubs/dashboard/org.wso2.carbon.dashboard.mgt.oauth.stub/src/main/resources/OAuthMgtService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://oauth.mgt.dashboard.carbon.wso2.org"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.wso2.wsf/tools"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ax290="http://bean.oauth.mgt.dashboard.carbon.wso2.org/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://oauth.mgt.dashboard.carbon.wso2.org">
    <wsdl:documentation>OAuthMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://bean.oauth.mgt.dashboard.carbon.wso2.org/xsd">
            <xs:complexType name="ConsumerEntry">
                <xs:sequence>
                    <xs:element minOccurs="0" name="consumerKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="consumerSecret" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keyType" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="service" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax291="http://bean.oauth.mgt.dashboard.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://org.wso2.wsf/tools">
            <xs:import namespace="http://bean.oauth.mgt.dashboard.carbon.wso2.org/xsd"/>
            <xs:element name="getNumberOfPagesResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConsumerPagedEntries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNum" type="xs:int"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getConsumerPagedEntriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax290:ConsumerEntry"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getConsumerEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="consumerServiceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConsumerEntryResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax290:ConsumerEntry"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConsumerEntriesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ax290:ConsumerEntry"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteConsumerEntry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="consumerServiceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="deleteConsumerEntryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addConsumerEntry">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="entry" nillable="true" type="ax290:ConsumerEntry"/>
                        <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addConsumerEntryResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNumberOfPagesRequest"/>
    <wsdl:message name="getNumberOfPagesResponse">

        <wsdl:part name="parameters" element="ns:getNumberOfPagesResponse"/>
    </wsdl:message>
    <wsdl:message name="getConsumerEntriesRequest"/>
    <wsdl:message name="getConsumerEntriesResponse">
        <wsdl:part name="parameters" element="ns:getConsumerEntriesResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteConsumerEntryRequest">
        <wsdl:part name="parameters" element="ns:deleteConsumerEntry"/>
    </wsdl:message>

    <wsdl:message name="deleteConsumerEntryResponse">
        <wsdl:part name="parameters" element="ns:deleteConsumerEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="getConsumerPagedEntriesRequest">
        <wsdl:part name="parameters" element="ns:getConsumerPagedEntries"/>
    </wsdl:message>
    <wsdl:message name="getConsumerPagedEntriesResponse">
        <wsdl:part name="parameters" element="ns:getConsumerPagedEntriesResponse"/>
    </wsdl:message>

    <wsdl:message name="getConsumerEntryRequest">
        <wsdl:part name="parameters" element="ns:getConsumerEntry"/>
    </wsdl:message>
    <wsdl:message name="getConsumerEntryResponse">
        <wsdl:part name="parameters" element="ns:getConsumerEntryResponse"/>
    </wsdl:message>
    <wsdl:message name="addConsumerEntryRequest">
        <wsdl:part name="parameters" element="ns:addConsumerEntry"/>
    </wsdl:message>

    <wsdl:message name="addConsumerEntryResponse">
        <wsdl:part name="parameters" element="ns:addConsumerEntryResponse"/>
    </wsdl:message>
    <wsdl:portType name="OAuthMgtServicePortType">
        <wsdl:operation name="getNumberOfPages">
            <wsdl:input message="axis2:getNumberOfPagesRequest" wsaw:Action="urn:getNumberOfPages"/>
            <wsdl:output message="axis2:getNumberOfPagesResponse" wsaw:Action="urn:getNumberOfPagesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConsumerEntries">

            <wsdl:input message="axis2:getConsumerEntriesRequest" wsaw:Action="urn:getConsumerEntries"/>
            <wsdl:output message="axis2:getConsumerEntriesResponse" wsaw:Action="urn:getConsumerEntriesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteConsumerEntry">
            <wsdl:input message="axis2:deleteConsumerEntryRequest" wsaw:Action="urn:deleteConsumerEntry"/>
            <wsdl:output message="axis2:deleteConsumerEntryResponse" wsaw:Action="urn:deleteConsumerEntryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConsumerPagedEntries">
            <wsdl:input message="axis2:getConsumerPagedEntriesRequest" wsaw:Action="urn:getConsumerPagedEntries"/>

            <wsdl:output message="axis2:getConsumerPagedEntriesResponse"
                         wsaw:Action="urn:getConsumerPagedEntriesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConsumerEntry">
            <wsdl:input message="axis2:getConsumerEntryRequest" wsaw:Action="urn:getConsumerEntry"/>
            <wsdl:output message="axis2:getConsumerEntryResponse" wsaw:Action="urn:getConsumerEntryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addConsumerEntry">
            <wsdl:input message="axis2:addConsumerEntryRequest" wsaw:Action="urn:addConsumerEntry"/>
            <wsdl:output message="axis2:addConsumerEntryResponse" wsaw:Action="urn:addConsumerEntryResponse"/>

        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OAuthMgtServiceSoap11Binding" type="axis2:OAuthMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getNumberOfPages">
            <soap:operation soapAction="urn:getNumberOfPages" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConsumerEntries">
            <soap:operation soapAction="urn:getConsumerEntries" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteConsumerEntry">
            <soap:operation soapAction="urn:deleteConsumerEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConsumerPagedEntries">
            <soap:operation soapAction="urn:getConsumerPagedEntries" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConsumerEntry">
            <soap:operation soapAction="urn:getConsumerEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addConsumerEntry">
            <soap:operation soapAction="urn:addConsumerEntry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OAuthMgtServiceSoap12Binding" type="axis2:OAuthMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getNumberOfPages">
            <soap12:operation soapAction="urn:getNumberOfPages" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConsumerEntries">
            <soap12:operation soapAction="urn:getConsumerEntries" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteConsumerEntry">
            <soap12:operation soapAction="urn:deleteConsumerEntry" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConsumerPagedEntries">
            <soap12:operation soapAction="urn:getConsumerPagedEntries" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConsumerEntry">
            <soap12:operation soapAction="urn:getConsumerEntry" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addConsumerEntry">
            <soap12:operation soapAction="urn:addConsumerEntry" style="document"/>

            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OAuthMgtServiceHttpBinding" type="axis2:OAuthMgtServicePortType">

        <http:binding verb="POST"/>
        <wsdl:operation name="getNumberOfPages">
            <http:operation location="getNumberOfPages"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getConsumerEntries">
            <http:operation location="getConsumerEntries"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="deleteConsumerEntry">
            <http:operation location="deleteConsumerEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getConsumerPagedEntries">
            <http:operation location="getConsumerPagedEntries"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="getConsumerEntry">
            <http:operation location="getConsumerEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="addConsumerEntry">
            <http:operation location="addConsumerEntry"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OAuthMgtService">
        <wsdl:port name="OAuthMgtServiceHttpSoap11Endpoint" binding="axis2:OAuthMgtServiceSoap11Binding">
            <soap:address
                    location="http://192.168.0.103:8080/services/OAuthMgtService.OAuthMgtServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OAuthMgtServiceHttpsSoap11Endpoint" binding="axis2:OAuthMgtServiceSoap11Binding">
            <soap:address
                    location="https://192.168.0.103:8443/services/OAuthMgtService.OAuthMgtServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>

        <wsdl:port name="OAuthMgtServiceHttpSoap12Endpoint" binding="axis2:OAuthMgtServiceSoap12Binding">
            <soap12:address
                    location="http://192.168.0.103:8080/services/OAuthMgtService.OAuthMgtServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OAuthMgtServiceHttpsSoap12Endpoint" binding="axis2:OAuthMgtServiceSoap12Binding">
            <soap12:address
                    location="https://192.168.0.103:8443/services/OAuthMgtService.OAuthMgtServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OAuthMgtServiceHttpEndpoint" binding="axis2:OAuthMgtServiceHttpBinding">
            <http:address location="http://192.168.0.103:8080/services/OAuthMgtService.OAuthMgtServiceHttpEndpoint/"/>
        </wsdl:port>

        <wsdl:port name="OAuthMgtServiceHttpsEndpoint" binding="axis2:OAuthMgtServiceHttpBinding">
            <http:address location="https://192.168.0.103:8443/services/OAuthMgtService.OAuthMgtServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>