service-stubs/org.wso2.carbon.analytics.common.jmx.agent.stub/src/main/resources/JmxAgent.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://io.java/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://agent.jmx.common.analytics.carbon.wso2.org" xmlns:ax27="http://exceptions.agent.jmx.common.analytics.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax211="http://profiles.agent.jmx.common.analytics.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://agent.jmx.common.analytics.carbon.wso2.org">
    <wsdl:documentation>JmxAgent</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://profiles.agent.jmx.common.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="Profile">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="cronExpression" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="selectedMBeans" nillable="true" type="ax211:MBean"/>
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="version" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MBeanName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="ax211:MBeanAttribute"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MBeanAttribute">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aliasName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax211:MBeanAttributeProperty"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MBeanAttributeProperty">
                <xs:sequence>
                    <xs:element minOccurs="0" name="aliasName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.agent.jmx.common.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="ProfileDoesNotExistException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="JmxProfileException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProfileAlreadyExistsException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax212="http://profiles.agent.jmx.common.analytics.carbon.wso2.org/xsd" xmlns:ax28="http://exceptions.agent.jmx.common.analytics.carbon.wso2.org/xsd" xmlns:ax210="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://agent.jmx.common.analytics.carbon.wso2.org">
            <xs:import namespace="http://exceptions.agent.jmx.common.analytics.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://io.java/xsd"/>
            <xs:import namespace="http://profiles.agent.jmx.common.analytics.carbon.wso2.org/xsd"/>
            <xs:element name="JmxAgentProfileDoesNotExistException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ProfileDoesNotExistException" nillable="true" type="ax27:ProfileDoesNotExistException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startMonitoringProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JmxAgentIOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax29:IOException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMBeans">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMBeansResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ArrayOfString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ArrayOfString">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="array" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="testDataPublisherAvailability">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="connectionType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="port" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testDataPublisherAvailabilityResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addToolboxProfile">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="addToolboxProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stopMonitoringProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JmxAgentJmxProfileException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="JmxProfileException" nillable="true" type="ax27:JmxProfileException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profile" nillable="true" type="ax212:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllProfiles">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllProfilesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JmxAgentProfileAlreadyExistsException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ProfileAlreadyExistsException" nillable="true" type="ax27:ProfileAlreadyExistsException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profile" nillable="true" type="ax212:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:Profile"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JmxAgentMalformedObjectNameException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MalformedObjectNameException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JmxAgentIntrospectionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IntrospectionException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JmxAgentInstanceNotFoundException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InstanceNotFoundException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="JmxAgentReflectionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ReflectionException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMBeanAttributeInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mBean" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMBeanAttributeInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:ArrayOfString"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="startMonitoringProfileRequest">
        <wsdl:part name="parameters" element="ns:startMonitoringProfile"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentProfileDoesNotExistException">
        <wsdl:part name="parameters" element="ns:JmxAgentProfileDoesNotExistException"/>
    </wsdl:message>
    <wsdl:message name="updateProfileRequest">
        <wsdl:part name="parameters" element="ns:updateProfile"/>
    </wsdl:message>
    <wsdl:message name="updateProfileResponse">
        <wsdl:part name="parameters" element="ns:updateProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentJmxProfileException">
        <wsdl:part name="parameters" element="ns:JmxAgentJmxProfileException"/>
    </wsdl:message>
    <wsdl:message name="getMBeansRequest">
        <wsdl:part name="parameters" element="ns:getMBeans"/>
    </wsdl:message>
    <wsdl:message name="getMBeansResponse">
        <wsdl:part name="parameters" element="ns:getMBeansResponse"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentIOException">
        <wsdl:part name="parameters" element="ns:JmxAgentIOException"/>
    </wsdl:message>
    <wsdl:message name="deleteProfileRequest">
        <wsdl:part name="parameters" element="ns:deleteProfile"/>
    </wsdl:message>
    <wsdl:message name="deleteProfileResponse">
        <wsdl:part name="parameters" element="ns:deleteProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="addProfileRequest">
        <wsdl:part name="parameters" element="ns:addProfile"/>
    </wsdl:message>
    <wsdl:message name="addProfileResponse">
        <wsdl:part name="parameters" element="ns:addProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentProfileAlreadyExistsException">
        <wsdl:part name="parameters" element="ns:JmxAgentProfileAlreadyExistsException"/>
    </wsdl:message>
    <wsdl:message name="stopMonitoringProfileRequest">
        <wsdl:part name="parameters" element="ns:stopMonitoringProfile"/>
    </wsdl:message>
    <wsdl:message name="testDataPublisherAvailabilityRequest">
        <wsdl:part name="parameters" element="ns:testDataPublisherAvailability"/>
    </wsdl:message>
    <wsdl:message name="testDataPublisherAvailabilityResponse">
        <wsdl:part name="parameters" element="ns:testDataPublisherAvailabilityResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllProfilesRequest">
        <wsdl:part name="parameters" element="ns:getAllProfiles"/>
    </wsdl:message>
    <wsdl:message name="getAllProfilesResponse">
        <wsdl:part name="parameters" element="ns:getAllProfilesResponse"/>
    </wsdl:message>
    <wsdl:message name="getProfileRequest">
        <wsdl:part name="parameters" element="ns:getProfile"/>
    </wsdl:message>
    <wsdl:message name="getProfileResponse">
        <wsdl:part name="parameters" element="ns:getProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="getMBeanAttributeInfoRequest">
        <wsdl:part name="parameters" element="ns:getMBeanAttributeInfo"/>
    </wsdl:message>
    <wsdl:message name="getMBeanAttributeInfoResponse">
        <wsdl:part name="parameters" element="ns:getMBeanAttributeInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentMalformedObjectNameException">
        <wsdl:part name="parameters" element="ns:JmxAgentMalformedObjectNameException"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentIntrospectionException">
        <wsdl:part name="parameters" element="ns:JmxAgentIntrospectionException"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentInstanceNotFoundException">
        <wsdl:part name="parameters" element="ns:JmxAgentInstanceNotFoundException"/>
    </wsdl:message>
    <wsdl:message name="JmxAgentReflectionException">
        <wsdl:part name="parameters" element="ns:JmxAgentReflectionException"/>
    </wsdl:message>
    <wsdl:message name="addToolboxProfileRequest">
        <wsdl:part name="parameters" element="ns:addToolboxProfile"/>
    </wsdl:message>
    <wsdl:message name="addToolboxProfileResponse">
        <wsdl:part name="parameters" element="ns:addToolboxProfileResponse"/>
    </wsdl:message>
    <wsdl:portType name="JmxAgentPortType">
        <wsdl:operation name="startMonitoringProfile">
            <wsdl:input message="ns:startMonitoringProfileRequest" wsaw:Action="urn:startMonitoringProfile"/>
            <wsdl:fault message="ns:JmxAgentProfileDoesNotExistException" name="JmxAgentProfileDoesNotExistException" wsaw:Action="urn:startMonitoringProfileJmxAgentProfileDoesNotExistException"/>
        </wsdl:operation>
        <wsdl:operation name="updateProfile">
            <wsdl:input message="ns:updateProfileRequest" wsaw:Action="urn:updateProfile"/>
            <wsdl:output message="ns:updateProfileResponse" wsaw:Action="urn:updateProfileResponse"/>
            <wsdl:fault message="ns:JmxAgentProfileDoesNotExistException" name="JmxAgentProfileDoesNotExistException" wsaw:Action="urn:updateProfileJmxAgentProfileDoesNotExistException"/>
            <wsdl:fault message="ns:JmxAgentJmxProfileException" name="JmxAgentJmxProfileException" wsaw:Action="urn:updateProfileJmxAgentJmxProfileException"/>
        </wsdl:operation>
        <wsdl:operation name="getMBeans">
            <wsdl:input message="ns:getMBeansRequest" wsaw:Action="urn:getMBeans"/>
            <wsdl:output message="ns:getMBeansResponse" wsaw:Action="urn:getMBeansResponse"/>
            <wsdl:fault message="ns:JmxAgentIOException" name="JmxAgentIOException" wsaw:Action="urn:getMBeansJmxAgentIOException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteProfile">
            <wsdl:input message="ns:deleteProfileRequest" wsaw:Action="urn:deleteProfile"/>
            <wsdl:output message="ns:deleteProfileResponse" wsaw:Action="urn:deleteProfileResponse"/>
            <wsdl:fault message="ns:JmxAgentProfileDoesNotExistException" name="JmxAgentProfileDoesNotExistException" wsaw:Action="urn:deleteProfileJmxAgentProfileDoesNotExistException"/>
            <wsdl:fault message="ns:JmxAgentJmxProfileException" name="JmxAgentJmxProfileException" wsaw:Action="urn:deleteProfileJmxAgentJmxProfileException"/>
        </wsdl:operation>
        <wsdl:operation name="addProfile">
            <wsdl:input message="ns:addProfileRequest" wsaw:Action="urn:addProfile"/>
            <wsdl:output message="ns:addProfileResponse" wsaw:Action="urn:addProfileResponse"/>
            <wsdl:fault message="ns:JmxAgentProfileAlreadyExistsException" name="JmxAgentProfileAlreadyExistsException" wsaw:Action="urn:addProfileJmxAgentProfileAlreadyExistsException"/>
            <wsdl:fault message="ns:JmxAgentJmxProfileException" name="JmxAgentJmxProfileException" wsaw:Action="urn:addProfileJmxAgentJmxProfileException"/>
        </wsdl:operation>
        <wsdl:operation name="stopMonitoringProfile">
            <wsdl:input message="ns:stopMonitoringProfileRequest" wsaw:Action="urn:stopMonitoringProfile"/>
            <wsdl:fault message="ns:JmxAgentProfileDoesNotExistException" name="JmxAgentProfileDoesNotExistException" wsaw:Action="urn:stopMonitoringProfileJmxAgentProfileDoesNotExistException"/>
        </wsdl:operation>
        <wsdl:operation name="testDataPublisherAvailability">
            <wsdl:input message="ns:testDataPublisherAvailabilityRequest" wsaw:Action="urn:testDataPublisherAvailability"/>
            <wsdl:output message="ns:testDataPublisherAvailabilityResponse" wsaw:Action="urn:testDataPublisherAvailabilityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllProfiles">
            <wsdl:input message="ns:getAllProfilesRequest" wsaw:Action="urn:getAllProfiles"/>
            <wsdl:output message="ns:getAllProfilesResponse" wsaw:Action="urn:getAllProfilesResponse"/>
            <wsdl:fault message="ns:JmxAgentJmxProfileException" name="JmxAgentJmxProfileException" wsaw:Action="urn:getAllProfilesJmxAgentJmxProfileException"/>
        </wsdl:operation>
        <wsdl:operation name="getProfile">
            <wsdl:input message="ns:getProfileRequest" wsaw:Action="urn:getProfile"/>
            <wsdl:output message="ns:getProfileResponse" wsaw:Action="urn:getProfileResponse"/>
            <wsdl:fault message="ns:JmxAgentProfileDoesNotExistException" name="JmxAgentProfileDoesNotExistException" wsaw:Action="urn:getProfileJmxAgentProfileDoesNotExistException"/>
            <wsdl:fault message="ns:JmxAgentJmxProfileException" name="JmxAgentJmxProfileException" wsaw:Action="urn:getProfileJmxAgentJmxProfileException"/>
        </wsdl:operation>
        <wsdl:operation name="getMBeanAttributeInfo">
            <wsdl:input message="ns:getMBeanAttributeInfoRequest" wsaw:Action="urn:getMBeanAttributeInfo"/>
            <wsdl:output message="ns:getMBeanAttributeInfoResponse" wsaw:Action="urn:getMBeanAttributeInfoResponse"/>
            <wsdl:fault message="ns:JmxAgentMalformedObjectNameException" name="JmxAgentMalformedObjectNameException" wsaw:Action="urn:getMBeanAttributeInfoJmxAgentMalformedObjectNameException"/>
            <wsdl:fault message="ns:JmxAgentIntrospectionException" name="JmxAgentIntrospectionException" wsaw:Action="urn:getMBeanAttributeInfoJmxAgentIntrospectionException"/>
            <wsdl:fault message="ns:JmxAgentInstanceNotFoundException" name="JmxAgentInstanceNotFoundException" wsaw:Action="urn:getMBeanAttributeInfoJmxAgentInstanceNotFoundException"/>
            <wsdl:fault message="ns:JmxAgentIOException" name="JmxAgentIOException" wsaw:Action="urn:getMBeanAttributeInfoJmxAgentIOException"/>
            <wsdl:fault message="ns:JmxAgentReflectionException" name="JmxAgentReflectionException" wsaw:Action="urn:getMBeanAttributeInfoJmxAgentReflectionException"/>
        </wsdl:operation>
        <wsdl:operation name="addToolboxProfile">
            <wsdl:input message="ns:addToolboxProfileRequest" wsaw:Action="urn:addToolboxProfile"/>
            <wsdl:output message="ns:addToolboxProfileResponse" wsaw:Action="urn:addToolboxProfileResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JmxAgentSoap11Binding" type="ns:JmxAgentPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startMonitoringProfile">
            <soap:operation soapAction="urn:startMonitoringProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProfile">
            <soap:operation soapAction="urn:updateProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMBeans">
            <soap:operation soapAction="urn:getMBeans" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentIOException">
                <soap:fault use="literal" name="JmxAgentIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProfile">
            <soap:operation soapAction="urn:deleteProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addProfile">
            <soap:operation soapAction="urn:addProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileAlreadyExistsException">
                <soap:fault use="literal" name="JmxAgentProfileAlreadyExistsException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="stopMonitoringProfile">
            <soap:operation soapAction="urn:stopMonitoringProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="testDataPublisherAvailability">
            <soap:operation soapAction="urn:testDataPublisherAvailability" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllProfiles">
            <soap:operation soapAction="urn:getAllProfiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfile">
            <soap:operation soapAction="urn:getProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMBeanAttributeInfo">
            <soap:operation soapAction="urn:getMBeanAttributeInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentReflectionException">
                <soap:fault use="literal" name="JmxAgentReflectionException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentInstanceNotFoundException">
                <soap:fault use="literal" name="JmxAgentInstanceNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentMalformedObjectNameException">
                <soap:fault use="literal" name="JmxAgentMalformedObjectNameException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentIOException">
                <soap:fault use="literal" name="JmxAgentIOException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentIntrospectionException">
                <soap:fault use="literal" name="JmxAgentIntrospectionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addToolboxProfile">
            <soap:operation soapAction="urn:addToolboxProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JmxAgentSoap12Binding" type="ns:JmxAgentPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startMonitoringProfile">
            <soap12:operation soapAction="urn:startMonitoringProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap12:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProfile">
            <soap12:operation soapAction="urn:updateProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap12:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap12:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMBeans">
            <soap12:operation soapAction="urn:getMBeans" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentIOException">
                <soap12:fault use="literal" name="JmxAgentIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteProfile">
            <soap12:operation soapAction="urn:deleteProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap12:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap12:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addProfile">
            <soap12:operation soapAction="urn:addProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileAlreadyExistsException">
                <soap12:fault use="literal" name="JmxAgentProfileAlreadyExistsException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap12:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="stopMonitoringProfile">
            <soap12:operation soapAction="urn:stopMonitoringProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap12:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="testDataPublisherAvailability">
            <soap12:operation soapAction="urn:testDataPublisherAvailability" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllProfiles">
            <soap12:operation soapAction="urn:getAllProfiles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap12:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getProfile">
            <soap12:operation soapAction="urn:getProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentProfileDoesNotExistException">
                <soap12:fault use="literal" name="JmxAgentProfileDoesNotExistException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentJmxProfileException">
                <soap12:fault use="literal" name="JmxAgentJmxProfileException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMBeanAttributeInfo">
            <soap12:operation soapAction="urn:getMBeanAttributeInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="JmxAgentReflectionException">
                <soap12:fault use="literal" name="JmxAgentReflectionException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentInstanceNotFoundException">
                <soap12:fault use="literal" name="JmxAgentInstanceNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentMalformedObjectNameException">
                <soap12:fault use="literal" name="JmxAgentMalformedObjectNameException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentIOException">
                <soap12:fault use="literal" name="JmxAgentIOException"/>
            </wsdl:fault>
            <wsdl:fault name="JmxAgentIntrospectionException">
                <soap12:fault use="literal" name="JmxAgentIntrospectionException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addToolboxProfile">
            <soap12:operation soapAction="urn:addToolboxProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JmxAgentHttpBinding" type="ns:JmxAgentPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="startMonitoringProfile">
            <http:operation location="startMonitoringProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateProfile">
            <http:operation location="updateProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMBeans">
            <http:operation location="getMBeans"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteProfile">
            <http:operation location="deleteProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addProfile">
            <http:operation location="addProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="stopMonitoringProfile">
            <http:operation location="stopMonitoringProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="testDataPublisherAvailability">
            <http:operation location="testDataPublisherAvailability"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllProfiles">
            <http:operation location="getAllProfiles"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProfile">
            <http:operation location="getProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMBeanAttributeInfo">
            <http:operation location="getMBeanAttributeInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addToolboxProfile">
            <http:operation location="addToolboxProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JmxAgent">
        <wsdl:port name="JmxAgentHttpsSoap11Endpoint" binding="ns:JmxAgentSoap11Binding">
            <soap:address location="https://192.168.1.2:9443/services/JmxAgent.JmxAgentHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JmxAgentHttpsSoap12Endpoint" binding="ns:JmxAgentSoap12Binding">
            <soap12:address location="https://192.168.1.2:9443/services/JmxAgent.JmxAgentHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JmxAgentHttpsEndpoint" binding="ns:JmxAgentHttpBinding">
            <http:address location="https://192.168.1.2:9443/services/JmxAgent.JmxAgentHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>