components/dashboard/org.wso2.carbon.dashboard.mgt.users.ui/src/main/resources/GadgetServerUserManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.wso2.wsf/tools" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://users.mgt.dashboard.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://users.mgt.dashboard.carbon.wso2.org">
    <wsdl:documentation>GadgetServerUserManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.wso2.wsf/tools">
            <xs:element name="setUserSelfRegistration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="setUserSelfRegistrationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="setUserExternalGadgetAddition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUserExternalGadgetAdditionResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setSelfRegistration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setSelfRegistrationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="setExternalGadgetAddition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setExternalGadgetAdditionResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setAnonModeState">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="flag" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setAnonModeStateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="isSessionValidResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="isSelfRegistration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isSelfRegistrationResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPortalPermissionsSetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isExternalGadgetAdditionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="isAnonModeActive">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAnonModeActiveResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="setUserExternalGadgetAdditionRequest">

        <wsdl:part name="parameters" element="ns:setUserExternalGadgetAddition" />
    </wsdl:message>
    <wsdl:message name="setUserExternalGadgetAdditionResponse">
        <wsdl:part name="parameters" element="ns:setUserExternalGadgetAdditionResponse" />
    </wsdl:message>
    <wsdl:message name="setExternalGadgetAdditionRequest">
        <wsdl:part name="parameters" element="ns:setExternalGadgetAddition" />
    </wsdl:message>
    <wsdl:message name="setExternalGadgetAdditionResponse">

        <wsdl:part name="parameters" element="ns:setExternalGadgetAdditionResponse" />
    </wsdl:message>
    <wsdl:message name="setSelfRegistrationRequest">
        <wsdl:part name="parameters" element="ns:setSelfRegistration" />
    </wsdl:message>
    <wsdl:message name="setSelfRegistrationResponse">
        <wsdl:part name="parameters" element="ns:setSelfRegistrationResponse" />
    </wsdl:message>
    <wsdl:message name="setAnonModeStateRequest">

        <wsdl:part name="parameters" element="ns:setAnonModeState" />
    </wsdl:message>
    <wsdl:message name="setAnonModeStateResponse">
        <wsdl:part name="parameters" element="ns:setAnonModeStateResponse" />
    </wsdl:message>
    <wsdl:message name="isSessionValidRequest" />
    <wsdl:message name="isSessionValidResponse">
        <wsdl:part name="parameters" element="ns:isSessionValidResponse" />
    </wsdl:message>

    <wsdl:message name="isSelfRegistrationRequest">
        <wsdl:part name="parameters" element="ns:isSelfRegistration" />
    </wsdl:message>
    <wsdl:message name="isSelfRegistrationResponse">
        <wsdl:part name="parameters" element="ns:isSelfRegistrationResponse" />
    </wsdl:message>
    <wsdl:message name="setUserSelfRegistrationRequest">
        <wsdl:part name="parameters" element="ns:setUserSelfRegistration" />
    </wsdl:message>

    <wsdl:message name="setUserSelfRegistrationResponse">
        <wsdl:part name="parameters" element="ns:setUserSelfRegistrationResponse" />
    </wsdl:message>
    <wsdl:message name="isAnonModeActiveRequest">
        <wsdl:part name="parameters" element="ns:isAnonModeActive" />
    </wsdl:message>
    <wsdl:message name="isAnonModeActiveResponse">
        <wsdl:part name="parameters" element="ns:isAnonModeActiveResponse" />
    </wsdl:message>

    <wsdl:message name="isPortalPermissionsSetRequest" />
    <wsdl:message name="isPortalPermissionsSetResponse">
        <wsdl:part name="parameters" element="ns:isPortalPermissionsSetResponse" />
    </wsdl:message>
    <wsdl:message name="isExternalGadgetAdditionRequest" />
    <wsdl:message name="isExternalGadgetAdditionResponse">
        <wsdl:part name="parameters" element="ns:isExternalGadgetAdditionResponse" />
    </wsdl:message>
    <wsdl:portType name="GadgetServerUserManagementServicePortType">

        <wsdl:operation name="setUserExternalGadgetAddition">
            <wsdl:input message="tns:setUserExternalGadgetAdditionRequest" wsaw:Action="urn:setUserExternalGadgetAddition" />
            <wsdl:output message="tns:setUserExternalGadgetAdditionResponse" wsaw:Action="urn:setUserExternalGadgetAdditionResponse" />
        </wsdl:operation>
        <wsdl:operation name="setExternalGadgetAddition">
            <wsdl:input message="tns:setExternalGadgetAdditionRequest" wsaw:Action="urn:setExternalGadgetAddition" />
            <wsdl:output message="tns:setExternalGadgetAdditionResponse" wsaw:Action="urn:setExternalGadgetAdditionResponse" />
        </wsdl:operation>
        <wsdl:operation name="setSelfRegistration">

            <wsdl:input message="tns:setSelfRegistrationRequest" wsaw:Action="urn:setSelfRegistration" />
            <wsdl:output message="tns:setSelfRegistrationResponse" wsaw:Action="urn:setSelfRegistrationResponse" />
        </wsdl:operation>
        <wsdl:operation name="setAnonModeState">
            <wsdl:input message="tns:setAnonModeStateRequest" wsaw:Action="urn:setAnonModeState" />
            <wsdl:output message="tns:setAnonModeStateResponse" wsaw:Action="urn:setAnonModeStateResponse" />
        </wsdl:operation>
        <wsdl:operation name="isSessionValid">
            <wsdl:input message="tns:isSessionValidRequest" wsaw:Action="urn:isSessionValid" />

            <wsdl:output message="tns:isSessionValidResponse" wsaw:Action="urn:isSessionValidResponse" />
        </wsdl:operation>
        <wsdl:operation name="isSelfRegistration">
            <wsdl:input message="tns:isSelfRegistrationRequest" wsaw:Action="urn:isSelfRegistration" />
            <wsdl:output message="tns:isSelfRegistrationResponse" wsaw:Action="urn:isSelfRegistrationResponse" />
        </wsdl:operation>
        <wsdl:operation name="setUserSelfRegistration">
            <wsdl:input message="tns:setUserSelfRegistrationRequest" wsaw:Action="urn:setUserSelfRegistration" />
            <wsdl:output message="tns:setUserSelfRegistrationResponse" wsaw:Action="urn:setUserSelfRegistrationResponse" />

        </wsdl:operation>
        <wsdl:operation name="isAnonModeActive">
            <wsdl:input message="tns:isAnonModeActiveRequest" wsaw:Action="urn:isAnonModeActive" />
            <wsdl:output message="tns:isAnonModeActiveResponse" wsaw:Action="urn:isAnonModeActiveResponse" />
        </wsdl:operation>
        <wsdl:operation name="isPortalPermissionsSet">
            <wsdl:input message="tns:isPortalPermissionsSetRequest" wsaw:Action="urn:isPortalPermissionsSet" />
            <wsdl:output message="tns:isPortalPermissionsSetResponse" wsaw:Action="urn:isPortalPermissionsSetResponse" />
        </wsdl:operation>

        <wsdl:operation name="isExternalGadgetAddition">
            <wsdl:input message="tns:isExternalGadgetAdditionRequest" wsaw:Action="urn:isExternalGadgetAddition" />
            <wsdl:output message="tns:isExternalGadgetAdditionResponse" wsaw:Action="urn:isExternalGadgetAdditionResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GadgetServerUserManagementServiceSoap11Binding" type="tns:GadgetServerUserManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="setUserExternalGadgetAddition">
            <soap:operation soapAction="urn:setUserExternalGadgetAddition" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setExternalGadgetAddition">
            <soap:operation soapAction="urn:setExternalGadgetAddition" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setAnonModeState">
            <soap:operation soapAction="urn:setAnonModeState" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setSelfRegistration">
            <soap:operation soapAction="urn:setSelfRegistration" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isSessionValid">
            <soap:operation soapAction="urn:isSessionValid" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserSelfRegistration">
            <soap:operation soapAction="urn:setUserSelfRegistration" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isSelfRegistration">
            <soap:operation soapAction="urn:isSelfRegistration" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPortalPermissionsSet">
            <soap:operation soapAction="urn:isPortalPermissionsSet" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAnonModeActive">
            <soap:operation soapAction="urn:isAnonModeActive" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isExternalGadgetAddition">
            <soap:operation soapAction="urn:isExternalGadgetAddition" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GadgetServerUserManagementServiceSoap12Binding" type="tns:GadgetServerUserManagementServicePortType">

        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="setUserExternalGadgetAddition">
            <soap12:operation soapAction="urn:setUserExternalGadgetAddition" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="setExternalGadgetAddition">
            <soap12:operation soapAction="urn:setExternalGadgetAddition" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="setAnonModeState">
            <soap12:operation soapAction="urn:setAnonModeState" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="setSelfRegistration">
            <soap12:operation soapAction="urn:setSelfRegistration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="isSessionValid">
            <soap12:operation soapAction="urn:isSessionValid" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="setUserSelfRegistration">
            <soap12:operation soapAction="urn:setUserSelfRegistration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="isSelfRegistration">
            <soap12:operation soapAction="urn:isSelfRegistration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="isPortalPermissionsSet">
            <soap12:operation soapAction="urn:isPortalPermissionsSet" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="isAnonModeActive">
            <soap12:operation soapAction="urn:isAnonModeActive" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
        <wsdl:operation name="isExternalGadgetAddition">
            <soap12:operation soapAction="urn:isExternalGadgetAddition" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>

        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GadgetServerUserManagementServiceHttpBinding" type="tns:GadgetServerUserManagementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="setUserExternalGadgetAddition">
            <http:operation location="setUserExternalGadgetAddition" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setExternalGadgetAddition">
            <http:operation location="setExternalGadgetAddition" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setAnonModeState">
            <http:operation location="setAnonModeState" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setSelfRegistration">
            <http:operation location="setSelfRegistration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isSessionValid">
            <http:operation location="isSessionValid" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setUserSelfRegistration">
            <http:operation location="setUserSelfRegistration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isSelfRegistration">
            <http:operation location="isSelfRegistration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPortalPermissionsSet">
            <http:operation location="isPortalPermissionsSet" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isAnonModeActive">
            <http:operation location="isAnonModeActive" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isExternalGadgetAddition">
            <http:operation location="isExternalGadgetAddition" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>

            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GadgetServerUserManagementService">
        <wsdl:port name="GadgetServerUserManagementServiceHttpSoap11Endpoint" binding="tns:GadgetServerUserManagementServiceSoap11Binding">
            <soap:address location="http://10.100.0.20:9763/services/GadgetServerUserManagementService.GadgetServerUserManagementServiceHttpSoap11Endpoint/" />
        </wsdl:port>

        <wsdl:port name="GadgetServerUserManagementServiceHttpsSoap11Endpoint" binding="tns:GadgetServerUserManagementServiceSoap11Binding">
            <soap:address location="https://10.100.0.20:9443/services/GadgetServerUserManagementService.GadgetServerUserManagementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GadgetServerUserManagementServiceHttpsSoap12Endpoint" binding="tns:GadgetServerUserManagementServiceSoap12Binding">
            <soap12:address location="https://10.100.0.20:9443/services/GadgetServerUserManagementService.GadgetServerUserManagementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GadgetServerUserManagementServiceHttpSoap12Endpoint" binding="tns:GadgetServerUserManagementServiceSoap12Binding">
            <soap12:address location="http://10.100.0.20:9763/services/GadgetServerUserManagementService.GadgetServerUserManagementServiceHttpSoap12Endpoint/" />
        </wsdl:port>

        <wsdl:port name="GadgetServerUserManagementServiceHttpEndpoint" binding="tns:GadgetServerUserManagementServiceHttpBinding">
            <http:address location="http://10.100.0.20:9763/services/GadgetServerUserManagementService.GadgetServerUserManagementServiceHttpEndpoint/" />
        </wsdl:port>
        <wsdl:port name="GadgetServerUserManagementServiceHttpsEndpoint" binding="tns:GadgetServerUserManagementServiceHttpBinding">
            <http:address location="https://10.100.0.20:9443/services/GadgetServerUserManagementService.GadgetServerUserManagementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>