service-stubs/org.wso2.carbon.bam.analyzer.stub/src/main/resources/BAMConfigAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://common.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.core.bam.carbon.wso2.org" xmlns:ax23="http://service.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:ax21="http://util.bam.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.bam.carbon.wso2.org">
    <wsdl:documentation>BAMConfigAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.dataobjects.common.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ServerDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean" />
                    <xs:element minOccurs="0" name="category" type="xs:int" />
                    <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="subscriptionEPR" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tenantID" type="xs:int" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://util.bam.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax26="http://common.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:ax24="http://service.dataobjects.common.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://util.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://service.dataobjects.common.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://common.dataobjects.common.bam.carbon.wso2.org/xsd" />
            <xs:element name="BAMConfigAdminServiceBAMException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BAMException" nillable="true" type="ax21:BAMException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="server" nillable="true" type="ax23:ServerDO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unsubscribe">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="brokerURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serverType" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="subscribe">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="brokerURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="subscriberURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="subscribeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setDataRetentionPeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="timeRange" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setDataArchivalPeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="timeRange" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dto" nillable="true" type="ax25:MonitoredServerDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:ServerDO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ServerDO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataRetentionPeriod">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataRetentionPeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataArchivalPeriod">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataArchivalPeriodResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverID" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="monitoredServer" nillable="true" type="ax23:ServerDO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addServerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverID" type="xs:int" />
                        <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.dataobjects.common.bam.carbon.wso2.org/xsd">
            <xs:complexType name="MonitoredServerDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="category" type="xs:int" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="pollingInterval" type="xs:long" />
                    <xs:element minOccurs="0" name="serverId" type="xs:int" />
                    <xs:element minOccurs="0" name="serverType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionEprs" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.bam.carbon.wso2.org/xsd">
            <xs:complexType name="BAMException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addServerRequest">
        <wsdl:part name="parameters" element="ns1:addServer" />
    </wsdl:message>
    <wsdl:message name="addServerResponse">
        <wsdl:part name="parameters" element="ns1:addServerResponse" />
    </wsdl:message>
    <wsdl:message name="BAMConfigAdminServiceBAMException">
        <wsdl:part name="parameters" element="ns1:BAMConfigAdminServiceBAMException" />
    </wsdl:message>
    <wsdl:message name="setDataArchivalPeriodRequest">
        <wsdl:part name="parameters" element="ns1:setDataArchivalPeriod" />
    </wsdl:message>
    <wsdl:message name="updateServerRequest">
        <wsdl:part name="parameters" element="ns1:updateServer" />
    </wsdl:message>
    <wsdl:message name="unsubscribeRequest">
        <wsdl:part name="parameters" element="ns1:unsubscribe" />
    </wsdl:message>
    <wsdl:message name="getDataRetentionPeriodRequest">
        <wsdl:part name="parameters" element="ns1:getDataRetentionPeriod" />
    </wsdl:message>
    <wsdl:message name="getDataRetentionPeriodResponse">
        <wsdl:part name="parameters" element="ns1:getDataRetentionPeriodResponse" />
    </wsdl:message>
    <wsdl:message name="removeServerRequest">
        <wsdl:part name="parameters" element="ns1:removeServer" />
    </wsdl:message>
    <wsdl:message name="deactivateServerRequest">
        <wsdl:part name="parameters" element="ns1:deactivateServer" />
    </wsdl:message>
    <wsdl:message name="setDataRetentionPeriodRequest">
        <wsdl:part name="parameters" element="ns1:setDataRetentionPeriod" />
    </wsdl:message>
    <wsdl:message name="subscribeRequest">
        <wsdl:part name="parameters" element="ns1:subscribe" />
    </wsdl:message>
    <wsdl:message name="subscribeResponse">
        <wsdl:part name="parameters" element="ns1:subscribeResponse" />
    </wsdl:message>
    <wsdl:message name="activateServerRequest">
        <wsdl:part name="parameters" element="ns1:activateServer" />
    </wsdl:message>
    <wsdl:message name="getServerDetailsRequest">
        <wsdl:part name="parameters" element="ns1:getServerDetails" />
    </wsdl:message>
    <wsdl:message name="getServerDetailsResponse">
        <wsdl:part name="parameters" element="ns1:getServerDetailsResponse" />
    </wsdl:message>
    <wsdl:message name="getServerListRequest">
        <wsdl:part name="parameters" element="ns1:getServerList" />
    </wsdl:message>
    <wsdl:message name="getServerListResponse">
        <wsdl:part name="parameters" element="ns1:getServerListResponse" />
    </wsdl:message>
    <wsdl:message name="getDataArchivalPeriodRequest">
        <wsdl:part name="parameters" element="ns1:getDataArchivalPeriod" />
    </wsdl:message>
    <wsdl:message name="getDataArchivalPeriodResponse">
        <wsdl:part name="parameters" element="ns1:getDataArchivalPeriodResponse" />
    </wsdl:message>
    <wsdl:portType name="BAMConfigAdminServicePortType">
        <wsdl:operation name="addServer">
            <wsdl:input message="tns:addServerRequest" wsaw:Action="urn:addServer" />
            <wsdl:output message="tns:addServerResponse" wsaw:Action="urn:addServerResponse" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:addServerBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="setDataArchivalPeriod">
            <wsdl:input message="tns:setDataArchivalPeriodRequest" wsaw:Action="urn:setDataArchivalPeriod" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:setDataArchivalPeriodBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="updateServer">
            <wsdl:input message="tns:updateServerRequest" wsaw:Action="urn:updateServer" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:updateServerBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <wsdl:input message="tns:unsubscribeRequest" wsaw:Action="urn:unsubscribe" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:unsubscribeBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getDataRetentionPeriod">
            <wsdl:input message="tns:getDataRetentionPeriodRequest" wsaw:Action="urn:getDataRetentionPeriod" />
            <wsdl:output message="tns:getDataRetentionPeriodResponse" wsaw:Action="urn:getDataRetentionPeriodResponse" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:getDataRetentionPeriodBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="removeServer">
            <wsdl:input message="tns:removeServerRequest" wsaw:Action="urn:removeServer" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:removeServerBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="deactivateServer">
            <wsdl:input message="tns:deactivateServerRequest" wsaw:Action="urn:deactivateServer" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:deactivateServerBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="setDataRetentionPeriod">
            <wsdl:input message="tns:setDataRetentionPeriodRequest" wsaw:Action="urn:setDataRetentionPeriod" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:setDataRetentionPeriodBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <wsdl:input message="tns:subscribeRequest" wsaw:Action="urn:subscribe" />
            <wsdl:output message="tns:subscribeResponse" wsaw:Action="urn:subscribeResponse" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:subscribeBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="activateServer">
            <wsdl:input message="tns:activateServerRequest" wsaw:Action="urn:activateServer" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:activateServerBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getServerDetails">
            <wsdl:input message="tns:getServerDetailsRequest" wsaw:Action="urn:getServerDetails" />
            <wsdl:output message="tns:getServerDetailsResponse" wsaw:Action="urn:getServerDetailsResponse" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:getServerDetailsBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <wsdl:input message="tns:getServerListRequest" wsaw:Action="urn:getServerList" />
            <wsdl:output message="tns:getServerListResponse" wsaw:Action="urn:getServerListResponse" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:getServerListBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getDataArchivalPeriod">
            <wsdl:input message="tns:getDataArchivalPeriodRequest" wsaw:Action="urn:getDataArchivalPeriod" />
            <wsdl:output message="tns:getDataArchivalPeriodResponse" wsaw:Action="urn:getDataArchivalPeriodResponse" />
            <wsdl:fault message="tns:BAMConfigAdminServiceBAMException" name="BAMConfigAdminServiceBAMException" wsaw:Action="urn:getDataArchivalPeriodBAMConfigAdminServiceBAMException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BAMConfigAdminServiceSoap11Binding" type="tns:BAMConfigAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addServer">
            <soap:operation soapAction="urn:addServer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setDataArchivalPeriod">
            <soap:operation soapAction="urn:setDataArchivalPeriod" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateServer">
            <soap:operation soapAction="urn:updateServer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <soap:operation soapAction="urn:unsubscribe" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataRetentionPeriod">
            <soap:operation soapAction="urn:getDataRetentionPeriod" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateServer">
            <soap:operation soapAction="urn:deactivateServer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeServer">
            <soap:operation soapAction="urn:removeServer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setDataRetentionPeriod">
            <soap:operation soapAction="urn:setDataRetentionPeriod" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <soap:operation soapAction="urn:subscribe" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateServer">
            <soap:operation soapAction="urn:activateServer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerDetails">
            <soap:operation soapAction="urn:getServerDetails" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <soap:operation soapAction="urn:getServerList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataArchivalPeriod">
            <soap:operation soapAction="urn:getDataArchivalPeriod" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMConfigAdminServiceSoap12Binding" type="tns:BAMConfigAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addServer">
            <soap12:operation soapAction="urn:addServer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setDataArchivalPeriod">
            <soap12:operation soapAction="urn:setDataArchivalPeriod" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateServer">
            <soap12:operation soapAction="urn:updateServer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <soap12:operation soapAction="urn:unsubscribe" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataRetentionPeriod">
            <soap12:operation soapAction="urn:getDataRetentionPeriod" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateServer">
            <soap12:operation soapAction="urn:deactivateServer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeServer">
            <soap12:operation soapAction="urn:removeServer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setDataRetentionPeriod">
            <soap12:operation soapAction="urn:setDataRetentionPeriod" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <soap12:operation soapAction="urn:subscribe" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activateServer">
            <soap12:operation soapAction="urn:activateServer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerDetails">
            <soap12:operation soapAction="urn:getServerDetails" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <soap12:operation soapAction="urn:getServerList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataArchivalPeriod">
            <soap12:operation soapAction="urn:getDataArchivalPeriod" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMConfigAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMConfigAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMConfigAdminServiceHttpBinding" type="tns:BAMConfigAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="addServer">
            <http:operation location="addServer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setDataArchivalPeriod">
            <http:operation location="setDataArchivalPeriod" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateServer">
            <http:operation location="updateServer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="unsubscribe">
            <http:operation location="unsubscribe" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDataRetentionPeriod">
            <http:operation location="getDataRetentionPeriod" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateServer">
            <http:operation location="deactivateServer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeServer">
            <http:operation location="removeServer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setDataRetentionPeriod">
            <http:operation location="setDataRetentionPeriod" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="subscribe">
            <http:operation location="subscribe" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="activateServer">
            <http:operation location="activateServer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServerDetails">
            <http:operation location="getServerDetails" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <http:operation location="getServerList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataArchivalPeriod">
            <http:operation location="getDataArchivalPeriod" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BAMConfigAdminService">
        <wsdl:port name="BAMConfigAdminServiceHttpsSoap11Endpoint" binding="tns:BAMConfigAdminServiceSoap11Binding">
            <soap:address location="https://10.215.61.111:9443/services/BAMConfigAdminService.BAMConfigAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BAMConfigAdminServiceHttpsSoap12Endpoint" binding="tns:BAMConfigAdminServiceSoap12Binding">
            <soap12:address location="https://10.215.61.111:9443/services/BAMConfigAdminService.BAMConfigAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BAMConfigAdminServiceHttpsEndpoint" binding="tns:BAMConfigAdminServiceHttpBinding">
            <http:address location="https://10.215.61.111:9443/services/BAMConfigAdminService.BAMConfigAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>