service-stubs/org.wso2.carbon.bam.analyzer.stub/src/main/resources/BAMListAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://activity.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:ax27="http://util.bam.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax213="http://common.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax211="http://service.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:tns="http://services.core.bam.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.bam.carbon.wso2.org">
    <wsdl:documentation>BAMListAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.dataobjects.common.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ServiceDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverID" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServerDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean" />
                    <xs:element minOccurs="0" name="category" type="xs:int" />
                    <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="subscriptionEPR" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tenantID" type="xs:int" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OperationDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="operationID" type="xs:int" />
                    <xs:element minOccurs="0" name="serviceID" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://common.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:ax212="http://service.dataobjects.common.bam.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax28="http://util.bam.carbon.wso2.org/xsd" xmlns:ax210="http://activity.dataobjects.common.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://util.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://activity.dataobjects.common.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://service.dataobjects.common.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://common.dataobjects.common.bam.carbon.wso2.org/xsd" />
            <xs:element name="BAMListAdminServiceBAMException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BAMException" nillable="true" type="ax27:BAMException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getXpathConfigurations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverID" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getXpathConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:PropertyFilterDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverID" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:ServiceDO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerListWithCategoryName">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerListWithCategoryNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:ServerDO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax214:MonitoredServerDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:OperationDO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNamespaces">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xpathId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNamespacesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:NamespaceDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:MessageDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverID" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:ClientDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActivityList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getActivityListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:ActivityDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://activity.dataobjects.common.bam.carbon.wso2.org/xsd">
            <xs:complexType name="PropertyFilterDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="expression" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="expressionKey" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="namespaces" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverId" type="xs:int" />
                    <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NamespaceDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MessageDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="activityKeyId" type="xs:int" />
                    <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="messageKeyId" type="xs:int" />
                    <xs:element minOccurs="0" name="operationId" type="xs:int" />
                    <xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ActivityDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="activityKeyId" type="xs:int" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.dataobjects.common.bam.carbon.wso2.org/xsd">
            <xs:complexType name="MonitoredServerDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="category" type="xs:int" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="pollingInterval" type="xs:long" />
                    <xs:element minOccurs="0" name="serverId" type="xs:int" />
                    <xs:element minOccurs="0" name="serverType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptionEprs" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.bam.carbon.wso2.org/xsd">
            <xs:complexType name="BAMException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getXpathConfigurationsRequest">
        <wsdl:part name="parameters" element="ns1:getXpathConfigurations" />
    </wsdl:message>
    <wsdl:message name="getXpathConfigurationsResponse">
        <wsdl:part name="parameters" element="ns1:getXpathConfigurationsResponse" />
    </wsdl:message>
    <wsdl:message name="BAMListAdminServiceBAMException">
        <wsdl:part name="parameters" element="ns1:BAMListAdminServiceBAMException" />
    </wsdl:message>
    <wsdl:message name="getActivityListRequest">
        <wsdl:part name="parameters" element="ns1:getActivityList" />
    </wsdl:message>
    <wsdl:message name="getActivityListResponse">
        <wsdl:part name="parameters" element="ns1:getActivityListResponse" />
    </wsdl:message>
    <wsdl:message name="getMessageListRequest">
        <wsdl:part name="parameters" element="ns1:getMessageList" />
    </wsdl:message>
    <wsdl:message name="getMessageListResponse">
        <wsdl:part name="parameters" element="ns1:getMessageListResponse" />
    </wsdl:message>
    <wsdl:message name="getOperationListRequest">
        <wsdl:part name="parameters" element="ns1:getOperationList" />
    </wsdl:message>
    <wsdl:message name="getOperationListResponse">
        <wsdl:part name="parameters" element="ns1:getOperationListResponse" />
    </wsdl:message>
    <wsdl:message name="getNamespacesRequest">
        <wsdl:part name="parameters" element="ns1:getNamespaces" />
    </wsdl:message>
    <wsdl:message name="getNamespacesResponse">
        <wsdl:part name="parameters" element="ns1:getNamespacesResponse" />
    </wsdl:message>
    <wsdl:message name="getServiceListRequest">
        <wsdl:part name="parameters" element="ns1:getServiceList" />
    </wsdl:message>
    <wsdl:message name="getServiceListResponse">
        <wsdl:part name="parameters" element="ns1:getServiceListResponse" />
    </wsdl:message>
    <wsdl:message name="getServerListWithCategoryNameRequest">
        <wsdl:part name="parameters" element="ns1:getServerListWithCategoryName" />
    </wsdl:message>
    <wsdl:message name="getServerListWithCategoryNameResponse">
        <wsdl:part name="parameters" element="ns1:getServerListWithCategoryNameResponse" />
    </wsdl:message>
    <wsdl:message name="getClientListRequest">
        <wsdl:part name="parameters" element="ns1:getClientList" />
    </wsdl:message>
    <wsdl:message name="getClientListResponse">
        <wsdl:part name="parameters" element="ns1:getClientListResponse" />
    </wsdl:message>
    <wsdl:message name="getServerListRequest">
        <wsdl:part name="parameters" element="ns1:getServerList" />
    </wsdl:message>
    <wsdl:message name="getServerListResponse">
        <wsdl:part name="parameters" element="ns1:getServerListResponse" />
    </wsdl:message>
    <wsdl:portType name="BAMListAdminServicePortType">
        <wsdl:operation name="getXpathConfigurations">
            <wsdl:input message="tns:getXpathConfigurationsRequest" wsaw:Action="urn:getXpathConfigurations" />
            <wsdl:output message="tns:getXpathConfigurationsResponse" wsaw:Action="urn:getXpathConfigurationsResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getXpathConfigurationsBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getActivityList">
            <wsdl:input message="tns:getActivityListRequest" wsaw:Action="urn:getActivityList" />
            <wsdl:output message="tns:getActivityListResponse" wsaw:Action="urn:getActivityListResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getActivityListBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <wsdl:input message="tns:getMessageListRequest" wsaw:Action="urn:getMessageList" />
            <wsdl:output message="tns:getMessageListResponse" wsaw:Action="urn:getMessageListResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getMessageListBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <wsdl:input message="tns:getOperationListRequest" wsaw:Action="urn:getOperationList" />
            <wsdl:output message="tns:getOperationListResponse" wsaw:Action="urn:getOperationListResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getOperationListBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getNamespaces">
            <wsdl:input message="tns:getNamespacesRequest" wsaw:Action="urn:getNamespaces" />
            <wsdl:output message="tns:getNamespacesResponse" wsaw:Action="urn:getNamespacesResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getNamespacesBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <wsdl:input message="tns:getServiceListRequest" wsaw:Action="urn:getServiceList" />
            <wsdl:output message="tns:getServiceListResponse" wsaw:Action="urn:getServiceListResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getServiceListBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getServerListWithCategoryName">
            <wsdl:input message="tns:getServerListWithCategoryNameRequest" wsaw:Action="urn:getServerListWithCategoryName" />
            <wsdl:output message="tns:getServerListWithCategoryNameResponse" wsaw:Action="urn:getServerListWithCategoryNameResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getServerListWithCategoryNameBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <wsdl:input message="tns:getClientListRequest" wsaw:Action="urn:getClientList" />
            <wsdl:output message="tns:getClientListResponse" wsaw:Action="urn:getClientListResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getClientListBAMListAdminServiceBAMException" />
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <wsdl:input message="tns:getServerListRequest" wsaw:Action="urn:getServerList" />
            <wsdl:output message="tns:getServerListResponse" wsaw:Action="urn:getServerListResponse" />
            <wsdl:fault message="tns:BAMListAdminServiceBAMException" name="BAMListAdminServiceBAMException" wsaw:Action="urn:getServerListBAMListAdminServiceBAMException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BAMListAdminServiceSoap11Binding" type="tns:BAMListAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getActivityList">
            <soap:operation soapAction="urn:getActivityList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXpathConfigurations">
            <soap:operation soapAction="urn:getXpathConfigurations" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <soap:operation soapAction="urn:getMessageList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <soap:operation soapAction="urn:getOperationList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNamespaces">
            <soap:operation soapAction="urn:getNamespaces" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <soap:operation soapAction="urn:getServiceList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerListWithCategoryName">
            <soap:operation soapAction="urn:getServerListWithCategoryName" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <soap:operation soapAction="urn:getClientList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <soap:operation soapAction="urn:getServerList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMListAdminServiceSoap12Binding" type="tns:BAMListAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getActivityList">
            <soap12:operation soapAction="urn:getActivityList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXpathConfigurations">
            <soap12:operation soapAction="urn:getXpathConfigurations" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <soap12:operation soapAction="urn:getMessageList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <soap12:operation soapAction="urn:getOperationList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNamespaces">
            <soap12:operation soapAction="urn:getNamespaces" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <soap12:operation soapAction="urn:getServiceList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerListWithCategoryName">
            <soap12:operation soapAction="urn:getServerListWithCategoryName" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <soap12:operation soapAction="urn:getClientList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <soap12:operation soapAction="urn:getServerList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BAMListAdminServiceBAMException">
                <soap12:fault use="literal" name="BAMListAdminServiceBAMException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMListAdminServiceHttpBinding" type="tns:BAMListAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getActivityList">
            <http:operation location="getActivityList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getXpathConfigurations">
            <http:operation location="getXpathConfigurations" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <http:operation location="getMessageList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <http:operation location="getOperationList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNamespaces">
            <http:operation location="getNamespaces" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <http:operation location="getServiceList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerListWithCategoryName">
            <http:operation location="getServerListWithCategoryName" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <http:operation location="getClientList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <http:operation location="getServerList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BAMListAdminService">
        <wsdl:port name="BAMListAdminServiceHttpsSoap11Endpoint" binding="tns:BAMListAdminServiceSoap11Binding">
            <soap:address location="https://10.215.16.216:9443/services/BAMListAdminService.BAMListAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BAMListAdminServiceHttpsSoap12Endpoint" binding="tns:BAMListAdminServiceSoap12Binding">
            <soap12:address location="https://10.215.16.216:9443/services/BAMListAdminService.BAMListAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BAMListAdminServiceHttpsEndpoint" binding="tns:BAMListAdminServiceHttpBinding">
            <http:address location="https://10.215.16.216:9443/services/BAMListAdminService.BAMListAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>