service-stubs/org.wso2.carbon.bam.analyzer.stub/src/main/resources/IndexAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax27="http://service.analyzer.bam.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd" xmlns:tns="http://service.analyzer.bam.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.analyzer.bam.carbon.wso2.org">
    <wsdl:documentation>IndexAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax28="http://service.analyzer.bam.carbon.wso2.org/xsd" xmlns:ax26="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://service.analyzer.bam.carbon.wso2.org/xsd" />
            <xs:element name="IndexAdminServiceConfigurationException">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="ConfigurationException" nillable="true" type="ax25:ConfigurationException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableMetaData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                        <xs:element minOccurs="0" name="tablesPerPage" type="xs:int" />

                        <xs:element minOccurs="0" name="includeAutoGenerated" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableMetaDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:TableDTO" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getTableCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="includeAutoGenerated" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getTableCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IndexAdminServiceIndexingException">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="IndexingException" nillable="true" type="ax25:IndexingException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubIndexValues">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />

                        <xs:element minOccurs="0" name="subIndex" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="subIndexValue" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubIndexValuesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSingleTableMetaData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getSingleTableMetaDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax27:TableDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexValues">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="indexedColumn" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexValuesResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexMetaData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />

                        <xs:element minOccurs="0" name="indexesPerPage" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexMetaDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:IndexDTO" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexCount">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexCountResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndex">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIndexResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax27:IndexDTO" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getDataSourceTypes">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataSourceTypesResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataSourceTypeOfTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getDataSourceTypeOfTableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getAllTableMetaData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="includeAutoGenerated" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTableMetaDataResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:TableDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCursors">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>

            </xs:element>
            <xs:element name="getAllCursorsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:CursorDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editIndex">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="index" nillable="true" type="ax27:IndexDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IndexAdminServiceStoreException">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="StoreException" nillable="true" type="ax25:StoreException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="deleteIndex">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="createTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="ax27:TableDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createIndex">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="index" nillable="true" type="ax27:IndexDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ConfigurationException">
                <xs:sequence />

            </xs:complexType>
            <xs:complexType name="IndexingException">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="StoreException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.analyzer.bam.carbon.wso2.org/xsd">

            <xs:complexType name="TableDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="dataSourceType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IndexDTO">
                <xs:sequence>

                    <xs:element minOccurs="0" name="autoGenerated" type="xs:boolean" />
                    <xs:element minOccurs="0" name="cron" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="dataSourceType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="granularity" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="indexedColumns" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="indexedTable" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="manuallyIndexed" type="xs:boolean" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="CursorDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cursorName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="resumePoint" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getSubIndexValuesRequest">
        <wsdl:part name="parameters" element="ns1:getSubIndexValues" />
    </wsdl:message>
    <wsdl:message name="getSubIndexValuesResponse">
        <wsdl:part name="parameters" element="ns1:getSubIndexValuesResponse" />
    </wsdl:message>
    <wsdl:message name="IndexAdminServiceConfigurationException">
        <wsdl:part name="parameters" element="ns1:IndexAdminServiceConfigurationException" />
    </wsdl:message>

    <wsdl:message name="IndexAdminServiceIndexingException">
        <wsdl:part name="parameters" element="ns1:IndexAdminServiceIndexingException" />
    </wsdl:message>
    <wsdl:message name="getDataSourceTypesRequest">
        <wsdl:part name="parameters" element="ns1:getDataSourceTypes" />
    </wsdl:message>
    <wsdl:message name="getDataSourceTypesResponse">
        <wsdl:part name="parameters" element="ns1:getDataSourceTypesResponse" />
    </wsdl:message>

    <wsdl:message name="createIndexRequest">
        <wsdl:part name="parameters" element="ns1:createIndex" />
    </wsdl:message>
    <wsdl:message name="createTableRequest">
        <wsdl:part name="parameters" element="ns1:createTable" />
    </wsdl:message>
    <wsdl:message name="IndexAdminServiceStoreException">
        <wsdl:part name="parameters" element="ns1:IndexAdminServiceStoreException" />
    </wsdl:message>

    <wsdl:message name="getDataSourceTypeOfTableRequest">
        <wsdl:part name="parameters" element="ns1:getDataSourceTypeOfTable" />
    </wsdl:message>
    <wsdl:message name="getDataSourceTypeOfTableResponse">
        <wsdl:part name="parameters" element="ns1:getDataSourceTypeOfTableResponse" />
    </wsdl:message>
    <wsdl:message name="editIndexRequest">
        <wsdl:part name="parameters" element="ns1:editIndex" />
    </wsdl:message>

    <wsdl:message name="getAllTableMetaDataRequest">
        <wsdl:part name="parameters" element="ns1:getAllTableMetaData" />
    </wsdl:message>
    <wsdl:message name="getAllTableMetaDataResponse">
        <wsdl:part name="parameters" element="ns1:getAllTableMetaDataResponse" />
    </wsdl:message>
    <wsdl:message name="getIndexRequest">
        <wsdl:part name="parameters" element="ns1:getIndex" />
    </wsdl:message>

    <wsdl:message name="getIndexResponse">
        <wsdl:part name="parameters" element="ns1:getIndexResponse" />
    </wsdl:message>
    <wsdl:message name="deleteIndexRequest">
        <wsdl:part name="parameters" element="ns1:deleteIndex" />
    </wsdl:message>
    <wsdl:message name="getIndexValuesRequest">
        <wsdl:part name="parameters" element="ns1:getIndexValues" />
    </wsdl:message>

    <wsdl:message name="getIndexValuesResponse">
        <wsdl:part name="parameters" element="ns1:getIndexValuesResponse" />
    </wsdl:message>
    <wsdl:message name="getAllCursorsRequest">
        <wsdl:part name="parameters" element="ns1:getAllCursors" />
    </wsdl:message>
    <wsdl:message name="getAllCursorsResponse">
        <wsdl:part name="parameters" element="ns1:getAllCursorsResponse" />
    </wsdl:message>

    <wsdl:message name="getIndexCountRequest">
        <wsdl:part name="parameters" element="ns1:getIndexCount" />
    </wsdl:message>
    <wsdl:message name="getIndexCountResponse">
        <wsdl:part name="parameters" element="ns1:getIndexCountResponse" />
    </wsdl:message>
    <wsdl:message name="getIndexMetaDataRequest">
        <wsdl:part name="parameters" element="ns1:getIndexMetaData" />
    </wsdl:message>

    <wsdl:message name="getIndexMetaDataResponse">
        <wsdl:part name="parameters" element="ns1:getIndexMetaDataResponse" />
    </wsdl:message>
    <wsdl:message name="getTableCountRequest">
        <wsdl:part name="parameters" element="ns1:getTableCount" />
    </wsdl:message>
    <wsdl:message name="getTableCountResponse">
        <wsdl:part name="parameters" element="ns1:getTableCountResponse" />
    </wsdl:message>

    <wsdl:message name="deleteTableRequest">
        <wsdl:part name="parameters" element="ns1:deleteTable" />
    </wsdl:message>
    <wsdl:message name="getTableMetaDataRequest">
        <wsdl:part name="parameters" element="ns1:getTableMetaData" />
    </wsdl:message>
    <wsdl:message name="getTableMetaDataResponse">
        <wsdl:part name="parameters" element="ns1:getTableMetaDataResponse" />
    </wsdl:message>

    <wsdl:message name="getSingleTableMetaDataRequest">
        <wsdl:part name="parameters" element="ns1:getSingleTableMetaData" />
    </wsdl:message>
    <wsdl:message name="getSingleTableMetaDataResponse">
        <wsdl:part name="parameters" element="ns1:getSingleTableMetaDataResponse" />
    </wsdl:message>
    <wsdl:portType name="IndexAdminServicePortType">
        <wsdl:operation name="getSubIndexValues">
            <wsdl:input message="tns:getSubIndexValuesRequest" wsaw:Action="urn:getSubIndexValues" />

            <wsdl:output message="tns:getSubIndexValuesResponse" wsaw:Action="urn:getSubIndexValuesResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getSubIndexValuesIndexAdminServiceConfigurationException" />
            <wsdl:fault message="tns:IndexAdminServiceIndexingException" name="IndexAdminServiceIndexingException" wsaw:Action="urn:getSubIndexValuesIndexAdminServiceIndexingException" />
        </wsdl:operation>
        <wsdl:operation name="getDataSourceTypes">
            <wsdl:input message="tns:getDataSourceTypesRequest" wsaw:Action="urn:getDataSourceTypes" />
            <wsdl:output message="tns:getDataSourceTypesResponse" wsaw:Action="urn:getDataSourceTypesResponse" />
        </wsdl:operation>
        <wsdl:operation name="createIndex">

            <wsdl:input message="tns:createIndexRequest" wsaw:Action="urn:createIndex" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:createIndexIndexAdminServiceConfigurationException" />
            <wsdl:fault message="tns:IndexAdminServiceIndexingException" name="IndexAdminServiceIndexingException" wsaw:Action="urn:createIndexIndexAdminServiceIndexingException" />
        </wsdl:operation>
        <wsdl:operation name="createTable">
            <wsdl:input message="tns:createTableRequest" wsaw:Action="urn:createTable" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:createTableIndexAdminServiceConfigurationException" />
            <wsdl:fault message="tns:IndexAdminServiceStoreException" name="IndexAdminServiceStoreException" wsaw:Action="urn:createTableIndexAdminServiceStoreException" />
        </wsdl:operation>

        <wsdl:operation name="getDataSourceTypeOfTable">
            <wsdl:input message="tns:getDataSourceTypeOfTableRequest" wsaw:Action="urn:getDataSourceTypeOfTable" />
            <wsdl:output message="tns:getDataSourceTypeOfTableResponse" wsaw:Action="urn:getDataSourceTypeOfTableResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getDataSourceTypeOfTableIndexAdminServiceConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="editIndex">
            <wsdl:input message="tns:editIndexRequest" wsaw:Action="urn:editIndex" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:editIndexIndexAdminServiceConfigurationException" />
            <wsdl:fault message="tns:IndexAdminServiceIndexingException" name="IndexAdminServiceIndexingException" wsaw:Action="urn:editIndexIndexAdminServiceIndexingException" />

        </wsdl:operation>
        <wsdl:operation name="getAllTableMetaData">
            <wsdl:input message="tns:getAllTableMetaDataRequest" wsaw:Action="urn:getAllTableMetaData" />
            <wsdl:output message="tns:getAllTableMetaDataResponse" wsaw:Action="urn:getAllTableMetaDataResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getAllTableMetaDataIndexAdminServiceConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="getIndex">
            <wsdl:input message="tns:getIndexRequest" wsaw:Action="urn:getIndex" />
            <wsdl:output message="tns:getIndexResponse" wsaw:Action="urn:getIndexResponse" />

            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getIndexIndexAdminServiceConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="deleteIndex">
            <wsdl:input message="tns:deleteIndexRequest" wsaw:Action="urn:deleteIndex" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:deleteIndexIndexAdminServiceConfigurationException" />
            <wsdl:fault message="tns:IndexAdminServiceIndexingException" name="IndexAdminServiceIndexingException" wsaw:Action="urn:deleteIndexIndexAdminServiceIndexingException" />
        </wsdl:operation>
        <wsdl:operation name="getIndexValues">
            <wsdl:input message="tns:getIndexValuesRequest" wsaw:Action="urn:getIndexValues" />

            <wsdl:output message="tns:getIndexValuesResponse" wsaw:Action="urn:getIndexValuesResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getIndexValuesIndexAdminServiceConfigurationException" />
            <wsdl:fault message="tns:IndexAdminServiceIndexingException" name="IndexAdminServiceIndexingException" wsaw:Action="urn:getIndexValuesIndexAdminServiceIndexingException" />
        </wsdl:operation>
        <wsdl:operation name="getAllCursors">
            <wsdl:input message="tns:getAllCursorsRequest" wsaw:Action="urn:getAllCursors" />
            <wsdl:output message="tns:getAllCursorsResponse" wsaw:Action="urn:getAllCursorsResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getAllCursorsIndexAdminServiceConfigurationException" />
        </wsdl:operation>

        <wsdl:operation name="getIndexCount">
            <wsdl:input message="tns:getIndexCountRequest" wsaw:Action="urn:getIndexCount" />
            <wsdl:output message="tns:getIndexCountResponse" wsaw:Action="urn:getIndexCountResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getIndexCountIndexAdminServiceConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="getIndexMetaData">
            <wsdl:input message="tns:getIndexMetaDataRequest" wsaw:Action="urn:getIndexMetaData" />
            <wsdl:output message="tns:getIndexMetaDataResponse" wsaw:Action="urn:getIndexMetaDataResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getIndexMetaDataIndexAdminServiceConfigurationException" />

        </wsdl:operation>
        <wsdl:operation name="getTableCount">
            <wsdl:input message="tns:getTableCountRequest" wsaw:Action="urn:getTableCount" />
            <wsdl:output message="tns:getTableCountResponse" wsaw:Action="urn:getTableCountResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getTableCountIndexAdminServiceConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="deleteTable">
            <wsdl:input message="tns:deleteTableRequest" wsaw:Action="urn:deleteTable" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:deleteTableIndexAdminServiceConfigurationException" />

            <wsdl:fault message="tns:IndexAdminServiceStoreException" name="IndexAdminServiceStoreException" wsaw:Action="urn:deleteTableIndexAdminServiceStoreException" />
        </wsdl:operation>
        <wsdl:operation name="getTableMetaData">
            <wsdl:input message="tns:getTableMetaDataRequest" wsaw:Action="urn:getTableMetaData" />
            <wsdl:output message="tns:getTableMetaDataResponse" wsaw:Action="urn:getTableMetaDataResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getTableMetaDataIndexAdminServiceConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="getSingleTableMetaData">
            <wsdl:input message="tns:getSingleTableMetaDataRequest" wsaw:Action="urn:getSingleTableMetaData" />

            <wsdl:output message="tns:getSingleTableMetaDataResponse" wsaw:Action="urn:getSingleTableMetaDataResponse" />
            <wsdl:fault message="tns:IndexAdminServiceConfigurationException" name="IndexAdminServiceConfigurationException" wsaw:Action="urn:getSingleTableMetaDataIndexAdminServiceConfigurationException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IndexAdminServiceSoap11Binding" type="tns:IndexAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getSubIndexValues">
            <soap:operation soapAction="urn:getSubIndexValues" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">

                <soap:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceTypes">
            <soap:operation soapAction="urn:getDataSourceTypes" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createIndex">
            <soap:operation soapAction="urn:createIndex" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createTable">
            <soap:operation soapAction="urn:createTable" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceStoreException">
                <soap:fault use="literal" name="IndexAdminServiceStoreException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDataSourceTypeOfTable">
            <soap:operation soapAction="urn:getDataSourceTypeOfTable" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editIndex">
            <soap:operation soapAction="urn:editIndex" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTableMetaData">
            <soap:operation soapAction="urn:getAllTableMetaData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getIndex">
            <soap:operation soapAction="urn:getIndex" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteIndex">
            <soap:operation soapAction="urn:deleteIndex" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIndexValues">
            <soap:operation soapAction="urn:getIndexValues" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">

                <soap:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCursors">
            <soap:operation soapAction="urn:getAllCursors" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIndexMetaData">
            <soap:operation soapAction="urn:getIndexMetaData" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getIndexCount">
            <soap:operation soapAction="urn:getIndexCount" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTable">
            <soap:operation soapAction="urn:deleteTable" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceStoreException">

                <soap:fault use="literal" name="IndexAdminServiceStoreException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableCount">
            <soap:operation soapAction="urn:getTableCount" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getTableMetaData">
            <soap:operation soapAction="urn:getTableMetaData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSingleTableMetaData">
            <soap:operation soapAction="urn:getSingleTableMetaData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IndexAdminServiceSoap12Binding" type="tns:IndexAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <wsdl:operation name="getSubIndexValues">
            <soap12:operation soapAction="urn:getSubIndexValues" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap12:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceTypes">
            <soap12:operation soapAction="urn:getDataSourceTypes" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createIndex">
            <soap12:operation soapAction="urn:createIndex" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap12:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createTable">
            <soap12:operation soapAction="urn:createTable" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceStoreException">
                <soap12:fault use="literal" name="IndexAdminServiceStoreException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceTypeOfTable">
            <soap12:operation soapAction="urn:getDataSourceTypeOfTable" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editIndex">
            <soap12:operation soapAction="urn:editIndex" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap12:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getAllTableMetaData">
            <soap12:operation soapAction="urn:getAllTableMetaData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIndex">
            <soap12:operation soapAction="urn:getIndex" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteIndex">
            <soap12:operation soapAction="urn:deleteIndex" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap12:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getIndexValues">
            <soap12:operation soapAction="urn:getIndexValues" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceIndexingException">
                <soap12:fault use="literal" name="IndexAdminServiceIndexingException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCursors">
            <soap12:operation soapAction="urn:getAllCursors" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getIndexMetaData">
            <soap12:operation soapAction="urn:getIndexMetaData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getIndexCount">
            <soap12:operation soapAction="urn:getIndexCount" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTable">
            <soap12:operation soapAction="urn:deleteTable" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="IndexAdminServiceStoreException">
                <soap12:fault use="literal" name="IndexAdminServiceStoreException" />
            </wsdl:fault>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getTableCount">
            <soap12:operation soapAction="urn:getTableCount" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">

                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableMetaData">
            <soap12:operation soapAction="urn:getTableMetaData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSingleTableMetaData">
            <soap12:operation soapAction="urn:getSingleTableMetaData" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="IndexAdminServiceConfigurationException">
                <soap12:fault use="literal" name="IndexAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="IndexAdminServiceHttpBinding" type="tns:IndexAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getSubIndexValues">
            <http:operation location="getSubIndexValues" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceTypes">
            <http:operation location="getDataSourceTypes" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createIndex">
            <http:operation location="createIndex" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="createTable">
            <http:operation location="createTable" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceTypeOfTable">
            <http:operation location="getDataSourceTypeOfTable" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editIndex">
            <http:operation location="editIndex" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllTableMetaData">
            <http:operation location="getAllTableMetaData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIndex">
            <http:operation location="getIndex" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteIndex">
            <http:operation location="deleteIndex" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="getIndexValues">
            <http:operation location="getIndexValues" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getAllCursors">
            <http:operation location="getAllCursors" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getIndexMetaData">
            <http:operation location="getIndexMetaData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getIndexCount">
            <http:operation location="getIndexCount" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="deleteTable">
            <http:operation location="deleteTable" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getTableCount">
            <http:operation location="getTableCount" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableMetaData">
            <http:operation location="getTableMetaData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSingleTableMetaData">
            <http:operation location="getSingleTableMetaData" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IndexAdminService">
        <wsdl:port name="IndexAdminServiceHttpsSoap11Endpoint" binding="tns:IndexAdminServiceSoap11Binding">

            <soap:address location="https://10.42.43.1:9443/services/IndexAdminService.IndexAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="IndexAdminServiceHttpsSoap12Endpoint" binding="tns:IndexAdminServiceSoap12Binding">
            <soap12:address location="https://10.42.43.1:9443/services/IndexAdminService.IndexAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="IndexAdminServiceHttpsEndpoint" binding="tns:IndexAdminServiceHttpBinding">
            <http:address location="https://10.42.43.1:9443/services/IndexAdminService.IndexAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
