service-stubs/bam-toolbox/org.wso2.carbon.bam.analyzer.stub/src/main/resources/AnalyzerAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax27="http://service.analyzer.bam.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://engine.analyzer.bam.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://service.analyzer.bam.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.analyzer.bam.carbon.wso2.org">
    <wsdl:documentation>AnalyzerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax28="http://service.analyzer.bam.carbon.wso2.org/xsd" xmlns:ax26="http://engine.analyzer.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://engine.analyzer.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://service.analyzer.bam.carbon.wso2.org/xsd" />
            <xs:element name="AnalyzerAdminServiceAnalyzerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AnalyzerException" nillable="true" type="ax25:AnalyzerException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resetIndexConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="configurationXML" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resetIndexConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pauseTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="analyzerXML" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="pauseTaskResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConnectionParameters">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getConnectionParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax27:ConnectionDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAnalyzerXMLs">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAnalyzerXMLsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAnalyzerXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="analyzerSeqName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAnalyzerXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="analyzerXML" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editTaskResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="analyzerXML" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTaskResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureConnectionParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureConnectionParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTask">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="analyzerXML" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTaskResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.analyzer.bam.carbon.wso2.org/xsd">
            <xs:complexType name="AnalyzerException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.analyzer.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ConnectionDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="configureConnectionParametersRequest">
        <wsdl:part name="parameters" element="ns1:configureConnectionParameters" />
    </wsdl:message>
    <wsdl:message name="configureConnectionParametersResponse">
        <wsdl:part name="parameters" element="ns1:configureConnectionParametersResponse" />
    </wsdl:message>
    <wsdl:message name="AnalyzerAdminServiceAnalyzerException">
        <wsdl:part name="parameters" element="ns1:AnalyzerAdminServiceAnalyzerException" />
    </wsdl:message>
    <wsdl:message name="deleteTaskRequest">
        <wsdl:part name="parameters" element="ns1:deleteTask" />
    </wsdl:message>
    <wsdl:message name="deleteTaskResponse">
        <wsdl:part name="parameters" element="ns1:deleteTaskResponse" />
    </wsdl:message>
    <wsdl:message name="getConnectionParametersRequest">
        <wsdl:part name="parameters" element="ns1:getConnectionParameters" />
    </wsdl:message>
    <wsdl:message name="getConnectionParametersResponse">
        <wsdl:part name="parameters" element="ns1:getConnectionParametersResponse" />
    </wsdl:message>
    <wsdl:message name="getAnalyzerXMLsRequest">
        <wsdl:part name="parameters" element="ns1:getAnalyzerXMLs" />
    </wsdl:message>
    <wsdl:message name="getAnalyzerXMLsResponse">
        <wsdl:part name="parameters" element="ns1:getAnalyzerXMLsResponse" />
    </wsdl:message>
    <wsdl:message name="resetIndexConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:resetIndexConfiguration" />
    </wsdl:message>
    <wsdl:message name="resetIndexConfigurationResponse">
        <wsdl:part name="parameters" element="ns1:resetIndexConfigurationResponse" />
    </wsdl:message>
    <wsdl:message name="editTaskRequest">
        <wsdl:part name="parameters" element="ns1:editTask" />
    </wsdl:message>
    <wsdl:message name="editTaskResponse">
        <wsdl:part name="parameters" element="ns1:editTaskResponse" />
    </wsdl:message>
    <wsdl:message name="getAnalyzerXMLRequest">
        <wsdl:part name="parameters" element="ns1:getAnalyzerXML" />
    </wsdl:message>
    <wsdl:message name="getAnalyzerXMLResponse">
        <wsdl:part name="parameters" element="ns1:getAnalyzerXMLResponse" />
    </wsdl:message>
    <wsdl:message name="addTaskRequest">
        <wsdl:part name="parameters" element="ns1:addTask" />
    </wsdl:message>
    <wsdl:message name="addTaskResponse">
        <wsdl:part name="parameters" element="ns1:addTaskResponse" />
    </wsdl:message>
    <wsdl:message name="pauseTaskRequest">
        <wsdl:part name="parameters" element="ns1:pauseTask" />
    </wsdl:message>
    <wsdl:message name="pauseTaskResponse">
        <wsdl:part name="parameters" element="ns1:pauseTaskResponse" />
    </wsdl:message>
    <wsdl:portType name="AnalyzerAdminServicePortType">
        <wsdl:operation name="configureConnectionParameters">
            <wsdl:input message="tns:configureConnectionParametersRequest" wsaw:Action="urn:configureConnectionParameters" />
            <wsdl:output message="tns:configureConnectionParametersResponse" wsaw:Action="urn:configureConnectionParametersResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:configureConnectionParametersAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="deleteTask">
            <wsdl:input message="tns:deleteTaskRequest" wsaw:Action="urn:deleteTask" />
            <wsdl:output message="tns:deleteTaskResponse" wsaw:Action="urn:deleteTaskResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:deleteTaskAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <wsdl:input message="tns:getConnectionParametersRequest" wsaw:Action="urn:getConnectionParameters" />
            <wsdl:output message="tns:getConnectionParametersResponse" wsaw:Action="urn:getConnectionParametersResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:getConnectionParametersAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXMLs">
            <wsdl:input message="tns:getAnalyzerXMLsRequest" wsaw:Action="urn:getAnalyzerXMLs" />
            <wsdl:output message="tns:getAnalyzerXMLsResponse" wsaw:Action="urn:getAnalyzerXMLsResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:getAnalyzerXMLsAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="resetIndexConfiguration">
            <wsdl:input message="tns:resetIndexConfigurationRequest" wsaw:Action="urn:resetIndexConfiguration" />
            <wsdl:output message="tns:resetIndexConfigurationResponse" wsaw:Action="urn:resetIndexConfigurationResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:resetIndexConfigurationAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="editTask">
            <wsdl:input message="tns:editTaskRequest" wsaw:Action="urn:editTask" />
            <wsdl:output message="tns:editTaskResponse" wsaw:Action="urn:editTaskResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:editTaskAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXML">
            <wsdl:input message="tns:getAnalyzerXMLRequest" wsaw:Action="urn:getAnalyzerXML" />
            <wsdl:output message="tns:getAnalyzerXMLResponse" wsaw:Action="urn:getAnalyzerXMLResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:getAnalyzerXMLAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="addTask">
            <wsdl:input message="tns:addTaskRequest" wsaw:Action="urn:addTask" />
            <wsdl:output message="tns:addTaskResponse" wsaw:Action="urn:addTaskResponse" />
            <wsdl:fault message="tns:AnalyzerAdminServiceAnalyzerException" name="AnalyzerAdminServiceAnalyzerException" wsaw:Action="urn:addTaskAnalyzerAdminServiceAnalyzerException" />
        </wsdl:operation>
        <wsdl:operation name="pauseTask">
            <wsdl:input message="tns:pauseTaskRequest" wsaw:Action="urn:pauseTask" />
            <wsdl:output message="tns:pauseTaskResponse" wsaw:Action="urn:pauseTaskResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AnalyzerAdminServiceSoap11Binding" type="tns:AnalyzerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureConnectionParameters">
            <soap:operation soapAction="urn:configureConnectionParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTask">
            <soap:operation soapAction="urn:deleteTask" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXMLs">
            <soap:operation soapAction="urn:getAnalyzerXMLs" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <soap:operation soapAction="urn:getConnectionParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="resetIndexConfiguration">
            <soap:operation soapAction="urn:resetIndexConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editTask">
            <soap:operation soapAction="urn:editTask" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXML">
            <soap:operation soapAction="urn:getAnalyzerXML" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTask">
            <soap:operation soapAction="urn:addTask" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="pauseTask">
            <soap:operation soapAction="urn:pauseTask" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AnalyzerAdminServiceSoap12Binding" type="tns:AnalyzerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureConnectionParameters">
            <soap12:operation soapAction="urn:configureConnectionParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTask">
            <soap12:operation soapAction="urn:deleteTask" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXMLs">
            <soap12:operation soapAction="urn:getAnalyzerXMLs" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <soap12:operation soapAction="urn:getConnectionParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="resetIndexConfiguration">
            <soap12:operation soapAction="urn:resetIndexConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editTask">
            <soap12:operation soapAction="urn:editTask" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXML">
            <soap12:operation soapAction="urn:getAnalyzerXML" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTask">
            <soap12:operation soapAction="urn:addTask" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="AnalyzerAdminServiceAnalyzerException">
                <soap12:fault use="literal" name="AnalyzerAdminServiceAnalyzerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="pauseTask">
            <soap12:operation soapAction="urn:pauseTask" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AnalyzerAdminServiceHttpBinding" type="tns:AnalyzerAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="configureConnectionParameters">
            <http:operation location="configureConnectionParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTask">
            <http:operation location="deleteTask" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXMLs">
            <http:operation location="getAnalyzerXMLs" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <http:operation location="getConnectionParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resetIndexConfiguration">
            <http:operation location="resetIndexConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editTask">
            <http:operation location="editTask" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAnalyzerXML">
            <http:operation location="getAnalyzerXML" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTask">
            <http:operation location="addTask" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pauseTask">
            <http:operation location="pauseTask" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AnalyzerAdminService">
        <wsdl:port name="AnalyzerAdminServiceHttpsSoap11Endpoint" binding="tns:AnalyzerAdminServiceSoap11Binding">
            <soap:address location="https://10.200.3.24:9443/services/AnalyzerAdminService.AnalyzerAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AnalyzerAdminServiceHttpsSoap12Endpoint" binding="tns:AnalyzerAdminServiceSoap12Binding">
            <soap12:address location="https://10.200.3.24:9443/services/AnalyzerAdminService.AnalyzerAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AnalyzerAdminServiceHttpsEndpoint" binding="tns:AnalyzerAdminServiceHttpBinding">
            <http:address location="https://10.200.3.24:9443/services/AnalyzerAdminService.AnalyzerAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>