service-stubs/org.wso2.carbon.analytics.hive.stub/src/main/resources/HiveExecutionService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://dto.hive.analytics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax27="http://exception.hive.analytics.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://web.hive.analytics.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://web.hive.analytics.carbon.wso2.org">
    <wsdl:documentation>HiveExecutionService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.hive.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="QueryResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnNames" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="resultRows" nillable="true" type="ax29:QueryResultRow"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueryResultRow">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnValues" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax28="http://exception.hive.analytics.carbon.wso2.org/xsd" xmlns:ax210="http://dto.hive.analytics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exception.hive.analytics.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.hive.analytics.carbon.wso2.org/xsd"/>
            <xs:element name="HiveExecutionServiceHiveExecutionException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="HiveExecutionException" nillable="true" type="ax27:HiveExecutionException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeHiveScript">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="scriptName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="script" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeHiveScriptResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:QueryResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.hive.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="HiveExecutionException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="exceptionMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="executeHiveScriptRequest">
        <wsdl:part name="parameters" element="ns1:executeHiveScript"/>
    </wsdl:message>
    <wsdl:message name="executeHiveScriptResponse">
        <wsdl:part name="parameters" element="ns1:executeHiveScriptResponse"/>
    </wsdl:message>
    <wsdl:message name="HiveExecutionServiceHiveExecutionException">
        <wsdl:part name="parameters" element="ns1:HiveExecutionServiceHiveExecutionException"/>
    </wsdl:message>
    <wsdl:portType name="HiveExecutionServicePortType">
        <wsdl:operation name="executeHiveScript">
            <wsdl:input message="tns:executeHiveScriptRequest" wsaw:Action="urn:executeHiveScript"/>
            <wsdl:output message="tns:executeHiveScriptResponse" wsaw:Action="urn:executeHiveScriptResponse"/>
            <wsdl:fault message="tns:HiveExecutionServiceHiveExecutionException" name="HiveExecutionServiceHiveExecutionException" wsaw:Action="urn:executeHiveScriptHiveExecutionServiceHiveExecutionException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HiveExecutionServiceSoap11Binding" type="tns:HiveExecutionServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="executeHiveScript">
            <soap:operation soapAction="urn:executeHiveScript" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="HiveExecutionServiceHiveExecutionException">
                <soap:fault use="literal" name="HiveExecutionServiceHiveExecutionException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HiveExecutionServiceSoap12Binding" type="tns:HiveExecutionServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="executeHiveScript">
            <soap12:operation soapAction="urn:executeHiveScript" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="HiveExecutionServiceHiveExecutionException">
                <soap12:fault use="literal" name="HiveExecutionServiceHiveExecutionException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HiveExecutionServiceHttpBinding" type="tns:HiveExecutionServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="executeHiveScript">
            <http:operation location="executeHiveScript"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HiveExecutionService">
        <wsdl:port name="HiveExecutionServiceHttpsSoap11Endpoint" binding="tns:HiveExecutionServiceSoap11Binding">
            <soap:address location="https://192.168.1.2:9443/services/HiveExecutionService.HiveExecutionServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HiveExecutionServiceHttpsSoap12Endpoint" binding="tns:HiveExecutionServiceSoap12Binding">
            <soap12:address location="https://192.168.1.2:9443/services/HiveExecutionService.HiveExecutionServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="HiveExecutionServiceHttpsEndpoint" binding="tns:HiveExecutionServiceHttpBinding">
            <http:address location="https://192.168.1.2:9443/services/HiveExecutionService.HiveExecutionServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>