service-stubs/org.wso2.carbon.event.statistics.stub/src/main/resources/EventStatisticsAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2014, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://statistics.event.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://statistics.event.carbon.wso2.org">
    <wsdl:documentation>EventStatisticsAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2111="http://data.internal.statistics.event.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://data.internal.statistics.event.carbon.wso2.org/xsd"/>
            <xs:element name="getGlobalCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGlobalCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2111:StatsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getElementCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="deploymentName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getElementCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2111:StatsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeploymentCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="deploymentName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeploymentCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2111:StatsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCategoryCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCategoryCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2111:StatsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.internal.statistics.event.carbon.wso2.org/xsd">
            <xs:complexType name="StatsDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="childStats" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestAvgCountPerSec" type="xs:double"/>
                    <xs:element minOccurs="0" name="requestLast15MinCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="requestLast6HourCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="requestLastDayCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="requestLastHourCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="requestLastMinCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="requestLastSecCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="requestLastUpdatedTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestMaxCountPerSec" type="xs:long"/>
                    <xs:element minOccurs="0" name="requestTotalCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseAvgCountPerSec" type="xs:double"/>
                    <xs:element minOccurs="0" name="responseLast15MinCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseLast6HourCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseLastDayCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseLastHourCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseLastMinCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseLastSecCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseLastUpdatedTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseMaxCountPerSec" type="xs:long"/>
                    <xs:element minOccurs="0" name="responseTotalCount" type="xs:long"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getGlobalCountRequest">
        <wsdl:part name="parameters" element="ns1:getGlobalCount"/>
    </wsdl:message>
    <wsdl:message name="getGlobalCountResponse">
        <wsdl:part name="parameters" element="ns1:getGlobalCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getCategoryCountRequest">
        <wsdl:part name="parameters" element="ns1:getCategoryCount"/>
    </wsdl:message>
    <wsdl:message name="getCategoryCountResponse">
        <wsdl:part name="parameters" element="ns1:getCategoryCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getDeploymentCountRequest">
        <wsdl:part name="parameters" element="ns1:getDeploymentCount"/>
    </wsdl:message>
    <wsdl:message name="getDeploymentCountResponse">
        <wsdl:part name="parameters" element="ns1:getDeploymentCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getElementCountRequest">
        <wsdl:part name="parameters" element="ns1:getElementCount"/>
    </wsdl:message>
    <wsdl:message name="getElementCountResponse">
        <wsdl:part name="parameters" element="ns1:getElementCountResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventStatisticsAdminServicePortType">
        <wsdl:operation name="getGlobalCount">
            <wsdl:input message="tns:getGlobalCountRequest" wsaw:Action="urn:getGlobalCount"/>
            <wsdl:output message="tns:getGlobalCountResponse" wsaw:Action="urn:getGlobalCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCategoryCount">
            <wsdl:input message="tns:getCategoryCountRequest" wsaw:Action="urn:getCategoryCount"/>
            <wsdl:output message="tns:getCategoryCountResponse" wsaw:Action="urn:getCategoryCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentCount">
            <wsdl:input message="tns:getDeploymentCountRequest" wsaw:Action="urn:getDeploymentCount"/>
            <wsdl:output message="tns:getDeploymentCountResponse" wsaw:Action="urn:getDeploymentCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getElementCount">
            <wsdl:input message="tns:getElementCountRequest" wsaw:Action="urn:getElementCount"/>
            <wsdl:output message="tns:getElementCountResponse" wsaw:Action="urn:getElementCountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventStatisticsAdminServiceSoap11Binding" type="tns:EventStatisticsAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGlobalCount">
            <soap:operation soapAction="urn:getGlobalCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCategoryCount">
            <soap:operation soapAction="urn:getCategoryCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentCount">
            <soap:operation soapAction="urn:getDeploymentCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getElementCount">
            <soap:operation soapAction="urn:getElementCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventStatisticsAdminServiceSoap12Binding" type="tns:EventStatisticsAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGlobalCount">
            <soap12:operation soapAction="urn:getGlobalCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCategoryCount">
            <soap12:operation soapAction="urn:getCategoryCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentCount">
            <soap12:operation soapAction="urn:getDeploymentCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getElementCount">
            <soap12:operation soapAction="urn:getElementCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventStatisticsAdminServiceHttpBinding" type="tns:EventStatisticsAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getGlobalCount">
            <http:operation location="getGlobalCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCategoryCount">
            <http:operation location="getCategoryCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeploymentCount">
            <http:operation location="getDeploymentCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getElementCount">
            <http:operation location="getElementCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventStatisticsAdminService">
        <wsdl:port name="EventStatisticsAdminServiceHttpsSoap11Endpoint" binding="tns:EventStatisticsAdminServiceSoap11Binding">
            <soap:address location="https://10.13.165.220:9443/services/EventStatisticsAdminService.EventStatisticsAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventStatisticsAdminServiceHttpsSoap12Endpoint" binding="tns:EventStatisticsAdminServiceSoap12Binding">
            <soap12:address location="https://10.13.165.220:9443/services/EventStatisticsAdminService.EventStatisticsAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventStatisticsAdminServiceHttpsEndpoint" binding="tns:EventStatisticsAdminServiceHttpBinding">
            <http:address location="https://10.13.165.220:9443/services/EventStatisticsAdminService.EventStatisticsAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>