service-stubs/org.wso2.carbon.event.template.manager.stub/src/main/resources/TemplateManagerAdminService.wsdl

<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://admin.manager.template.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2146="http://domain.dto.admin.manager.template.event.carbon.wso2.org/xsd" xmlns:ax2148="http://configuration.dto.admin.manager.template.event.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://admin.manager.template.event.carbon.wso2.org">
    <wsdl:documentation>TemplateManagerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2147="http://domain.dto.admin.manager.template.event.carbon.wso2.org/xsd" xmlns:ax2149="http://configuration.dto.admin.manager.template.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.manager.template.event.carbon.wso2.org">
            <xs:import namespace="http://domain.dto.admin.manager.template.event.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://configuration.dto.admin.manager.template.event.carbon.wso2.org/xsd"/>
            <xs:element name="getAllDomainInfos">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllDomainInfosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2146:DomainInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfigurationInfos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfigurationInfosResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2148:ScenarioConfigurationInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDomainInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2146:DomainInfoDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="configName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="configName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2148:ScenarioConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveStreamMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="streamMappingDTOs" nillable="true" type="ax2148:StreamMappingDTO"/>
                        <xs:element minOccurs="0" name="configName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveStreamMappingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="configuration" nillable="true" type="ax2148:ScenarioConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.dto.admin.manager.template.event.carbon.wso2.org/xsd">
            <xs:complexType name="DomainInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="scenarioInfoDTOs" nillable="true" type="ax2146:ScenarioInfoDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScenarioInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="domainParameterDTOs" nillable="true" type="ax2146:DomainParameterDTO"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DomainParameterDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://configuration.dto.admin.manager.template.event.carbon.wso2.org/xsd">
            <xs:complexType name="ScenarioConfigurationInfoDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScenarioConfigurationDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="configurationParameterDTOs" nillable="true" type="ax2148:ConfigurationParameterDTO"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="streamMappingDTOs" nillable="true" type="ax2148:StreamMappingDTO"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ConfigurationParameterDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StreamMappingDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeMappingDTOs" nillable="true" type="ax2148:AttributeMappingDTO"/>
                    <xs:element minOccurs="0" name="fromStream" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="toStream" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttributeMappingDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fromAttribute" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="toAttribute" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getConfigurationInfosRequest">
        <wsdl:part name="parameters" element="ns:getConfigurationInfos"/>
    </wsdl:message>
    <wsdl:message name="getConfigurationInfosResponse">
        <wsdl:part name="parameters" element="ns:getConfigurationInfosResponse"/>
    </wsdl:message>
    <wsdl:message name="saveStreamMappingRequest">
        <wsdl:part name="parameters" element="ns:saveStreamMapping"/>
    </wsdl:message>
    <wsdl:message name="saveStreamMappingResponse">
        <wsdl:part name="parameters" element="ns:saveStreamMappingResponse"/>
    </wsdl:message>
    <wsdl:message name="saveConfigurationRequest">
        <wsdl:part name="parameters" element="ns:saveConfiguration"/>
    </wsdl:message>
    <wsdl:message name="saveConfigurationResponse">
        <wsdl:part name="parameters" element="ns:saveConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getDomainInfoRequest">
        <wsdl:part name="parameters" element="ns:getDomainInfo"/>
    </wsdl:message>
    <wsdl:message name="getDomainInfoResponse">
        <wsdl:part name="parameters" element="ns:getDomainInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deleteConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deleteConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deleteConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllDomainInfosRequest">
        <wsdl:part name="parameters" element="ns:getAllDomainInfos"/>
    </wsdl:message>
    <wsdl:message name="getAllDomainInfosResponse">
        <wsdl:part name="parameters" element="ns:getAllDomainInfosResponse"/>
    </wsdl:message>
    <wsdl:message name="getConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getConfigurationResponse"/>
    </wsdl:message>
    <wsdl:portType name="TemplateManagerAdminServicePortType">
        <wsdl:operation name="getConfigurationInfos">
            <wsdl:input message="ns:getConfigurationInfosRequest" wsaw:Action="urn:getConfigurationInfos"/>
            <wsdl:output message="ns:getConfigurationInfosResponse" wsaw:Action="urn:getConfigurationInfosResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveStreamMapping">
            <wsdl:input message="ns:saveStreamMappingRequest" wsaw:Action="urn:saveStreamMapping"/>
            <wsdl:output message="ns:saveStreamMappingResponse" wsaw:Action="urn:saveStreamMappingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveConfiguration">
            <wsdl:input message="ns:saveConfigurationRequest" wsaw:Action="urn:saveConfiguration"/>
            <wsdl:output message="ns:saveConfigurationResponse" wsaw:Action="urn:saveConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDomainInfo">
            <wsdl:input message="ns:getDomainInfoRequest" wsaw:Action="urn:getDomainInfo"/>
            <wsdl:output message="ns:getDomainInfoResponse" wsaw:Action="urn:getDomainInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteConfiguration">
            <wsdl:input message="ns:deleteConfigurationRequest" wsaw:Action="urn:deleteConfiguration"/>
            <wsdl:output message="ns:deleteConfigurationResponse" wsaw:Action="urn:deleteConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllDomainInfos">
            <wsdl:input message="ns:getAllDomainInfosRequest" wsaw:Action="urn:getAllDomainInfos"/>
            <wsdl:output message="ns:getAllDomainInfosResponse" wsaw:Action="urn:getAllDomainInfosResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <wsdl:input message="ns:getConfigurationRequest" wsaw:Action="urn:getConfiguration"/>
            <wsdl:output message="ns:getConfigurationResponse" wsaw:Action="urn:getConfigurationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TemplateManagerAdminServiceSoap11Binding" type="ns:TemplateManagerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getConfigurationInfos">
            <soap:operation soapAction="urn:getConfigurationInfos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveStreamMapping">
            <soap:operation soapAction="urn:saveStreamMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveConfiguration">
            <soap:operation soapAction="urn:saveConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDomainInfo">
            <soap:operation soapAction="urn:getDomainInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteConfiguration">
            <soap:operation soapAction="urn:deleteConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDomainInfos">
            <soap:operation soapAction="urn:getAllDomainInfos" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <soap:operation soapAction="urn:getConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemplateManagerAdminServiceSoap12Binding" type="ns:TemplateManagerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getConfigurationInfos">
            <soap12:operation soapAction="urn:getConfigurationInfos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveStreamMapping">
            <soap12:operation soapAction="urn:saveStreamMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveConfiguration">
            <soap12:operation soapAction="urn:saveConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDomainInfo">
            <soap12:operation soapAction="urn:getDomainInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteConfiguration">
            <soap12:operation soapAction="urn:deleteConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDomainInfos">
            <soap12:operation soapAction="urn:getAllDomainInfos" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <soap12:operation soapAction="urn:getConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TemplateManagerAdminServiceHttpBinding" type="ns:TemplateManagerAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getConfigurationInfos">
            <http:operation location="getConfigurationInfos"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveStreamMapping">
            <http:operation location="saveStreamMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveConfiguration">
            <http:operation location="saveConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDomainInfo">
            <http:operation location="getDomainInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteConfiguration">
            <http:operation location="deleteConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllDomainInfos">
            <http:operation location="getAllDomainInfos"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <http:operation location="getConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TemplateManagerAdminService">
        <wsdl:port name="TemplateManagerAdminServiceHttpsSoap11Endpoint" binding="ns:TemplateManagerAdminServiceSoap11Binding">
            <soap:address location="https://10.100.7.55:9543/services/TemplateManagerAdminService.TemplateManagerAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TemplateManagerAdminServiceHttpsSoap12Endpoint" binding="ns:TemplateManagerAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.7.55:9543/services/TemplateManagerAdminService.TemplateManagerAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TemplateManagerAdminServiceHttpsEndpoint" binding="ns:TemplateManagerAdminServiceHttpBinding">
            <http:address location="https://10.100.7.55:9543/services/TemplateManagerAdminService.TemplateManagerAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>