components/event-monitor/event-tracer/org.wso2.carbon.event.tracer.ui/src/main/resources/EventTracerAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2014, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://tracer.event.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://tracer.event.carbon.wso2.org">
    <wsdl:documentation>EventTracerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tracer.event.carbon.wso2.org/xsd">
            <xs:complexType name="EventTracerAdminServiceException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2111="http://tracer.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tracer.event.carbon.wso2.org">
            <xs:import namespace="http://tracer.event.carbon.wso2.org/xsd"/>
            <xs:element name="EventTracerAdminServiceEventTracerAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EventTracerAdminServiceException" nillable="true" type="ax2111:EventTracerAdminServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchTraceLog">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ignoreCase" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchTraceLogResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTraceLogs">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTraceLogsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLogs">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLogsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearTraceLogs">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearTraceLogsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="searchTraceLogRequest">
        <wsdl:part name="parameters" element="ns:searchTraceLog"/>
    </wsdl:message>
    <wsdl:message name="searchTraceLogResponse">
        <wsdl:part name="parameters" element="ns:searchTraceLogResponse"/>
    </wsdl:message>
    <wsdl:message name="EventTracerAdminServiceEventTracerAdminServiceException">
        <wsdl:part name="parameters" element="ns:EventTracerAdminServiceEventTracerAdminServiceException"/>
    </wsdl:message>
    <wsdl:message name="getTraceLogsRequest">
        <wsdl:part name="parameters" element="ns:getTraceLogs"/>
    </wsdl:message>
    <wsdl:message name="getTraceLogsResponse">
        <wsdl:part name="parameters" element="ns:getTraceLogsResponse"/>
    </wsdl:message>
    <wsdl:message name="getLogsRequest">
        <wsdl:part name="parameters" element="ns:getLogs"/>
    </wsdl:message>
    <wsdl:message name="getLogsResponse">
        <wsdl:part name="parameters" element="ns:getLogsResponse"/>
    </wsdl:message>
    <wsdl:message name="clearTraceLogsRequest">
        <wsdl:part name="parameters" element="ns:clearTraceLogs"/>
    </wsdl:message>
    <wsdl:message name="clearTraceLogsResponse">
        <wsdl:part name="parameters" element="ns:clearTraceLogsResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventTracerAdminServicePortType">
        <wsdl:operation name="searchTraceLog">
            <wsdl:input message="ns:searchTraceLogRequest" wsaw:Action="urn:searchTraceLog"/>
            <wsdl:output message="ns:searchTraceLogResponse" wsaw:Action="urn:searchTraceLogResponse"/>
            <wsdl:fault message="ns:EventTracerAdminServiceEventTracerAdminServiceException" name="EventTracerAdminServiceEventTracerAdminServiceException" wsaw:Action="urn:searchTraceLogEventTracerAdminServiceEventTracerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getTraceLogs">
            <wsdl:input message="ns:getTraceLogsRequest" wsaw:Action="urn:getTraceLogs"/>
            <wsdl:output message="ns:getTraceLogsResponse" wsaw:Action="urn:getTraceLogsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <wsdl:input message="ns:getLogsRequest" wsaw:Action="urn:getLogs"/>
            <wsdl:output message="ns:getLogsResponse" wsaw:Action="urn:getLogsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="clearTraceLogs">
            <wsdl:input message="ns:clearTraceLogsRequest" wsaw:Action="urn:clearTraceLogs"/>
            <wsdl:output message="ns:clearTraceLogsResponse" wsaw:Action="urn:clearTraceLogsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventTracerAdminServiceSoap11Binding" type="ns:EventTracerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="searchTraceLog">
            <soap:operation soapAction="urn:searchTraceLog" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EventTracerAdminServiceEventTracerAdminServiceException">
                <soap:fault use="literal" name="EventTracerAdminServiceEventTracerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTraceLogs">
            <soap:operation soapAction="urn:getTraceLogs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <soap:operation soapAction="urn:getLogs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearTraceLogs">
            <soap:operation soapAction="urn:clearTraceLogs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventTracerAdminServiceSoap12Binding" type="ns:EventTracerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="searchTraceLog">
            <soap12:operation soapAction="urn:searchTraceLog" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EventTracerAdminServiceEventTracerAdminServiceException">
                <soap12:fault use="literal" name="EventTracerAdminServiceEventTracerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTraceLogs">
            <soap12:operation soapAction="urn:getTraceLogs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <soap12:operation soapAction="urn:getLogs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearTraceLogs">
            <soap12:operation soapAction="urn:clearTraceLogs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventTracerAdminServiceHttpBinding" type="ns:EventTracerAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="searchTraceLog">
            <http:operation location="searchTraceLog"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTraceLogs">
            <http:operation location="getTraceLogs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLogs">
            <http:operation location="getLogs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="clearTraceLogs">
            <http:operation location="clearTraceLogs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventTracerAdminService">
        <wsdl:port name="EventTracerAdminServiceHttpsSoap11Endpoint" binding="ns:EventTracerAdminServiceSoap11Binding">
            <soap:address location="https://10.200.1.90:9443/services/EventTracerAdminService.EventTracerAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventTracerAdminServiceHttpsSoap12Endpoint" binding="ns:EventTracerAdminServiceSoap12Binding">
            <soap12:address location="https://10.200.1.90:9443/services/EventTracerAdminService.EventTracerAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventTracerAdminServiceHttpsEndpoint" binding="ns:EventTracerAdminServiceHttpBinding">
            <http:address location="https://10.200.1.90:9443/services/EventTracerAdminService.EventTracerAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>