components/dashboard/org.wso2.carbon.dashboard.mgt.theme.ui/src/main/resources/ThemeMgtService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:axis2="http://theme.mgt.dashboard.carbon.wso2.org"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.wso2.wsf/tools"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ax292="http://common.theme.mgt.dashboard.carbon.wso2.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://theme.mgt.dashboard.carbon.wso2.org">
    <wsdl:documentation>ThemeMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax293="http://common.theme.mgt.dashboard.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.wso2.wsf/tools">
            <xs:import namespace="http://common.theme.mgt.dashboard.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>

            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true"
                                    type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setThemeForUser">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="themePath" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setThemeForUserResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getThemes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getThemesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                                    nillable="true" type="ax293:Theme"/>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getDefaultThemeForUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDefaultThemeForUserResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addResource">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mediaType" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="content" nillable="true"
                                    type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="symlinkLocation" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://common.theme.mgt.dashboard.carbon.wso2.org/xsd">
            <xs:complexType name="Theme">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cssUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="themeAuthor" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="themeDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="themeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="thumbUrl" nillable="true" type="xs:string"/>
                </xs:sequence>

            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDefaultThemeForUserRequest">
        <wsdl:part name="parameters" element="ns:getDefaultThemeForUser"/>
    </wsdl:message>
    <wsdl:message name="getDefaultThemeForUserResponse">
        <wsdl:part name="parameters" element="ns:getDefaultThemeForUserResponse"/>
    </wsdl:message>

    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:message name="addResourceRequest">
        <wsdl:part name="parameters" element="ns:addResource"/>
    </wsdl:message>
    <wsdl:message name="setThemeForUserRequest">
        <wsdl:part name="parameters" element="ns:setThemeForUser"/>
    </wsdl:message>

    <wsdl:message name="setThemeForUserResponse">
        <wsdl:part name="parameters" element="ns:setThemeForUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getThemesRequest">
        <wsdl:part name="parameters" element="ns:getThemes"/>
    </wsdl:message>
    <wsdl:message name="getThemesResponse">
        <wsdl:part name="parameters" element="ns:getThemesResponse"/>
    </wsdl:message>

    <wsdl:portType name="ThemeMgtServicePortType">
        <wsdl:operation name="getDefaultThemeForUser">
            <wsdl:input message="axis2:getDefaultThemeForUserRequest"
                        wsaw:Action="urn:getDefaultThemeForUser"/>
            <wsdl:output message="axis2:getDefaultThemeForUserResponse"
                         wsaw:Action="urn:getDefaultThemeForUserResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:getDefaultThemeForUserException"/>
        </wsdl:operation>
        <wsdl:operation name="addResource">
            <wsdl:input message="axis2:addResourceRequest" wsaw:Action="urn:addResource"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:addResourceException"/>

        </wsdl:operation>
        <wsdl:operation name="setThemeForUser">
            <wsdl:input message="axis2:setThemeForUserRequest" wsaw:Action="urn:setThemeForUser"/>
            <wsdl:output message="axis2:setThemeForUserResponse"
                         wsaw:Action="urn:setThemeForUserResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:setThemeForUserException"/>
        </wsdl:operation>
        <wsdl:operation name="getThemes">
            <wsdl:input message="axis2:getThemesRequest" wsaw:Action="urn:getThemes"/>
            <wsdl:output message="axis2:getThemesResponse" wsaw:Action="urn:getThemesResponse"/>

            <wsdl:fault message="axis2:Exception" name="Exception"
                        wsaw:Action="urn:getThemesException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ThemeMgtServiceSoap11Binding" type="axis2:ThemeMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDefaultThemeForUser">
            <soap:operation soapAction="urn:getDefaultThemeForUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addResource">

            <soap:operation soapAction="urn:addResource" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setThemeForUser">

            <soap:operation soapAction="urn:setThemeForUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getThemes">
            <soap:operation soapAction="urn:getThemes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ThemeMgtServiceSoap12Binding" type="axis2:ThemeMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDefaultThemeForUser">

            <soap12:operation soapAction="urn:getDefaultThemeForUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addResource">
            <soap12:operation soapAction="urn:addResource" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setThemeForUser">
            <soap12:operation soapAction="urn:setThemeForUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getThemes">
            <soap12:operation soapAction="urn:getThemes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="ThemeMgtServiceHttpBinding" type="axis2:ThemeMgtServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDefaultThemeForUser">
            <http:operation location="getDefaultThemeForUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getDefaultThemeForUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getDefaultThemeForUser"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addResource">
            <http:operation location="addResource"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addResource"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setThemeForUser">

            <http:operation location="setThemeForUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setThemeForUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="setThemeForUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getThemes">

            <http:operation location="getThemes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getThemes"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getThemes"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ThemeMgtService">
        <wsdl:port name="ThemeMgtServiceHttpsSoap11Endpoint"
                   binding="axis2:ThemeMgtServiceSoap11Binding">
            <soap:address
                    location="https://10.100.1.133:8443/services/ThemeMgtService.ThemeMgtServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ThemeMgtServiceHttpSoap11Endpoint"
                   binding="axis2:ThemeMgtServiceSoap11Binding">
            <soap:address
                    location="http://10.100.1.133:8080/services/ThemeMgtService.ThemeMgtServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ThemeMgtServiceHttpsSoap12Endpoint"
                   binding="axis2:ThemeMgtServiceSoap12Binding">
            <soap12:address
                    location="https://10.100.1.133:8443/services/ThemeMgtService.ThemeMgtServiceHttpsSoap12Endpoint/"/>

        </wsdl:port>
        <wsdl:port name="ThemeMgtServiceHttpSoap12Endpoint"
                   binding="axis2:ThemeMgtServiceSoap12Binding">
            <soap12:address
                    location="http://10.100.1.133:8080/services/ThemeMgtService.ThemeMgtServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ThemeMgtServiceHttpEndpoint" binding="axis2:ThemeMgtServiceHttpBinding">
            <http:address
                    location="http://10.100.1.133:8080/services/ThemeMgtService.ThemeMgtServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ThemeMgtServiceHttpsEndpoint" binding="axis2:ThemeMgtServiceHttpBinding">
            <http:address
                    location="https://10.100.1.133:8443/services/ThemeMgtService.ThemeMgtServiceHttpsEndpoint/"/>

        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>