service-stubs/org.wso2.carbon.dashboard.stub/src/main/resources/DashboardUtilService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.wso2.wsf/tools" xmlns:ax221="http://dashboard.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax223="http://bean.dashboard.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://dashboard.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dashboard.carbon.wso2.org">
    <wsdl:documentation>DashboardUtilService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.dashboard.carbon.wso2.org/xsd">
            <xs:complexType name="DashboardUtilBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="anonModeActive" type="xs:boolean" />
                    <xs:element minOccurs="0" name="backendHttpPort" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="gadgetUrlSetForUnSignedUser" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="sessionValid" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dashboard.carbon.wso2.org/xsd">
            <xs:complexType name="DashboardException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>

        <xs:schema xmlns:ax222="http://dashboard.carbon.wso2.org/xsd" xmlns:ax224="http://bean.dashboard.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.wso2.wsf/tools">
            <xs:import namespace="http://dashboard.carbon.wso2.org/xsd" />
            <xs:import namespace="http://bean.dashboard.carbon.wso2.org/xsd" />
            <xs:element name="DashboardException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DashboardException" nillable="true" type="ax221:DashboardException" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getDashboardUtils">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tDomain" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDashboardUtilsResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:DashboardUtilBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDashboardUtilsRequest">

        <wsdl:part name="parameters" element="ns:getDashboardUtils" />
    </wsdl:message>
    <wsdl:message name="getDashboardUtilsResponse">
        <wsdl:part name="parameters" element="ns:getDashboardUtilsResponse" />
    </wsdl:message>
    <wsdl:message name="DashboardException">
        <wsdl:part name="parameters" element="ns:DashboardException" />
    </wsdl:message>
    <wsdl:portType name="DashboardUtilServicePortType">

        <wsdl:operation name="getDashboardUtils">
            <wsdl:input message="tns:getDashboardUtilsRequest" wsaw:Action="urn:getDashboardUtils" />
            <wsdl:output message="tns:getDashboardUtilsResponse" wsaw:Action="urn:getDashboardUtilsResponse" />
            <wsdl:fault message="tns:DashboardException" name="DashboardException" wsaw:Action="urn:getDashboardUtilsDashboardException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DashboardUtilServiceSoap11Binding" type="tns:DashboardUtilServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getDashboardUtils">

            <soap:operation soapAction="urn:getDashboardUtils" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DashboardException">
                <soap:fault use="literal" name="DashboardException" />

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DashboardUtilServiceSoap12Binding" type="tns:DashboardUtilServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getDashboardUtils">
            <soap12:operation soapAction="urn:getDashboardUtils" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DashboardException">
                <soap12:fault use="literal" name="DashboardException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="DashboardUtilServiceHttpBinding" type="tns:DashboardUtilServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getDashboardUtils">
            <http:operation location="getDashboardUtils" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />

            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DashboardUtilService">
        <wsdl:port name="DashboardUtilServiceHttpSoap11Endpoint" binding="tns:DashboardUtilServiceSoap11Binding">
            <soap:address location="http://10.100.0.33:8080/services/DashboardUtilService.DashboardUtilServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="DashboardUtilServiceHttpsSoap11Endpoint" binding="tns:DashboardUtilServiceSoap11Binding">
            <soap:address location="https://10.100.0.33:8443/services/DashboardUtilService.DashboardUtilServiceHttpsSoap11Endpoint/" />

        </wsdl:port>
        <wsdl:port name="DashboardUtilServiceHttpSoap12Endpoint" binding="tns:DashboardUtilServiceSoap12Binding">
            <soap12:address location="http://10.100.0.33:8080/services/DashboardUtilService.DashboardUtilServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="DashboardUtilServiceHttpsSoap12Endpoint" binding="tns:DashboardUtilServiceSoap12Binding">
            <soap12:address location="https://10.100.0.33:8443/services/DashboardUtilService.DashboardUtilServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="DashboardUtilServiceHttpEndpoint" binding="tns:DashboardUtilServiceHttpBinding">
            <http:address location="http://10.100.0.33:8080/services/DashboardUtilService.DashboardUtilServiceHttpEndpoint/" />

        </wsdl:port>
        <wsdl:port name="DashboardUtilServiceHttpsEndpoint" binding="tns:DashboardUtilServiceHttpBinding">
            <http:address location="https://10.100.0.33:8443/services/DashboardUtilService.DashboardUtilServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>