service-stubs/org.wso2.carbon.event.builder.stub/src/main/resources/EventBuilderAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2106="http://internal.admin.builder.event.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.builder.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.builder.event.carbon.wso2.org">
    <wsdl:documentation>EventBuilderAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.builder.event.carbon.wso2.org/xsd">
            <xs:complexType name="EventBuilderPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="propertyType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secured" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InputEventAdaptorInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="inputEventAdaptorName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inputEventAdaptorType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventBuilderConfigurationDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventBuilderConfigName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="eventBuilderProperties" nillable="true" type="ax2106:EventBuilderPropertyDto"/>
                    <xs:element minOccurs="0" name="inputEventAdaptorName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inputEventAdaptorType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inputMappingType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statisticsEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="toStreamName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="toStreamVersion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="traceEnabled" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2107="http://internal.admin.builder.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.builder.event.carbon.wso2.org">
            <xs:import namespace="http://internal.admin.builder.event.carbon.wso2.org/xsd"/>
            <xs:element name="undeployInactiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployActiveConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setTraceEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="traceEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStatisticsEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="statisticsEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSupportedInputMappingTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inputEventAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSupportedInputMappingTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageConfigurationPropertiesWithValue">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageConfigurationPropertiesWithValueResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:EventBuilderPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageConfigurationProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="inputEventAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageConfigurationPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:EventBuilderPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputEventAdaptorInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputEventAdaptorInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:InputEventAdaptorInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveEventBuilderConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveEventBuilderConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventBuilderStatusAsString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventBuilderStatusAsStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStreamSpecificActiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStreamSpecificActiveEventBuilderConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:EventBuilderConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveEventBuilderConfigurations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveEventBuilderConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveEventBuilderConfigurations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveEventBuilderConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:EventBuilderConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventBuilderConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2107:EventBuilderConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editInactiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventBuilderConfigXml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editActiveEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="originalEventBuilderName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventBuilderConfigXml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployEventBuilderConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventBuilderConfigurationDto" nillable="true" type="ax2107:EventBuilderConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getInactiveEventBuilderConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getInactiveEventBuilderConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getInactiveEventBuilderConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getInactiveEventBuilderConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="setTraceEnabledRequest">
        <wsdl:part name="parameters" element="ns:setTraceEnabled"/>
    </wsdl:message>
    <wsdl:message name="setTraceEnabledResponse"/>
    <wsdl:message name="getInputEventAdaptorInfoRequest">
        <wsdl:part name="parameters" element="ns:getInputEventAdaptorInfo"/>
    </wsdl:message>
    <wsdl:message name="getInputEventAdaptorInfoResponse">
        <wsdl:part name="parameters" element="ns:getInputEventAdaptorInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getMessageConfigurationPropertiesWithValueRequest">
        <wsdl:part name="parameters" element="ns:getMessageConfigurationPropertiesWithValue"/>
    </wsdl:message>
    <wsdl:message name="getMessageConfigurationPropertiesWithValueResponse">
        <wsdl:part name="parameters" element="ns:getMessageConfigurationPropertiesWithValueResponse"/>
    </wsdl:message>
    <wsdl:message name="getSupportedInputMappingTypesRequest">
        <wsdl:part name="parameters" element="ns:getSupportedInputMappingTypes"/>
    </wsdl:message>
    <wsdl:message name="getSupportedInputMappingTypesResponse">
        <wsdl:part name="parameters" element="ns:getSupportedInputMappingTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployActiveConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveConfigurationResponse"/>
    <wsdl:message name="getAllActiveEventBuilderConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:getAllActiveEventBuilderConfigurations"/>
    </wsdl:message>
    <wsdl:message name="getAllActiveEventBuilderConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:getAllActiveEventBuilderConfigurationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllStreamSpecificActiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getAllStreamSpecificActiveEventBuilderConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getAllStreamSpecificActiveEventBuilderConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getAllStreamSpecificActiveEventBuilderConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledRequest">
        <wsdl:part name="parameters" element="ns:setStatisticsEnabled"/>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledResponse"/>
    <wsdl:message name="editInactiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editInactiveEventBuilderConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editInactiveEventBuilderConfigurationResponse"/>
    <wsdl:message name="getEventBuilderStatusAsStringRequest">
        <wsdl:part name="parameters" element="ns:getEventBuilderStatusAsString"/>
    </wsdl:message>
    <wsdl:message name="getEventBuilderStatusAsStringResponse">
        <wsdl:part name="parameters" element="ns:getEventBuilderStatusAsStringResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveEventBuilderConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:getAllInactiveEventBuilderConfigurations"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveEventBuilderConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:getAllInactiveEventBuilderConfigurationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getActiveEventBuilderConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getActiveEventBuilderConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="deployEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployEventBuilderConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployEventBuilderConfigurationResponse"/>
    <wsdl:message name="undeployInactiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployInactiveEventBuilderConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployInactiveEventBuilderConfigurationResponse"/>
    <wsdl:message name="getMessageConfigurationPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getMessageConfigurationProperties"/>
    </wsdl:message>
    <wsdl:message name="getMessageConfigurationPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getMessageConfigurationPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="editActiveEventBuilderConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editActiveEventBuilderConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editActiveEventBuilderConfigurationResponse"/>
    <wsdl:portType name="EventBuilderAdminServicePortType">
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <wsdl:input message="ns:getInactiveEventBuilderConfigurationContentRequest" wsaw:Action="urn:getInactiveEventBuilderConfigurationContent"/>
            <wsdl:output message="ns:getInactiveEventBuilderConfigurationContentResponse" wsaw:Action="urn:getInactiveEventBuilderConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <wsdl:input message="ns:setTraceEnabledRequest" wsaw:Action="urn:setTraceEnabled"/>
            <wsdl:output message="ns:setTraceEnabledResponse" wsaw:Action="urn:setTraceEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorInfo">
            <wsdl:input message="ns:getInputEventAdaptorInfoRequest" wsaw:Action="urn:getInputEventAdaptorInfo"/>
            <wsdl:output message="ns:getInputEventAdaptorInfoResponse" wsaw:Action="urn:getInputEventAdaptorInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationPropertiesWithValue">
            <wsdl:input message="ns:getMessageConfigurationPropertiesWithValueRequest" wsaw:Action="urn:getMessageConfigurationPropertiesWithValue"/>
            <wsdl:output message="ns:getMessageConfigurationPropertiesWithValueResponse" wsaw:Action="urn:getMessageConfigurationPropertiesWithValueResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSupportedInputMappingTypes">
            <wsdl:input message="ns:getSupportedInputMappingTypesRequest" wsaw:Action="urn:getSupportedInputMappingTypes"/>
            <wsdl:output message="ns:getSupportedInputMappingTypesResponse" wsaw:Action="urn:getSupportedInputMappingTypesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveConfiguration">
            <wsdl:input message="ns:undeployActiveConfigurationRequest" wsaw:Action="urn:undeployActiveConfiguration"/>
            <wsdl:output message="ns:undeployActiveConfigurationResponse" wsaw:Action="urn:undeployActiveConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <wsdl:input message="ns:getAllActiveEventBuilderConfigurationsRequest" wsaw:Action="urn:getAllActiveEventBuilderConfigurations"/>
            <wsdl:output message="ns:getAllActiveEventBuilderConfigurationsResponse" wsaw:Action="urn:getAllActiveEventBuilderConfigurationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <wsdl:input message="ns:getAllStreamSpecificActiveEventBuilderConfigurationRequest" wsaw:Action="urn:getAllStreamSpecificActiveEventBuilderConfiguration"/>
            <wsdl:output message="ns:getAllStreamSpecificActiveEventBuilderConfigurationResponse" wsaw:Action="urn:getAllStreamSpecificActiveEventBuilderConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <wsdl:input message="ns:setStatisticsEnabledRequest" wsaw:Action="urn:setStatisticsEnabled"/>
            <wsdl:output message="ns:setStatisticsEnabledResponse" wsaw:Action="urn:setStatisticsEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <wsdl:input message="ns:editInactiveEventBuilderConfigurationRequest" wsaw:Action="urn:editInactiveEventBuilderConfiguration"/>
            <wsdl:output message="ns:editInactiveEventBuilderConfigurationResponse" wsaw:Action="urn:editInactiveEventBuilderConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderStatusAsString">
            <wsdl:input message="ns:getEventBuilderStatusAsStringRequest" wsaw:Action="urn:getEventBuilderStatusAsString"/>
            <wsdl:output message="ns:getEventBuilderStatusAsStringResponse" wsaw:Action="urn:getEventBuilderStatusAsStringResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <wsdl:input message="ns:getActiveEventBuilderConfigurationRequest" wsaw:Action="urn:getActiveEventBuilderConfiguration"/>
            <wsdl:output message="ns:getActiveEventBuilderConfigurationResponse" wsaw:Action="urn:getActiveEventBuilderConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <wsdl:input message="ns:getAllInactiveEventBuilderConfigurationsRequest" wsaw:Action="urn:getAllInactiveEventBuilderConfigurations"/>
            <wsdl:output message="ns:getAllInactiveEventBuilderConfigurationsResponse" wsaw:Action="urn:getAllInactiveEventBuilderConfigurationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <wsdl:input message="ns:getActiveEventBuilderConfigurationContentRequest" wsaw:Action="urn:getActiveEventBuilderConfigurationContent"/>
            <wsdl:output message="ns:getActiveEventBuilderConfigurationContentResponse" wsaw:Action="urn:getActiveEventBuilderConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <wsdl:input message="ns:deployEventBuilderConfigurationRequest" wsaw:Action="urn:deployEventBuilderConfiguration"/>
            <wsdl:output message="ns:deployEventBuilderConfigurationResponse" wsaw:Action="urn:deployEventBuilderConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <wsdl:input message="ns:undeployInactiveEventBuilderConfigurationRequest" wsaw:Action="urn:undeployInactiveEventBuilderConfiguration"/>
            <wsdl:output message="ns:undeployInactiveEventBuilderConfigurationResponse" wsaw:Action="urn:undeployInactiveEventBuilderConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationProperties">
            <wsdl:input message="ns:getMessageConfigurationPropertiesRequest" wsaw:Action="urn:getMessageConfigurationProperties"/>
            <wsdl:output message="ns:getMessageConfigurationPropertiesResponse" wsaw:Action="urn:getMessageConfigurationPropertiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <wsdl:input message="ns:editActiveEventBuilderConfigurationRequest" wsaw:Action="urn:editActiveEventBuilderConfiguration"/>
            <wsdl:output message="ns:editActiveEventBuilderConfigurationResponse" wsaw:Action="urn:editActiveEventBuilderConfigurationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventBuilderAdminServiceSoap11Binding" type="ns:EventBuilderAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <soap:operation soapAction="urn:getInactiveEventBuilderConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <soap:operation soapAction="urn:setTraceEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorInfo">
            <soap:operation soapAction="urn:getInputEventAdaptorInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationPropertiesWithValue">
            <soap:operation soapAction="urn:getMessageConfigurationPropertiesWithValue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSupportedInputMappingTypes">
            <soap:operation soapAction="urn:getSupportedInputMappingTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <soap:operation soapAction="urn:getAllActiveEventBuilderConfigurations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveConfiguration">
            <soap:operation soapAction="urn:undeployActiveConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:getAllStreamSpecificActiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:editInactiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderStatusAsString">
            <soap:operation soapAction="urn:getEventBuilderStatusAsString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:getActiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <soap:operation soapAction="urn:getAllInactiveEventBuilderConfigurations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationProperties">
            <soap:operation soapAction="urn:getMessageConfigurationProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:undeployInactiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <soap:operation soapAction="urn:deployEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <soap:operation soapAction="urn:getActiveEventBuilderConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <soap:operation soapAction="urn:editActiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventBuilderAdminServiceSoap12Binding" type="ns:EventBuilderAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <soap12:operation soapAction="urn:getInactiveEventBuilderConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <soap12:operation soapAction="urn:setTraceEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorInfo">
            <soap12:operation soapAction="urn:getInputEventAdaptorInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationPropertiesWithValue">
            <soap12:operation soapAction="urn:getMessageConfigurationPropertiesWithValue" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSupportedInputMappingTypes">
            <soap12:operation soapAction="urn:getSupportedInputMappingTypes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <soap12:operation soapAction="urn:getAllActiveEventBuilderConfigurations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveConfiguration">
            <soap12:operation soapAction="urn:undeployActiveConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:getAllStreamSpecificActiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:editInactiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap12:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderStatusAsString">
            <soap12:operation soapAction="urn:getEventBuilderStatusAsString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:getActiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <soap12:operation soapAction="urn:getAllInactiveEventBuilderConfigurations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationProperties">
            <soap12:operation soapAction="urn:getMessageConfigurationProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:undeployInactiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <soap12:operation soapAction="urn:deployEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <soap12:operation soapAction="urn:getActiveEventBuilderConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <soap12:operation soapAction="urn:editActiveEventBuilderConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventBuilderAdminServiceHttpBinding" type="ns:EventBuilderAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getInactiveEventBuilderConfigurationContent">
            <http:operation location="getInactiveEventBuilderConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTraceEnabled">
            <http:operation location="setTraceEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorInfo">
            <http:operation location="getInputEventAdaptorInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationPropertiesWithValue">
            <http:operation location="getMessageConfigurationPropertiesWithValue"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSupportedInputMappingTypes">
            <http:operation location="getSupportedInputMappingTypes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventBuilderConfigurations">
            <http:operation location="getAllActiveEventBuilderConfigurations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveConfiguration">
            <http:operation location="undeployActiveConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventBuilderConfiguration">
            <http:operation location="getAllStreamSpecificActiveEventBuilderConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventBuilderConfiguration">
            <http:operation location="editInactiveEventBuilderConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <http:operation location="setStatisticsEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventBuilderStatusAsString">
            <http:operation location="getEventBuilderStatusAsString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfiguration">
            <http:operation location="getActiveEventBuilderConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventBuilderConfigurations">
            <http:operation location="getAllInactiveEventBuilderConfigurations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageConfigurationProperties">
            <http:operation location="getMessageConfigurationProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventBuilderConfiguration">
            <http:operation location="undeployInactiveEventBuilderConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventBuilderConfiguration">
            <http:operation location="deployEventBuilderConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventBuilderConfigurationContent">
            <http:operation location="getActiveEventBuilderConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventBuilderConfiguration">
            <http:operation location="editActiveEventBuilderConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventBuilderAdminService">
        <wsdl:port name="EventBuilderAdminServiceHttpsSoap11Endpoint" binding="ns:EventBuilderAdminServiceSoap11Binding">
            <soap:address location="https://10.100.0.44:9443/services/EventBuilderAdminService.EventBuilderAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventBuilderAdminServiceHttpsSoap12Endpoint" binding="ns:EventBuilderAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.0.44:9443/services/EventBuilderAdminService.EventBuilderAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventBuilderAdminServiceHttpsEndpoint" binding="ns:EventBuilderAdminServiceHttpBinding">
            <http:address location="https://10.100.0.44:9443/services/EventBuilderAdminService.EventBuilderAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>