service-stubs/analytics-dashboard/org.wso2.carbon.analytics.messageconsole.stub/src/main/resources/MessageConsoleAdmin.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://messageconsole.analytics.carbon.wso2.org" xmlns:ax213="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
    <wsdl:documentation>MessageConsole</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="PermissionBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createTable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="deleteIndex" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="deleteRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="dropTable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="getIndex" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="listRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="listTable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="putRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="searchRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="setIndex" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TableBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="ax215:ColumnBean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ColumnBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="display" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="index" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RecordBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entityBeans" nillable="true" type="ax215:EntityBean"></xs:element>
                    <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="timestamp" type="xs:long"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EntityBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScheduleTaskInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cronString" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="retentionPeriod" type="xs:int"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RecordResultBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="records" nillable="true" type="ax215:RecordBean"></xs:element>
                    <xs:element minOccurs="0" name="totalResultCount" type="xs:long"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ax216="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
            <xs:import namespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="MessageConsoleMessageConsoleException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageConsoleException" nillable="true" type="ax214:MessageConsoleException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailablePermissions">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailablePermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:PermissionBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putArbitraryField">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:TableBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableInfoWithIndicesInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableInfoWithIndicesInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:TableBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRecord">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRecordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:RecordBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRecord">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRecordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:RecordBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArbitraryList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArbitraryListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax215:EntityBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteArbitraryField">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableInfo" nillable="true" type="ax215:TableBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="scheduleDataPurging">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="cronString" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="retentionPeriod" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataPurgingDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataPurgingDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:ScheduleTaskInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="timeFrom" type="xs:long"></xs:element>
                        <xs:element minOccurs="0" name="timeTo" type="xs:long"></xs:element>
                        <xs:element minOccurs="0" name="startIndex" type="xs:int"></xs:element>
                        <xs:element minOccurs="0" name="recordCount" type="xs:int"></xs:element>
                        <xs:element minOccurs="0" name="searchQuery" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:RecordResultBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableInfo" nillable="true" type="ax215:TableBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPaginationSupported">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPaginationSupportedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteRecords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="recordIds" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTables">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTablesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="MessageConsoleException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createTableRequest">
        <wsdl:part name="parameters" element="ns:createTable"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MessageConsoleMessageConsoleException">
        <wsdl:part name="parameters" element="ns:MessageConsoleMessageConsoleException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getArbitraryListRequest">
        <wsdl:part name="parameters" element="ns:getArbitraryList"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getArbitraryListResponse">
        <wsdl:part name="parameters" element="ns:getArbitraryListResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTableInfoWithIndicesInfoRequest">
        <wsdl:part name="parameters" element="ns:getTableInfoWithIndicesInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTableInfoWithIndicesInfoResponse">
        <wsdl:part name="parameters" element="ns:getTableInfoWithIndicesInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTableInfoRequest">
        <wsdl:part name="parameters" element="ns:getTableInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTableInfoResponse">
        <wsdl:part name="parameters" element="ns:getTableInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listTablesRequest">
        <wsdl:part name="parameters" element="ns:listTables"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listTablesResponse">
        <wsdl:part name="parameters" element="ns:listTablesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="editTableRequest">
        <wsdl:part name="parameters" element="ns:editTable"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteArbitraryFieldRequest">
        <wsdl:part name="parameters" element="ns:deleteArbitraryField"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRecordRequest">
        <wsdl:part name="parameters" element="ns:addRecord"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRecordResponse">
        <wsdl:part name="parameters" element="ns:addRecordResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDataPurgingDetailsRequest">
        <wsdl:part name="parameters" element="ns:getDataPurgingDetails"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDataPurgingDetailsResponse">
        <wsdl:part name="parameters" element="ns:getDataPurgingDetailsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTableRequest">
        <wsdl:part name="parameters" element="ns:deleteTable"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isPaginationSupportedRequest">
        <wsdl:part name="parameters" element="ns:isPaginationSupported"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isPaginationSupportedResponse">
        <wsdl:part name="parameters" element="ns:isPaginationSupportedResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="putArbitraryFieldRequest">
        <wsdl:part name="parameters" element="ns:putArbitraryField"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteRecordsRequest">
        <wsdl:part name="parameters" element="ns:deleteRecords"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAvailablePermissionsRequest">
        <wsdl:part name="parameters" element="ns:getAvailablePermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAvailablePermissionsResponse">
        <wsdl:part name="parameters" element="ns:getAvailablePermissionsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="scheduleDataPurgingRequest">
        <wsdl:part name="parameters" element="ns:scheduleDataPurging"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRecordRequest">
        <wsdl:part name="parameters" element="ns:updateRecord"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRecordResponse">
        <wsdl:part name="parameters" element="ns:updateRecordResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRecordsRequest">
        <wsdl:part name="parameters" element="ns:getRecords"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRecordsResponse">
        <wsdl:part name="parameters" element="ns:getRecordsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MessageConsolePortType">
        <wsdl:operation name="createTable">
            <wsdl:input message="ns:createTableRequest" wsaw:Action="urn:createTable"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:createTableMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArbitraryList">
            <wsdl:input message="ns:getArbitraryListRequest" wsaw:Action="urn:getArbitraryList"></wsdl:input>
            <wsdl:output message="ns:getArbitraryListResponse" wsaw:Action="urn:getArbitraryListResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getArbitraryListMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableInfoWithIndicesInfo">
            <wsdl:input message="ns:getTableInfoWithIndicesInfoRequest" wsaw:Action="urn:getTableInfoWithIndicesInfo"></wsdl:input>
            <wsdl:output message="ns:getTableInfoWithIndicesInfoResponse" wsaw:Action="urn:getTableInfoWithIndicesInfoResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getTableInfoWithIndicesInfoMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableInfo">
            <wsdl:input message="ns:getTableInfoRequest" wsaw:Action="urn:getTableInfo"></wsdl:input>
            <wsdl:output message="ns:getTableInfoResponse" wsaw:Action="urn:getTableInfoResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getTableInfoMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <wsdl:input message="ns:listTablesRequest" wsaw:Action="urn:listTables"></wsdl:input>
            <wsdl:output message="ns:listTablesResponse" wsaw:Action="urn:listTablesResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:listTablesMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editTable">
            <wsdl:input message="ns:editTableRequest" wsaw:Action="urn:editTable"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:editTableMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteArbitraryField">
            <wsdl:input message="ns:deleteArbitraryFieldRequest" wsaw:Action="urn:deleteArbitraryField"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:deleteArbitraryFieldMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRecord">
            <wsdl:input message="ns:addRecordRequest" wsaw:Action="urn:addRecord"></wsdl:input>
            <wsdl:output message="ns:addRecordResponse" wsaw:Action="urn:addRecordResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:addRecordMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataPurgingDetails">
            <wsdl:input message="ns:getDataPurgingDetailsRequest" wsaw:Action="urn:getDataPurgingDetails"></wsdl:input>
            <wsdl:output message="ns:getDataPurgingDetailsResponse" wsaw:Action="urn:getDataPurgingDetailsResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getDataPurgingDetailsMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTable">
            <wsdl:input message="ns:deleteTableRequest" wsaw:Action="urn:deleteTable"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:deleteTableMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isPaginationSupported">
            <wsdl:input message="ns:isPaginationSupportedRequest" wsaw:Action="urn:isPaginationSupported"></wsdl:input>
            <wsdl:output message="ns:isPaginationSupportedResponse" wsaw:Action="urn:isPaginationSupportedResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="putArbitraryField">
            <wsdl:input message="ns:putArbitraryFieldRequest" wsaw:Action="urn:putArbitraryField"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:putArbitraryFieldMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRecords">
            <wsdl:input message="ns:deleteRecordsRequest" wsaw:Action="urn:deleteRecords"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:deleteRecordsMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <wsdl:input message="ns:getAvailablePermissionsRequest" wsaw:Action="urn:getAvailablePermissions"></wsdl:input>
            <wsdl:output message="ns:getAvailablePermissionsResponse" wsaw:Action="urn:getAvailablePermissionsResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getAvailablePermissionsMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <wsdl:input message="ns:scheduleDataPurgingRequest" wsaw:Action="urn:scheduleDataPurging"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:scheduleDataPurgingMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRecord">
            <wsdl:input message="ns:updateRecordRequest" wsaw:Action="urn:updateRecord"></wsdl:input>
            <wsdl:output message="ns:updateRecordResponse" wsaw:Action="urn:updateRecordResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:updateRecordMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <wsdl:input message="ns:getRecordsRequest" wsaw:Action="urn:getRecords"></wsdl:input>
            <wsdl:output message="ns:getRecordsResponse" wsaw:Action="urn:getRecordsResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getRecordsMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageConsoleSoap11Binding" type="ns:MessageConsolePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="createTable">
            <soap:operation soapAction="urn:createTable" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArbitraryList">
            <soap:operation soapAction="urn:getArbitraryList" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableInfo">
            <soap:operation soapAction="urn:getTableInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableInfoWithIndicesInfo">
            <soap:operation soapAction="urn:getTableInfoWithIndicesInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <soap:operation soapAction="urn:listTables" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editTable">
            <soap:operation soapAction="urn:editTable" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRecord">
            <soap:operation soapAction="urn:addRecord" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteArbitraryField">
            <soap:operation soapAction="urn:deleteArbitraryField" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataPurgingDetails">
            <soap:operation soapAction="urn:getDataPurgingDetails" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTable">
            <soap:operation soapAction="urn:deleteTable" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isPaginationSupported">
            <soap:operation soapAction="urn:isPaginationSupported" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="putArbitraryField">
            <soap:operation soapAction="urn:putArbitraryField" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRecords">
            <soap:operation soapAction="urn:deleteRecords" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <soap:operation soapAction="urn:getAvailablePermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <soap:operation soapAction="urn:scheduleDataPurging" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRecord">
            <soap:operation soapAction="urn:updateRecord" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <soap:operation soapAction="urn:getRecords" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleSoap12Binding" type="ns:MessageConsolePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="createTable">
            <soap12:operation soapAction="urn:createTable" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArbitraryList">
            <soap12:operation soapAction="urn:getArbitraryList" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableInfo">
            <soap12:operation soapAction="urn:getTableInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTableInfoWithIndicesInfo">
            <soap12:operation soapAction="urn:getTableInfoWithIndicesInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <soap12:operation soapAction="urn:listTables" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editTable">
            <soap12:operation soapAction="urn:editTable" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRecord">
            <soap12:operation soapAction="urn:addRecord" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteArbitraryField">
            <soap12:operation soapAction="urn:deleteArbitraryField" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataPurgingDetails">
            <soap12:operation soapAction="urn:getDataPurgingDetails" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteTable">
            <soap12:operation soapAction="urn:deleteTable" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isPaginationSupported">
            <soap12:operation soapAction="urn:isPaginationSupported" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="putArbitraryField">
            <soap12:operation soapAction="urn:putArbitraryField" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRecords">
            <soap12:operation soapAction="urn:deleteRecords" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <soap12:operation soapAction="urn:getAvailablePermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <soap12:operation soapAction="urn:scheduleDataPurging" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRecord">
            <soap12:operation soapAction="urn:updateRecord" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <soap12:operation soapAction="urn:getRecords" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleHttpBinding" type="ns:MessageConsolePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="createTable">
            <http:operation location="createTable"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getArbitraryList">
            <http:operation location="getArbitraryList"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableInfo">
            <http:operation location="getTableInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTableInfoWithIndicesInfo">
            <http:operation location="getTableInfoWithIndicesInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <http:operation location="listTables"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editTable">
            <http:operation location="editTable"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addRecord">
            <http:operation location="addRecord"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteArbitraryField">
            <http:operation location="deleteArbitraryField"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDataPurgingDetails">
            <http:operation location="getDataPurgingDetails"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTable">
            <http:operation location="deleteTable"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isPaginationSupported">
            <http:operation location="isPaginationSupported"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="putArbitraryField">
            <http:operation location="putArbitraryField"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteRecords">
            <http:operation location="deleteRecords"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <http:operation location="getAvailablePermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <http:operation location="scheduleDataPurging"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateRecord">
            <http:operation location="updateRecord"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <http:operation location="getRecords"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageConsole">
        <wsdl:port name="MessageConsoleHttpsSoap11Endpoint" binding="ns:MessageConsoleSoap11Binding">
            <soap:address location="https://192.168.1.5:9443/services/MessageConsole.MessageConsoleHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsSoap12Endpoint" binding="ns:MessageConsoleSoap12Binding">
            <soap12:address location="https://192.168.1.5:9443/services/MessageConsole.MessageConsoleHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsEndpoint" binding="ns:MessageConsoleHttpBinding">
            <http:address location="https://192.168.1.5:9443/services/MessageConsole.MessageConsoleHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>