service-stubs/analytics-dashboard/org.wso2.carbon.analytics.messageconsole.stub/src/main/resources/MessageConsoleAdmin.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://messageconsole.analytics.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax211="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
    <wsdl:documentation>MessageConsole</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="RecordBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entityBeans" nillable="true" type="ax211:EntityBean"></xs:element>
                    <xs:element minOccurs="0" name="recordId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="timestamp" type="xs:long"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EntityBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="columnName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TableBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columns" nillable="true" type="ax211:ColumnBean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ColumnBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="display" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax212="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ax210="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
            <xs:import namespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="MessageConsoleMessageConsoleException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageConsoleException" nillable="true" type="ax29:MessageConsoleException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecords">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRecordsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:RecordBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTables">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTablesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTableInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:TableBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="MessageConsoleException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTableInfoRequest">
        <wsdl:part name="parameters" element="ns:getTableInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTableInfoResponse">
        <wsdl:part name="parameters" element="ns:getTableInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listTablesRequest">
        <wsdl:part name="parameters" element="ns:listTables"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listTablesResponse">
        <wsdl:part name="parameters" element="ns:listTablesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MessageConsoleMessageConsoleException">
        <wsdl:part name="parameters" element="ns:MessageConsoleMessageConsoleException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRecordsRequest">
        <wsdl:part name="parameters" element="ns:getRecords"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRecordsResponse">
        <wsdl:part name="parameters" element="ns:getRecordsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MessageConsolePortType">
        <wsdl:operation name="getTableInfo">
            <wsdl:input message="ns:getTableInfoRequest" wsaw:Action="urn:getTableInfo"></wsdl:input>
            <wsdl:output message="ns:getTableInfoResponse" wsaw:Action="urn:getTableInfoResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <wsdl:input message="ns:listTablesRequest" wsaw:Action="urn:listTables"></wsdl:input>
            <wsdl:output message="ns:listTablesResponse" wsaw:Action="urn:listTablesResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:listTablesMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <wsdl:input message="ns:getRecordsRequest" wsaw:Action="urn:getRecords"></wsdl:input>
            <wsdl:output message="ns:getRecordsResponse" wsaw:Action="urn:getRecordsResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getRecordsMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageConsoleSoap11Binding" type="ns:MessageConsolePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getTableInfo">
            <soap:operation soapAction="urn:getTableInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <soap:operation soapAction="urn:listTables" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <soap:operation soapAction="urn:getRecords" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleSoap12Binding" type="ns:MessageConsolePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getTableInfo">
            <soap12:operation soapAction="urn:getTableInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <soap12:operation soapAction="urn:listTables" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <soap12:operation soapAction="urn:getRecords" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleHttpBinding" type="ns:MessageConsolePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getTableInfo">
            <http:operation location="getTableInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTables">
            <http:operation location="listTables"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRecords">
            <http:operation location="getRecords"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageConsole">
        <wsdl:port name="MessageConsoleHttpsSoap11Endpoint" binding="ns:MessageConsoleSoap11Binding">
            <soap:address location="https://10.100.0.46:9443/services/MessageConsole.MessageConsoleHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsSoap12Endpoint" binding="ns:MessageConsoleSoap12Binding">
            <soap12:address location="https://10.100.0.46:9443/services/MessageConsole.MessageConsoleHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsEndpoint" binding="ns:MessageConsoleHttpBinding">
            <http:address location="https://10.100.0.46:9443/services/MessageConsole.MessageConsoleHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>