service-stubs/org.wso2.carbon.event.input.adaptor.manager.stub/src/main/resources/InputEventAdaptorManagerAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2106="http://internal.admin.manager.adaptor.input.event.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.manager.adaptor.input.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.manager.adaptor.input.event.carbon.wso2.org">
    <wsdl:documentation>InputEventAdaptorManagerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2107="http://internal.admin.manager.adaptor.input.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.adaptor.input.event.carbon.wso2.org">
            <xs:import namespace="http://internal.admin.manager.adaptor.input.event.carbon.wso2.org/xsd"/>
            <xs:element name="undeployInactiveInputEventAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployActiveInputEventAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setTracingEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStatisticsEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputEventAdaptorProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputEventAdaptorPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2107:InputEventAdaptorPropertiesDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveInputEventAdaptorConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveInputEventAdaptorConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInputEventAdaptorTypeNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInputEventAdaptorTypeNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveInputEventAdaptorConfigurationFile">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveInputEventAdaptorConfigurationFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:InputEventAdaptorFileDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveInputEventAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveInputEventAdaptorConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:InputEventAdaptorConfigurationInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveInputEventAdaptorConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveInputEventAdaptorConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveInputEventAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveInputEventAdaptorConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2107:InputEventAdaptorPropertiesDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editInactiveInputEventAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editActiveInputEventAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployInputEventAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdaptorType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inputAdaptorPropertyDtoInputs" nillable="true" type="ax2107:InputEventAdaptorPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.adaptor.input.event.carbon.wso2.org/xsd">
            <xs:complexType name="InputEventAdaptorPropertiesDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inputEventAdaptorPropertyDtos" nillable="true" type="ax2106:InputEventAdaptorPropertyDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InputEventAdaptorPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secured" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InputEventAdaptorFileDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InputEventAdaptorConfigurationInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableStats" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="eventAdaptorName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventAdaptorType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="editInactiveInputEventAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editInactiveInputEventAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editInactiveInputEventAdaptorConfigurationResponse"/>
    <wsdl:message name="getActiveInputEventAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getActiveInputEventAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getActiveInputEventAdaptorConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getActiveInputEventAdaptorConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveInputEventAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployActiveInputEventAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveInputEventAdaptorConfigurationResponse"/>
    <wsdl:message name="undeployInactiveInputEventAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployInactiveInputEventAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployInactiveInputEventAdaptorConfigurationResponse"/>
    <wsdl:message name="getAllActiveInputEventAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getAllActiveInputEventAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getAllActiveInputEventAdaptorConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getAllActiveInputEventAdaptorConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getInputEventAdaptorPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getInputEventAdaptorProperties"/>
    </wsdl:message>
    <wsdl:message name="getInputEventAdaptorPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getInputEventAdaptorPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="deployInputEventAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployInputEventAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployInputEventAdaptorConfigurationResponse"/>
    <wsdl:message name="getAllInputEventAdaptorTypeNamesRequest">
        <wsdl:part name="parameters" element="ns:getAllInputEventAdaptorTypeNames"/>
    </wsdl:message>
    <wsdl:message name="getAllInputEventAdaptorTypeNamesResponse">
        <wsdl:part name="parameters" element="ns:getAllInputEventAdaptorTypeNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledRequest">
        <wsdl:part name="parameters" element="ns:setStatisticsEnabled"/>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledResponse"/>
    <wsdl:message name="editActiveInputEventAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editActiveInputEventAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editActiveInputEventAdaptorConfigurationResponse"/>
    <wsdl:message name="setTracingEnabledRequest">
        <wsdl:part name="parameters" element="ns:setTracingEnabled"/>
    </wsdl:message>
    <wsdl:message name="setTracingEnabledResponse"/>
    <wsdl:message name="getInactiveInputEventAdaptorConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getInactiveInputEventAdaptorConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getInactiveInputEventAdaptorConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getInactiveInputEventAdaptorConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveInputEventAdaptorConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getActiveInputEventAdaptorConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getActiveInputEventAdaptorConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getActiveInputEventAdaptorConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveInputEventAdaptorConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:getAllInactiveInputEventAdaptorConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveInputEventAdaptorConfigurationFileResponse">
        <wsdl:part name="parameters" element="ns:getAllInactiveInputEventAdaptorConfigurationFileResponse"/>
    </wsdl:message>
    <wsdl:portType name="InputEventAdaptorManagerAdminServicePortType">
        <wsdl:operation name="editInactiveInputEventAdaptorConfiguration">
            <wsdl:input message="ns:editInactiveInputEventAdaptorConfigurationRequest" wsaw:Action="urn:editInactiveInputEventAdaptorConfiguration"/>
            <wsdl:output message="ns:editInactiveInputEventAdaptorConfigurationResponse" wsaw:Action="urn:editInactiveInputEventAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfiguration">
            <wsdl:input message="ns:getActiveInputEventAdaptorConfigurationRequest" wsaw:Action="urn:getActiveInputEventAdaptorConfiguration"/>
            <wsdl:output message="ns:getActiveInputEventAdaptorConfigurationResponse" wsaw:Action="urn:getActiveInputEventAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveInputEventAdaptorConfiguration">
            <wsdl:input message="ns:undeployActiveInputEventAdaptorConfigurationRequest" wsaw:Action="urn:undeployActiveInputEventAdaptorConfiguration"/>
            <wsdl:output message="ns:undeployActiveInputEventAdaptorConfigurationResponse" wsaw:Action="urn:undeployActiveInputEventAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveInputEventAdaptorConfiguration">
            <wsdl:input message="ns:undeployInactiveInputEventAdaptorConfigurationRequest" wsaw:Action="urn:undeployInactiveInputEventAdaptorConfiguration"/>
            <wsdl:output message="ns:undeployInactiveInputEventAdaptorConfigurationResponse" wsaw:Action="urn:undeployInactiveInputEventAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveInputEventAdaptorConfiguration">
            <wsdl:input message="ns:getAllActiveInputEventAdaptorConfigurationRequest" wsaw:Action="urn:getAllActiveInputEventAdaptorConfiguration"/>
            <wsdl:output message="ns:getAllActiveInputEventAdaptorConfigurationResponse" wsaw:Action="urn:getAllActiveInputEventAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorProperties">
            <wsdl:input message="ns:getInputEventAdaptorPropertiesRequest" wsaw:Action="urn:getInputEventAdaptorProperties"/>
            <wsdl:output message="ns:getInputEventAdaptorPropertiesResponse" wsaw:Action="urn:getInputEventAdaptorPropertiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployInputEventAdaptorConfiguration">
            <wsdl:input message="ns:deployInputEventAdaptorConfigurationRequest" wsaw:Action="urn:deployInputEventAdaptorConfiguration"/>
            <wsdl:output message="ns:deployInputEventAdaptorConfigurationResponse" wsaw:Action="urn:deployInputEventAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllInputEventAdaptorTypeNames">
            <wsdl:input message="ns:getAllInputEventAdaptorTypeNamesRequest" wsaw:Action="urn:getAllInputEventAdaptorTypeNames"/>
            <wsdl:output message="ns:getAllInputEventAdaptorTypeNamesResponse" wsaw:Action="urn:getAllInputEventAdaptorTypeNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <wsdl:input message="ns:setStatisticsEnabledRequest" wsaw:Action="urn:setStatisticsEnabled"/>
            <wsdl:output message="ns:setStatisticsEnabledResponse" wsaw:Action="urn:setStatisticsEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editActiveInputEventAdaptorConfiguration">
            <wsdl:input message="ns:editActiveInputEventAdaptorConfigurationRequest" wsaw:Action="urn:editActiveInputEventAdaptorConfiguration"/>
            <wsdl:output message="ns:editActiveInputEventAdaptorConfigurationResponse" wsaw:Action="urn:editActiveInputEventAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <wsdl:input message="ns:setTracingEnabledRequest" wsaw:Action="urn:setTracingEnabled"/>
            <wsdl:output message="ns:setTracingEnabledResponse" wsaw:Action="urn:setTracingEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getInactiveInputEventAdaptorConfigurationContent">
            <wsdl:input message="ns:getInactiveInputEventAdaptorConfigurationContentRequest" wsaw:Action="urn:getInactiveInputEventAdaptorConfigurationContent"/>
            <wsdl:output message="ns:getInactiveInputEventAdaptorConfigurationContentResponse" wsaw:Action="urn:getInactiveInputEventAdaptorConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfigurationContent">
            <wsdl:input message="ns:getActiveInputEventAdaptorConfigurationContentRequest" wsaw:Action="urn:getActiveInputEventAdaptorConfigurationContent"/>
            <wsdl:output message="ns:getActiveInputEventAdaptorConfigurationContentResponse" wsaw:Action="urn:getActiveInputEventAdaptorConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveInputEventAdaptorConfigurationFile">
            <wsdl:input message="ns:getAllInactiveInputEventAdaptorConfigurationFileRequest" wsaw:Action="urn:getAllInactiveInputEventAdaptorConfigurationFile"/>
            <wsdl:output message="ns:getAllInactiveInputEventAdaptorConfigurationFileResponse" wsaw:Action="urn:getAllInactiveInputEventAdaptorConfigurationFileResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InputEventAdaptorManagerAdminServiceSoap11Binding" type="ns:InputEventAdaptorManagerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="editInactiveInputEventAdaptorConfiguration">
            <soap:operation soapAction="urn:editInactiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveInputEventAdaptorConfiguration">
            <soap:operation soapAction="urn:undeployActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfiguration">
            <soap:operation soapAction="urn:getActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveInputEventAdaptorConfiguration">
            <soap:operation soapAction="urn:undeployInactiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorProperties">
            <soap:operation soapAction="urn:getInputEventAdaptorProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveInputEventAdaptorConfiguration">
            <soap:operation soapAction="urn:getAllActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployInputEventAdaptorConfiguration">
            <soap:operation soapAction="urn:deployInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInputEventAdaptorTypeNames">
            <soap:operation soapAction="urn:getAllInputEventAdaptorTypeNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveInputEventAdaptorConfiguration">
            <soap:operation soapAction="urn:editActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveInputEventAdaptorConfigurationContent">
            <soap:operation soapAction="urn:getInactiveInputEventAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <soap:operation soapAction="urn:setTracingEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfigurationContent">
            <soap:operation soapAction="urn:getActiveInputEventAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveInputEventAdaptorConfigurationFile">
            <soap:operation soapAction="urn:getAllInactiveInputEventAdaptorConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InputEventAdaptorManagerAdminServiceSoap12Binding" type="ns:InputEventAdaptorManagerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="editInactiveInputEventAdaptorConfiguration">
            <soap12:operation soapAction="urn:editInactiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveInputEventAdaptorConfiguration">
            <soap12:operation soapAction="urn:undeployActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfiguration">
            <soap12:operation soapAction="urn:getActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveInputEventAdaptorConfiguration">
            <soap12:operation soapAction="urn:undeployInactiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorProperties">
            <soap12:operation soapAction="urn:getInputEventAdaptorProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveInputEventAdaptorConfiguration">
            <soap12:operation soapAction="urn:getAllActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployInputEventAdaptorConfiguration">
            <soap12:operation soapAction="urn:deployInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInputEventAdaptorTypeNames">
            <soap12:operation soapAction="urn:getAllInputEventAdaptorTypeNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap12:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveInputEventAdaptorConfiguration">
            <soap12:operation soapAction="urn:editActiveInputEventAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveInputEventAdaptorConfigurationContent">
            <soap12:operation soapAction="urn:getInactiveInputEventAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <soap12:operation soapAction="urn:setTracingEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfigurationContent">
            <soap12:operation soapAction="urn:getActiveInputEventAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveInputEventAdaptorConfigurationFile">
            <soap12:operation soapAction="urn:getAllInactiveInputEventAdaptorConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InputEventAdaptorManagerAdminServiceHttpBinding" type="ns:InputEventAdaptorManagerAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="editInactiveInputEventAdaptorConfiguration">
            <http:operation location="editInactiveInputEventAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveInputEventAdaptorConfiguration">
            <http:operation location="undeployActiveInputEventAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfiguration">
            <http:operation location="getActiveInputEventAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveInputEventAdaptorConfiguration">
            <http:operation location="undeployInactiveInputEventAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputEventAdaptorProperties">
            <http:operation location="getInputEventAdaptorProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveInputEventAdaptorConfiguration">
            <http:operation location="getAllActiveInputEventAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployInputEventAdaptorConfiguration">
            <http:operation location="deployInputEventAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInputEventAdaptorTypeNames">
            <http:operation location="getAllInputEventAdaptorTypeNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <http:operation location="setStatisticsEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveInputEventAdaptorConfiguration">
            <http:operation location="editActiveInputEventAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveInputEventAdaptorConfigurationContent">
            <http:operation location="getInactiveInputEventAdaptorConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <http:operation location="setTracingEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveInputEventAdaptorConfigurationContent">
            <http:operation location="getActiveInputEventAdaptorConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveInputEventAdaptorConfigurationFile">
            <http:operation location="getAllInactiveInputEventAdaptorConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InputEventAdaptorManagerAdminService">
        <wsdl:port name="InputEventAdaptorManagerAdminServiceHttpSoap11Endpoint" binding="ns:InputEventAdaptorManagerAdminServiceSoap11Binding">
            <soap:address location="http://101.2.185.246:9763/services/InputEventAdaptorManagerAdminService.InputEventAdaptorManagerAdminServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="InputEventAdaptorManagerAdminServiceHttpsSoap11Endpoint" binding="ns:InputEventAdaptorManagerAdminServiceSoap11Binding">
            <soap:address location="https://101.2.185.246:9443/services/InputEventAdaptorManagerAdminService.InputEventAdaptorManagerAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="InputEventAdaptorManagerAdminServiceHttpSoap12Endpoint" binding="ns:InputEventAdaptorManagerAdminServiceSoap12Binding">
            <soap12:address location="http://101.2.185.246:9763/services/InputEventAdaptorManagerAdminService.InputEventAdaptorManagerAdminServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="InputEventAdaptorManagerAdminServiceHttpsSoap12Endpoint" binding="ns:InputEventAdaptorManagerAdminServiceSoap12Binding">
            <soap12:address location="https://101.2.185.246:9443/services/InputEventAdaptorManagerAdminService.InputEventAdaptorManagerAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="InputEventAdaptorManagerAdminServiceHttpsEndpoint" binding="ns:InputEventAdaptorManagerAdminServiceHttpBinding">
            <http:address location="https://101.2.185.246:9443/services/InputEventAdaptorManagerAdminService.InputEventAdaptorManagerAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="InputEventAdaptorManagerAdminServiceHttpEndpoint" binding="ns:InputEventAdaptorManagerAdminServiceHttpBinding">
            <http:address location="http://101.2.185.246:9763/services/InputEventAdaptorManagerAdminService.InputEventAdaptorManagerAdminServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>