service-stubs/org.wso2.carbon.event.publisher.stub/src/main/resources/EventPublisherAdminService.wsdl

<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://admin.publisher.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2140="http://admin.publisher.event.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://admin.publisher.event.carbon.wso2.org">
    <wsdl:documentation>EventPublisherAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2141="http://admin.publisher.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.publisher.event.carbon.wso2.org">
            <xs:import namespace="http://admin.publisher.event.carbon.wso2.org/xsd"/>
            <xs:element name="deployTextEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployTextEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCacheableTextEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cacheTimeoutDuration" type="xs:long"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCacheableTextEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployXmlEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployXmlEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCacheableXmlEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cacheTimeoutDuration" type="xs:long"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCacheableXmlEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployMapEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="mapData" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployMapEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployJsonEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployJsonEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCacheableJsonEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="jsonData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cacheTimeoutDuration" type="xs:long"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployCacheableJsonEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputAdapterConfigurationSchema">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="adopterType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputAdapterConfigurationSchemaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2140:OutputAdapterConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllOutputAdapterTypes">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllOutputAdapterTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testPublisherConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="messageFormat" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPublisherEditable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPublisherEditableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPublisherStatisticsEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPublisherStatisticsEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPublisherTraceEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isPublisherTraceEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployWSO2EventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="metaData" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationData" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadData" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2140:BasicOutputAdapterPropertyDto"/>
                        <xs:element minOccurs="0" name="mappingEnabled" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="toStreamNameWithVersion" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployWSO2EventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStreamSpecificActiveEventPublisherConfigurations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllStreamSpecificActiveEventPublisherConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2140:EventPublisherConfigurationInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherConfigXml" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployActiveEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployActiveEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployInactiveEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployInactiveEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editInactiveEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editInactiveEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editActiveEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editActiveEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventPublisherConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventPublisherConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2140:EventPublisherConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveEventPublisherConfigurations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveEventPublisherConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2140:EventPublisherConfigurationInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveEventPublisherConfigurations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveEventPublisherConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2140:EventPublisherConfigurationFileDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveEventPublisherConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveEventPublisherConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventPublisherConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveEventPublisherConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setTracingEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setTracingEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStatisticsEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStatisticsEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://admin.publisher.event.carbon.wso2.org/xsd">
            <xs:complexType name="BasicOutputAdapterPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="static" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventMappingPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valueOf" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutputAdapterConfigurationDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventAdapterType" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputEventAdapterDynamicProperties" nillable="true" type="ax2140:DetailOutputAdapterPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputEventAdapterStaticProperties" nillable="true" type="ax2140:DetailOutputAdapterPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedMessageFormats" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="usageTips" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DetailOutputAdapterPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secured" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventPublisherConfigurationInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="editable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableStats" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inputStreamId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageFormat" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outputAdapterType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventPublisherConfigurationDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customMappingEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fromStreamNameWithVersion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="jsonOutputMappingDto" nillable="true" type="ax2140:JSONOutputMappingDto"/>
                    <xs:element minOccurs="0" name="mapOutputMappingDto" nillable="true" type="ax2140:MapOutputMappingDto"/>
                    <xs:element minOccurs="0" name="messageFormat" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamDefinition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="textOutputMappingDto" nillable="true" type="ax2140:TextOutputMappingDto"/>
                    <xs:element minOccurs="0" name="toAdapterConfigurationDto" nillable="true" type="ax2140:OutputAdapterConfigurationDto"/>
                    <xs:element minOccurs="0" name="wso2EventOutputMappingDto" nillable="true" type="ax2140:WSO2EventOutputMappingDto"/>
                    <xs:element minOccurs="0" name="xmlOutputMappingDto" nillable="true" type="ax2140:XMLOutputMappingDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="JSONOutputMappingDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cacheTimeoutDuration" type="xs:long"/>
                    <xs:element minOccurs="0" name="mappingText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registryResource" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MapOutputMappingDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="eventMappingProperties" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TextOutputMappingDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cacheTimeoutDuration" type="xs:long"/>
                    <xs:element minOccurs="0" name="mappingText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registryResource" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSO2EventOutputMappingDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationWSO2EventMappingProperties" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metaWSO2EventMappingProperties" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                    <xs:element minOccurs="0" name="outputStreamName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outputStreamVersion" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadWSO2EventMappingProperties" nillable="true" type="ax2140:EventMappingPropertyDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="XMLOutputMappingDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cacheTimeoutDuration" type="xs:long"/>
                    <xs:element minOccurs="0" name="mappingXMLText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registryResource" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventPublisherConfigurationFileDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deploymentStatusMsg" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventPublisherName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getActiveEventPublisherConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getActiveEventPublisherConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getActiveEventPublisherConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getActiveEventPublisherConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="deployCacheableXmlEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployCacheableXmlEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployCacheableXmlEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployCacheableXmlEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllActiveEventPublisherConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:getAllActiveEventPublisherConfigurations"/>
    </wsdl:message>
    <wsdl:message name="getAllActiveEventPublisherConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:getAllActiveEventPublisherConfigurationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllStreamSpecificActiveEventPublisherConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:getAllStreamSpecificActiveEventPublisherConfigurations"/>
    </wsdl:message>
    <wsdl:message name="getAllStreamSpecificActiveEventPublisherConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:getAllStreamSpecificActiveEventPublisherConfigurationsResponse"/>
    </wsdl:message>
    <wsdl:message name="isPublisherEditableRequest">
        <wsdl:part name="parameters" element="ns:isPublisherEditable"/>
    </wsdl:message>
    <wsdl:message name="isPublisherEditableResponse">
        <wsdl:part name="parameters" element="ns:isPublisherEditableResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveEventPublisherConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:getAllInactiveEventPublisherConfigurations"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveEventPublisherConfigurationsResponse">
        <wsdl:part name="parameters" element="ns:getAllInactiveEventPublisherConfigurationsResponse"/>
    </wsdl:message>
    <wsdl:message name="deployTextEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployTextEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployTextEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployTextEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="editActiveEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editActiveEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editActiveEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:editActiveEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="deployEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getInactiveEventPublisherConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getInactiveEventPublisherConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getInactiveEventPublisherConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getInactiveEventPublisherConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getActiveEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getActiveEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getActiveEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="deployMapEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployMapEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployMapEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployMapEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="deployJsonEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployJsonEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployJsonEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployJsonEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="editInactiveEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editInactiveEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editInactiveEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:editInactiveEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="deployWSO2EventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployWSO2EventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployWSO2EventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployWSO2EventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledRequest">
        <wsdl:part name="parameters" element="ns:setStatisticsEnabled"/>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledResponse">
        <wsdl:part name="parameters" element="ns:setStatisticsEnabledResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllOutputAdapterTypesRequest">
        <wsdl:part name="parameters" element="ns:getAllOutputAdapterTypes"/>
    </wsdl:message>
    <wsdl:message name="getAllOutputAdapterTypesResponse">
        <wsdl:part name="parameters" element="ns:getAllOutputAdapterTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="isPublisherTraceEnabledRequest">
        <wsdl:part name="parameters" element="ns:isPublisherTraceEnabled"/>
    </wsdl:message>
    <wsdl:message name="isPublisherTraceEnabledResponse">
        <wsdl:part name="parameters" element="ns:isPublisherTraceEnabledResponse"/>
    </wsdl:message>
    <wsdl:message name="getOutputAdapterConfigurationSchemaRequest">
        <wsdl:part name="parameters" element="ns:getOutputAdapterConfigurationSchema"/>
    </wsdl:message>
    <wsdl:message name="getOutputAdapterConfigurationSchemaResponse">
        <wsdl:part name="parameters" element="ns:getOutputAdapterConfigurationSchemaResponse"/>
    </wsdl:message>
    <wsdl:message name="deployCacheableTextEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployCacheableTextEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployCacheableTextEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployCacheableTextEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="testPublisherConnectionRequest">
        <wsdl:part name="parameters" element="ns:testPublisherConnection"/>
    </wsdl:message>
    <wsdl:message name="testPublisherConnectionResponse"/>
    <wsdl:message name="deployXmlEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployXmlEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployXmlEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployXmlEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="isPublisherStatisticsEnabledRequest">
        <wsdl:part name="parameters" element="ns:isPublisherStatisticsEnabled"/>
    </wsdl:message>
    <wsdl:message name="isPublisherStatisticsEnabledResponse">
        <wsdl:part name="parameters" element="ns:isPublisherStatisticsEnabledResponse"/>
    </wsdl:message>
    <wsdl:message name="deployCacheableJsonEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployCacheableJsonEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployCacheableJsonEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:deployCacheableJsonEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="setTracingEnabledRequest">
        <wsdl:part name="parameters" element="ns:setTracingEnabled"/>
    </wsdl:message>
    <wsdl:message name="setTracingEnabledResponse">
        <wsdl:part name="parameters" element="ns:setTracingEnabledResponse"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployActiveEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:undeployActiveEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="undeployInactiveEventPublisherConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployInactiveEventPublisherConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployInactiveEventPublisherConfigurationResponse">
        <wsdl:part name="parameters" element="ns:undeployInactiveEventPublisherConfigurationResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventPublisherAdminServicePortType">
        <wsdl:operation name="getActiveEventPublisherConfigurationContent">
            <wsdl:input message="ns:getActiveEventPublisherConfigurationContentRequest" wsaw:Action="urn:getActiveEventPublisherConfigurationContent"/>
            <wsdl:output message="ns:getActiveEventPublisherConfigurationContentResponse" wsaw:Action="urn:getActiveEventPublisherConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableXmlEventPublisherConfiguration">
            <wsdl:input message="ns:deployCacheableXmlEventPublisherConfigurationRequest" wsaw:Action="urn:deployCacheableXmlEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployCacheableXmlEventPublisherConfigurationResponse" wsaw:Action="urn:deployCacheableXmlEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventPublisherConfigurations">
            <wsdl:input message="ns:getAllActiveEventPublisherConfigurationsRequest" wsaw:Action="urn:getAllActiveEventPublisherConfigurations"/>
            <wsdl:output message="ns:getAllActiveEventPublisherConfigurationsResponse" wsaw:Action="urn:getAllActiveEventPublisherConfigurationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventPublisherConfigurations">
            <wsdl:input message="ns:getAllStreamSpecificActiveEventPublisherConfigurationsRequest" wsaw:Action="urn:getAllStreamSpecificActiveEventPublisherConfigurations"/>
            <wsdl:output message="ns:getAllStreamSpecificActiveEventPublisherConfigurationsResponse" wsaw:Action="urn:getAllStreamSpecificActiveEventPublisherConfigurationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isPublisherEditable">
            <wsdl:input message="ns:isPublisherEditableRequest" wsaw:Action="urn:isPublisherEditable"/>
            <wsdl:output message="ns:isPublisherEditableResponse" wsaw:Action="urn:isPublisherEditableResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventPublisherConfigurations">
            <wsdl:input message="ns:getAllInactiveEventPublisherConfigurationsRequest" wsaw:Action="urn:getAllInactiveEventPublisherConfigurations"/>
            <wsdl:output message="ns:getAllInactiveEventPublisherConfigurationsResponse" wsaw:Action="urn:getAllInactiveEventPublisherConfigurationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventPublisherConfiguration">
            <wsdl:input message="ns:deployTextEventPublisherConfigurationRequest" wsaw:Action="urn:deployTextEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployTextEventPublisherConfigurationResponse" wsaw:Action="urn:deployTextEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventPublisherConfiguration">
            <wsdl:input message="ns:editActiveEventPublisherConfigurationRequest" wsaw:Action="urn:editActiveEventPublisherConfiguration"/>
            <wsdl:output message="ns:editActiveEventPublisherConfigurationResponse" wsaw:Action="urn:editActiveEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployEventPublisherConfiguration">
            <wsdl:input message="ns:deployEventPublisherConfigurationRequest" wsaw:Action="urn:deployEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployEventPublisherConfigurationResponse" wsaw:Action="urn:deployEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventPublisherConfigurationContent">
            <wsdl:input message="ns:getInactiveEventPublisherConfigurationContentRequest" wsaw:Action="urn:getInactiveEventPublisherConfigurationContent"/>
            <wsdl:output message="ns:getInactiveEventPublisherConfigurationContentResponse" wsaw:Action="urn:getInactiveEventPublisherConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventPublisherConfiguration">
            <wsdl:input message="ns:getActiveEventPublisherConfigurationRequest" wsaw:Action="urn:getActiveEventPublisherConfiguration"/>
            <wsdl:output message="ns:getActiveEventPublisherConfigurationResponse" wsaw:Action="urn:getActiveEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventPublisherConfiguration">
            <wsdl:input message="ns:deployMapEventPublisherConfigurationRequest" wsaw:Action="urn:deployMapEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployMapEventPublisherConfigurationResponse" wsaw:Action="urn:deployMapEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventPublisherConfiguration">
            <wsdl:input message="ns:deployJsonEventPublisherConfigurationRequest" wsaw:Action="urn:deployJsonEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployJsonEventPublisherConfigurationResponse" wsaw:Action="urn:deployJsonEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventPublisherConfiguration">
            <wsdl:input message="ns:editInactiveEventPublisherConfigurationRequest" wsaw:Action="urn:editInactiveEventPublisherConfiguration"/>
            <wsdl:output message="ns:editInactiveEventPublisherConfigurationResponse" wsaw:Action="urn:editInactiveEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployWSO2EventPublisherConfiguration">
            <wsdl:input message="ns:deployWSO2EventPublisherConfigurationRequest" wsaw:Action="urn:deployWSO2EventPublisherConfiguration"/>
            <wsdl:output message="ns:deployWSO2EventPublisherConfigurationResponse" wsaw:Action="urn:deployWSO2EventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <wsdl:input message="ns:setStatisticsEnabledRequest" wsaw:Action="urn:setStatisticsEnabled"/>
            <wsdl:output message="ns:setStatisticsEnabledResponse" wsaw:Action="urn:setStatisticsEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllOutputAdapterTypes">
            <wsdl:input message="ns:getAllOutputAdapterTypesRequest" wsaw:Action="urn:getAllOutputAdapterTypes"/>
            <wsdl:output message="ns:getAllOutputAdapterTypesResponse" wsaw:Action="urn:getAllOutputAdapterTypesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isPublisherTraceEnabled">
            <wsdl:input message="ns:isPublisherTraceEnabledRequest" wsaw:Action="urn:isPublisherTraceEnabled"/>
            <wsdl:output message="ns:isPublisherTraceEnabledResponse" wsaw:Action="urn:isPublisherTraceEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOutputAdapterConfigurationSchema">
            <wsdl:input message="ns:getOutputAdapterConfigurationSchemaRequest" wsaw:Action="urn:getOutputAdapterConfigurationSchema"/>
            <wsdl:output message="ns:getOutputAdapterConfigurationSchemaResponse" wsaw:Action="urn:getOutputAdapterConfigurationSchemaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableTextEventPublisherConfiguration">
            <wsdl:input message="ns:deployCacheableTextEventPublisherConfigurationRequest" wsaw:Action="urn:deployCacheableTextEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployCacheableTextEventPublisherConfigurationResponse" wsaw:Action="urn:deployCacheableTextEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testPublisherConnection">
            <wsdl:input message="ns:testPublisherConnectionRequest" wsaw:Action="urn:testPublisherConnection"/>
            <wsdl:output message="ns:testPublisherConnectionResponse" wsaw:Action="urn:testPublisherConnectionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployXmlEventPublisherConfiguration">
            <wsdl:input message="ns:deployXmlEventPublisherConfigurationRequest" wsaw:Action="urn:deployXmlEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployXmlEventPublisherConfigurationResponse" wsaw:Action="urn:deployXmlEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isPublisherStatisticsEnabled">
            <wsdl:input message="ns:isPublisherStatisticsEnabledRequest" wsaw:Action="urn:isPublisherStatisticsEnabled"/>
            <wsdl:output message="ns:isPublisherStatisticsEnabledResponse" wsaw:Action="urn:isPublisherStatisticsEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableJsonEventPublisherConfiguration">
            <wsdl:input message="ns:deployCacheableJsonEventPublisherConfigurationRequest" wsaw:Action="urn:deployCacheableJsonEventPublisherConfiguration"/>
            <wsdl:output message="ns:deployCacheableJsonEventPublisherConfigurationResponse" wsaw:Action="urn:deployCacheableJsonEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <wsdl:input message="ns:setTracingEnabledRequest" wsaw:Action="urn:setTracingEnabled"/>
            <wsdl:output message="ns:setTracingEnabledResponse" wsaw:Action="urn:setTracingEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventPublisherConfiguration">
            <wsdl:input message="ns:undeployActiveEventPublisherConfigurationRequest" wsaw:Action="urn:undeployActiveEventPublisherConfiguration"/>
            <wsdl:output message="ns:undeployActiveEventPublisherConfigurationResponse" wsaw:Action="urn:undeployActiveEventPublisherConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventPublisherConfiguration">
            <wsdl:input message="ns:undeployInactiveEventPublisherConfigurationRequest" wsaw:Action="urn:undeployInactiveEventPublisherConfiguration"/>
            <wsdl:output message="ns:undeployInactiveEventPublisherConfigurationResponse" wsaw:Action="urn:undeployInactiveEventPublisherConfigurationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventPublisherAdminServiceSoap11Binding" type="ns:EventPublisherAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getActiveEventPublisherConfigurationContent">
            <soap:operation soapAction="urn:getActiveEventPublisherConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableXmlEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployCacheableXmlEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventPublisherConfigurations">
            <soap:operation soapAction="urn:getAllActiveEventPublisherConfigurations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventPublisherConfigurations">
            <soap:operation soapAction="urn:getAllStreamSpecificActiveEventPublisherConfigurations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherEditable">
            <soap:operation soapAction="urn:isPublisherEditable" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventPublisherConfigurations">
            <soap:operation soapAction="urn:getAllInactiveEventPublisherConfigurations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployTextEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventPublisherConfiguration">
            <soap:operation soapAction="urn:editActiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventPublisherConfigurationContent">
            <soap:operation soapAction="urn:getInactiveEventPublisherConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventPublisherConfiguration">
            <soap:operation soapAction="urn:getActiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployMapEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployJsonEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventPublisherConfiguration">
            <soap:operation soapAction="urn:editInactiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployWSO2EventPublisherConfiguration">
            <soap:operation soapAction="urn:deployWSO2EventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllOutputAdapterTypes">
            <soap:operation soapAction="urn:getAllOutputAdapterTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherTraceEnabled">
            <soap:operation soapAction="urn:isPublisherTraceEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputAdapterConfigurationSchema">
            <soap:operation soapAction="urn:getOutputAdapterConfigurationSchema" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableTextEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployCacheableTextEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testPublisherConnection">
            <soap:operation soapAction="urn:testPublisherConnection" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployXmlEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployXmlEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherStatisticsEnabled">
            <soap:operation soapAction="urn:isPublisherStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableJsonEventPublisherConfiguration">
            <soap:operation soapAction="urn:deployCacheableJsonEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <soap:operation soapAction="urn:setTracingEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventPublisherConfiguration">
            <soap:operation soapAction="urn:undeployActiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventPublisherConfiguration">
            <soap:operation soapAction="urn:undeployInactiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventPublisherAdminServiceSoap12Binding" type="ns:EventPublisherAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getActiveEventPublisherConfigurationContent">
            <soap12:operation soapAction="urn:getActiveEventPublisherConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableXmlEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployCacheableXmlEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventPublisherConfigurations">
            <soap12:operation soapAction="urn:getAllActiveEventPublisherConfigurations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventPublisherConfigurations">
            <soap12:operation soapAction="urn:getAllStreamSpecificActiveEventPublisherConfigurations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherEditable">
            <soap12:operation soapAction="urn:isPublisherEditable" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventPublisherConfigurations">
            <soap12:operation soapAction="urn:getAllInactiveEventPublisherConfigurations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployTextEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventPublisherConfiguration">
            <soap12:operation soapAction="urn:editActiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventPublisherConfigurationContent">
            <soap12:operation soapAction="urn:getInactiveEventPublisherConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventPublisherConfiguration">
            <soap12:operation soapAction="urn:getActiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployMapEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployJsonEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventPublisherConfiguration">
            <soap12:operation soapAction="urn:editInactiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployWSO2EventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployWSO2EventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap12:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllOutputAdapterTypes">
            <soap12:operation soapAction="urn:getAllOutputAdapterTypes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherTraceEnabled">
            <soap12:operation soapAction="urn:isPublisherTraceEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputAdapterConfigurationSchema">
            <soap12:operation soapAction="urn:getOutputAdapterConfigurationSchema" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableTextEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployCacheableTextEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testPublisherConnection">
            <soap12:operation soapAction="urn:testPublisherConnection" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployXmlEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployXmlEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherStatisticsEnabled">
            <soap12:operation soapAction="urn:isPublisherStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableJsonEventPublisherConfiguration">
            <soap12:operation soapAction="urn:deployCacheableJsonEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <soap12:operation soapAction="urn:setTracingEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventPublisherConfiguration">
            <soap12:operation soapAction="urn:undeployActiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventPublisherConfiguration">
            <soap12:operation soapAction="urn:undeployInactiveEventPublisherConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventPublisherAdminServiceHttpBinding" type="ns:EventPublisherAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getActiveEventPublisherConfigurationContent">
            <http:operation location="getActiveEventPublisherConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableXmlEventPublisherConfiguration">
            <http:operation location="deployCacheableXmlEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveEventPublisherConfigurations">
            <http:operation location="getAllActiveEventPublisherConfigurations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllStreamSpecificActiveEventPublisherConfigurations">
            <http:operation location="getAllStreamSpecificActiveEventPublisherConfigurations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherEditable">
            <http:operation location="isPublisherEditable"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveEventPublisherConfigurations">
            <http:operation location="getAllInactiveEventPublisherConfigurations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployTextEventPublisherConfiguration">
            <http:operation location="deployTextEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveEventPublisherConfiguration">
            <http:operation location="editActiveEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployEventPublisherConfiguration">
            <http:operation location="deployEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveEventPublisherConfigurationContent">
            <http:operation location="getInactiveEventPublisherConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveEventPublisherConfiguration">
            <http:operation location="getActiveEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployMapEventPublisherConfiguration">
            <http:operation location="deployMapEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployJsonEventPublisherConfiguration">
            <http:operation location="deployJsonEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveEventPublisherConfiguration">
            <http:operation location="editInactiveEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployWSO2EventPublisherConfiguration">
            <http:operation location="deployWSO2EventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <http:operation location="setStatisticsEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllOutputAdapterTypes">
            <http:operation location="getAllOutputAdapterTypes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherTraceEnabled">
            <http:operation location="isPublisherTraceEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputAdapterConfigurationSchema">
            <http:operation location="getOutputAdapterConfigurationSchema"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableTextEventPublisherConfiguration">
            <http:operation location="deployCacheableTextEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testPublisherConnection">
            <http:operation location="testPublisherConnection"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployXmlEventPublisherConfiguration">
            <http:operation location="deployXmlEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isPublisherStatisticsEnabled">
            <http:operation location="isPublisherStatisticsEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployCacheableJsonEventPublisherConfiguration">
            <http:operation location="deployCacheableJsonEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <http:operation location="setTracingEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveEventPublisherConfiguration">
            <http:operation location="undeployActiveEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveEventPublisherConfiguration">
            <http:operation location="undeployInactiveEventPublisherConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventPublisherAdminService">
        <wsdl:port name="EventPublisherAdminServiceHttpsSoap11Endpoint" binding="ns:EventPublisherAdminServiceSoap11Binding">
            <soap:address location="https://192.168.122.1:9443/services/EventPublisherAdminService.EventPublisherAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventPublisherAdminServiceHttpsSoap12Endpoint" binding="ns:EventPublisherAdminServiceSoap12Binding">
            <soap12:address location="https://192.168.122.1:9443/services/EventPublisherAdminService.EventPublisherAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventPublisherAdminServiceHttpsEndpoint" binding="ns:EventPublisherAdminServiceHttpBinding">
            <http:address location="https://192.168.122.1:9443/services/EventPublisherAdminService.EventPublisherAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>