service-stubs/bam/org.wso2.carbon.bam.core.stub/src/main/resources/ConnectionAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax213="http://service.core.bam.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.core.bam.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.core.bam.carbon.wso2.org">
    <wsdl:documentation>ConnectionAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax214="http://service.core.bam.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax212="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://service.core.bam.carbon.wso2.org/xsd" />
            <xs:element name="ConnectionAdminServiceConfigurationException">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="ConfigurationException" nillable="true" type="ax212:ConfigurationException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConnectionParameters">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>

            <xs:element name="getConnectionParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax214:ConnectionDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureConnectionParameters">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureConnectionParametersResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.persistence.core.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ConfigurationException">
                <xs:sequence />
            </xs:complexType>

        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.core.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ConnectionDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="configureConnectionParametersRequest">
        <wsdl:part name="parameters" element="ns1:configureConnectionParameters" />
    </wsdl:message>
    <wsdl:message name="configureConnectionParametersResponse">
        <wsdl:part name="parameters" element="ns1:configureConnectionParametersResponse" />
    </wsdl:message>
    <wsdl:message name="ConnectionAdminServiceConfigurationException">
        <wsdl:part name="parameters" element="ns1:ConnectionAdminServiceConfigurationException" />

    </wsdl:message>
    <wsdl:message name="getConnectionParametersRequest">
        <wsdl:part name="parameters" element="ns1:getConnectionParameters" />
    </wsdl:message>
    <wsdl:message name="getConnectionParametersResponse">
        <wsdl:part name="parameters" element="ns1:getConnectionParametersResponse" />
    </wsdl:message>
    <wsdl:portType name="ConnectionAdminServicePortType">
        <wsdl:operation name="configureConnectionParameters">

            <wsdl:input message="tns:configureConnectionParametersRequest" wsaw:Action="urn:configureConnectionParameters" />
            <wsdl:output message="tns:configureConnectionParametersResponse" wsaw:Action="urn:configureConnectionParametersResponse" />
            <wsdl:fault message="tns:ConnectionAdminServiceConfigurationException" name="ConnectionAdminServiceConfigurationException" wsaw:Action="urn:configureConnectionParametersConnectionAdminServiceConfigurationException" />
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <wsdl:input message="tns:getConnectionParametersRequest" wsaw:Action="urn:getConnectionParameters" />
            <wsdl:output message="tns:getConnectionParametersResponse" wsaw:Action="urn:getConnectionParametersResponse" />
            <wsdl:fault message="tns:ConnectionAdminServiceConfigurationException" name="ConnectionAdminServiceConfigurationException" wsaw:Action="urn:getConnectionParametersConnectionAdminServiceConfigurationException" />
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="ConnectionAdminServiceSoap11Binding" type="tns:ConnectionAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureConnectionParameters">
            <soap:operation soapAction="urn:configureConnectionParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ConnectionAdminServiceConfigurationException">
                <soap:fault use="literal" name="ConnectionAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <soap:operation soapAction="urn:getConnectionParameters" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ConnectionAdminServiceConfigurationException">
                <soap:fault use="literal" name="ConnectionAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="ConnectionAdminServiceSoap12Binding" type="tns:ConnectionAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureConnectionParameters">
            <soap12:operation soapAction="urn:configureConnectionParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ConnectionAdminServiceConfigurationException">
                <soap12:fault use="literal" name="ConnectionAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <soap12:operation soapAction="urn:getConnectionParameters" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ConnectionAdminServiceConfigurationException">
                <soap12:fault use="literal" name="ConnectionAdminServiceConfigurationException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="ConnectionAdminServiceHttpBinding" type="tns:ConnectionAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="configureConnectionParameters">
            <http:operation location="configureConnectionParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConnectionParameters">
            <http:operation location="getConnectionParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConnectionAdminService">
        <wsdl:port name="ConnectionAdminServiceHttpsSoap11Endpoint" binding="tns:ConnectionAdminServiceSoap11Binding">
            <soap:address location="https://10.200.2.88:9444/services/ConnectionAdminService.ConnectionAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ConnectionAdminServiceHttpsSoap12Endpoint" binding="tns:ConnectionAdminServiceSoap12Binding">

            <soap12:address location="https://10.200.2.88:9444/services/ConnectionAdminService.ConnectionAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ConnectionAdminServiceHttpsEndpoint" binding="tns:ConnectionAdminServiceHttpBinding">
            <http:address location="https://10.200.2.88:9444/services/ConnectionAdminService.ConnectionAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
