components/data-bridge/org.wso2.carbon.databridge.core/src/main/resources/data-bridge-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://wso2.org/carbon/databridge"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dataBridgeConfiguration" type="even:databridgeConfigurationType"
                xmlns:even="http://wso2.org/carbon/databridge"/>
    <xs:complexType name="databridgeConfigurationType">
        <xs:all>
            <xs:element type="xs:string" name="StreamDefinitionStore"/>
            <xs:element type="xs:int" name="workerThreads"/>
            <xs:element type="xs:int" name="eventBufferCapacity"/>
            <xs:element type="xs:int" name="clientTimeoutMS"/>
            <xs:element type="even:thriftDataReceiverType" name="thriftDataReceiver"
                        xmlns:even="http://wso2.org/carbon/databridge"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="thriftDataReceiverType">
        <xs:all>
            <xs:element type="xs:int" name="securePort"/>
            <xs:element type="xs:int" name="port"/>
        </xs:all>
    </xs:complexType>
</xs:schema>