components/dashboard/org.wso2.carbon.dashboard.social.ui/src/main/resources/GadgetServerSocialDataMgtService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://social.dashboard.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.wso2.wsf/tools" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax292="http://common.social.dashboard.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://social.dashboard.carbon.wso2.org">
    <wsdl:documentation>GadgetServerSocialDataMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax293="http://common.social.dashboard.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.wso2.wsf/tools">
            <xs:import namespace="http://common.social.dashboard.carbon.wso2.org/xsd"/>
            <xs:element name="updateUserProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="profileData" nillable="true" type="ax292:PrivacyFieldDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveUserProfileImage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profileImage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="mediaType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveUserProfileImageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isProfileImageExists">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isProfileImageExistsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfileImage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfileImageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claimValues" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserProfileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax292:PrivacyFieldDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.social.dashboard.carbon.wso2.org/xsd">
            <xs:complexType name="PrivacyFieldDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="visibilityValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveUserProfileImageRequest">
        <wsdl:part name="parameters" element="ns:saveUserProfileImage"/>
    </wsdl:message>
    <wsdl:message name="saveUserProfileImageResponse">
        <wsdl:part name="parameters" element="ns:saveUserProfileImageResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserProfileRequest">
        <wsdl:part name="parameters" element="ns:getUserProfile"/>
    </wsdl:message>
    <wsdl:message name="getUserProfileResponse">
        <wsdl:part name="parameters" element="ns:getUserProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="isProfileImageExistsRequest">
        <wsdl:part name="parameters" element="ns:isProfileImageExists"/>
    </wsdl:message>
    <wsdl:message name="isProfileImageExistsResponse">
        <wsdl:part name="parameters" element="ns:isProfileImageExistsResponse"/>
    </wsdl:message>
    <wsdl:message name="updateUserProfileRequest">
        <wsdl:part name="parameters" element="ns:updateUserProfile"/>
    </wsdl:message>
    <wsdl:message name="updateUserProfileResponse">
        <wsdl:part name="parameters" element="ns:updateUserProfileResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserProfileImageRequest">
        <wsdl:part name="parameters" element="ns:getUserProfileImage"/>
    </wsdl:message>
    <wsdl:message name="getUserProfileImageResponse">
        <wsdl:part name="parameters" element="ns:getUserProfileImageResponse"/>
    </wsdl:message>
    <wsdl:portType name="GadgetServerSocialDataMgtServicePortType">
        <wsdl:operation name="saveUserProfileImage">
            <wsdl:input message="axis2:saveUserProfileImageRequest" wsaw:Action="urn:saveUserProfileImage"/>
            <wsdl:output message="axis2:saveUserProfileImageResponse" wsaw:Action="urn:saveUserProfileImageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <wsdl:input message="axis2:getUserProfileRequest" wsaw:Action="urn:getUserProfile"/>
            <wsdl:output message="axis2:getUserProfileResponse" wsaw:Action="urn:getUserProfileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isProfileImageExists">
            <wsdl:input message="axis2:isProfileImageExistsRequest" wsaw:Action="urn:isProfileImageExists"/>
            <wsdl:output message="axis2:isProfileImageExistsResponse" wsaw:Action="urn:isProfileImageExistsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateUserProfile">
            <wsdl:input message="axis2:updateUserProfileRequest" wsaw:Action="urn:updateUserProfile"/>
            <wsdl:output message="axis2:updateUserProfileResponse" wsaw:Action="urn:updateUserProfileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUserProfileImage">
            <wsdl:input message="axis2:getUserProfileImageRequest" wsaw:Action="urn:getUserProfileImage"/>
            <wsdl:output message="axis2:getUserProfileImageResponse" wsaw:Action="urn:getUserProfileImageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GadgetServerSocialDataMgtServiceSoap11Binding" type="axis2:GadgetServerSocialDataMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveUserProfileImage">
            <soap:operation soapAction="urn:saveUserProfileImage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <soap:operation soapAction="urn:getUserProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isProfileImageExists">
            <soap:operation soapAction="urn:isProfileImageExists" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfileImage">
            <soap:operation soapAction="urn:getUserProfileImage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateUserProfile">
            <soap:operation soapAction="urn:updateUserProfile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GadgetServerSocialDataMgtServiceSoap12Binding" type="axis2:GadgetServerSocialDataMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveUserProfileImage">
            <soap12:operation soapAction="urn:saveUserProfileImage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <soap12:operation soapAction="urn:getUserProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isProfileImageExists">
            <soap12:operation soapAction="urn:isProfileImageExists" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfileImage">
            <soap12:operation soapAction="urn:getUserProfileImage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateUserProfile">
            <soap12:operation soapAction="urn:updateUserProfile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GadgetServerSocialDataMgtServiceHttpBinding" type="axis2:GadgetServerSocialDataMgtServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="saveUserProfileImage">
            <http:operation location="saveUserProfileImage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfile">
            <http:operation location="getUserProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isProfileImageExists">
            <http:operation location="isProfileImageExists"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserProfileImage">
            <http:operation location="getUserProfileImage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateUserProfile">
            <http:operation location="updateUserProfile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GadgetServerSocialDataMgtService">
        <wsdl:port name="GadgetServerSocialDataMgtServiceHttpsSoap11Endpoint" binding="axis2:GadgetServerSocialDataMgtServiceSoap11Binding">
            <soap:address location="https://192.168.1.2:8443/services/GadgetServerSocialDataMgtService.GadgetServerSocialDataMgtServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GadgetServerSocialDataMgtServiceHttpSoap11Endpoint" binding="axis2:GadgetServerSocialDataMgtServiceSoap11Binding">
            <soap:address location="http://192.168.1.2:8080/services/GadgetServerSocialDataMgtService.GadgetServerSocialDataMgtServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GadgetServerSocialDataMgtServiceHttpSoap12Endpoint" binding="axis2:GadgetServerSocialDataMgtServiceSoap12Binding">
            <soap12:address location="http://192.168.1.2:8080/services/GadgetServerSocialDataMgtService.GadgetServerSocialDataMgtServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GadgetServerSocialDataMgtServiceHttpsSoap12Endpoint" binding="axis2:GadgetServerSocialDataMgtServiceSoap12Binding">
            <soap12:address location="https://192.168.1.2:8443/services/GadgetServerSocialDataMgtService.GadgetServerSocialDataMgtServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GadgetServerSocialDataMgtServiceHttpsEndpoint" binding="axis2:GadgetServerSocialDataMgtServiceHttpBinding">
            <http:address location="https://192.168.1.2:8443/services/GadgetServerSocialDataMgtService.GadgetServerSocialDataMgtServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="GadgetServerSocialDataMgtServiceHttpEndpoint" binding="axis2:GadgetServerSocialDataMgtServiceHttpBinding">
            <http:address location="http://192.168.1.2:8080/services/GadgetServerSocialDataMgtService.GadgetServerSocialDataMgtServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>