service-stubs/bam-gadgetgen/org.wso2.carbon.bam.gadgetgenwizard.stub/src/main/resources/GadgetGenAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://service.gadgetgenwizard.bam.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.gadgetgenwizard.bam.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://beans.service.gadgetgenwizard.bam.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.gadgetgenwizard.bam.carbon.wso2.org">
    <wsdl:documentation>GadgetGenAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.service.gadgetgenwizard.bam.carbon.wso2.org/xsd">
            <xs:complexType name="DBConnInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="driverClass" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jdbcURL" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSResultSet">
                <xs:sequence>
                    <xs:element minOccurs="0" name="columnCount" type="xs:int" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="columnNames" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rows" nillable="true" type="ax211:WSRow" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSRow">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="row" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSMap">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsMapElements" nillable="true" type="ax211:WSMapElement" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSMapElement">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax212="http://beans.service.gadgetgenwizard.bam.carbon.wso2.org/xsd" xmlns:ax210="http://service.gadgetgenwizard.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://service.gadgetgenwizard.bam.carbon.wso2.org/xsd" />
            <xs:import namespace="http://beans.service.gadgetgenwizard.bam.carbon.wso2.org/xsd" />
            <xs:element name="GadgetGenAdminServiceGadgetGenException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="GadgetGenException" nillable="true" type="ax29:GadgetGenException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateDBConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dbConnInfo" nillable="true" type="ax212:DBConnInfo" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateDBConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataSourceNames">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataSourceNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeQuery">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dbConnInfo" nillable="true" type="ax212:DBConnInfo" />
                        <xs:element minOccurs="0" name="sqlQuery" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="executeQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:WSResultSet" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createGadget">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="map" nillable="true" type="ax212:WSMap" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createGadgetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.gadgetgenwizard.bam.carbon.wso2.org/xsd">
            <xs:complexType name="GadgetGenException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateDBConnectionRequest">
        <wsdl:part name="parameters" element="ns1:validateDBConnection" />
    </wsdl:message>
    <wsdl:message name="validateDBConnectionResponse">
        <wsdl:part name="parameters" element="ns1:validateDBConnectionResponse" />
    </wsdl:message>
    <wsdl:message name="GadgetGenAdminServiceGadgetGenException">
        <wsdl:part name="parameters" element="ns1:GadgetGenAdminServiceGadgetGenException" />
    </wsdl:message>
    <wsdl:message name="createGadgetRequest">
        <wsdl:part name="parameters" element="ns1:createGadget" />
    </wsdl:message>
    <wsdl:message name="createGadgetResponse">
        <wsdl:part name="parameters" element="ns1:createGadgetResponse" />
    </wsdl:message>
    <wsdl:message name="getDataSourceNamesRequest">
        <wsdl:part name="parameters" element="ns1:getDataSourceNames" />
    </wsdl:message>
    <wsdl:message name="getDataSourceNamesResponse">
        <wsdl:part name="parameters" element="ns1:getDataSourceNamesResponse" />
    </wsdl:message>
    <wsdl:message name="executeQueryRequest">
        <wsdl:part name="parameters" element="ns1:executeQuery" />
    </wsdl:message>
    <wsdl:message name="executeQueryResponse">
        <wsdl:part name="parameters" element="ns1:executeQueryResponse" />
    </wsdl:message>
    <wsdl:portType name="GadgetGenAdminServicePortType">
        <wsdl:operation name="validateDBConnection">
            <wsdl:input message="tns:validateDBConnectionRequest" wsaw:Action="urn:validateDBConnection" />
            <wsdl:output message="tns:validateDBConnectionResponse" wsaw:Action="urn:validateDBConnectionResponse" />
            <wsdl:fault message="tns:GadgetGenAdminServiceGadgetGenException" name="GadgetGenAdminServiceGadgetGenException" wsaw:Action="urn:validateDBConnectionGadgetGenAdminServiceGadgetGenException" />
        </wsdl:operation>
        <wsdl:operation name="createGadget">
            <wsdl:input message="tns:createGadgetRequest" wsaw:Action="urn:createGadget" />
            <wsdl:output message="tns:createGadgetResponse" wsaw:Action="urn:createGadgetResponse" />
            <wsdl:fault message="tns:GadgetGenAdminServiceGadgetGenException" name="GadgetGenAdminServiceGadgetGenException" wsaw:Action="urn:createGadgetGadgetGenAdminServiceGadgetGenException" />
        </wsdl:operation>
        <wsdl:operation name="getDataSourceNames">
            <wsdl:input message="tns:getDataSourceNamesRequest" wsaw:Action="urn:getDataSourceNames" />
            <wsdl:output message="tns:getDataSourceNamesResponse" wsaw:Action="urn:getDataSourceNamesResponse" />
            <wsdl:fault message="tns:GadgetGenAdminServiceGadgetGenException" name="GadgetGenAdminServiceGadgetGenException" wsaw:Action="urn:getDataSourceNamesGadgetGenAdminServiceGadgetGenException" />
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <wsdl:input message="tns:executeQueryRequest" wsaw:Action="urn:executeQuery" />
            <wsdl:output message="tns:executeQueryResponse" wsaw:Action="urn:executeQueryResponse" />
            <wsdl:fault message="tns:GadgetGenAdminServiceGadgetGenException" name="GadgetGenAdminServiceGadgetGenException" wsaw:Action="urn:executeQueryGadgetGenAdminServiceGadgetGenException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GadgetGenAdminServiceSoap11Binding" type="tns:GadgetGenAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="validateDBConnection">
            <soap:operation soapAction="urn:validateDBConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createGadget">
            <soap:operation soapAction="urn:createGadget" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceNames">
            <soap:operation soapAction="urn:getDataSourceNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <soap:operation soapAction="urn:executeQuery" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GadgetGenAdminServiceSoap12Binding" type="tns:GadgetGenAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="validateDBConnection">
            <soap12:operation soapAction="urn:validateDBConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap12:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createGadget">
            <soap12:operation soapAction="urn:createGadget" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap12:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceNames">
            <soap12:operation soapAction="urn:getDataSourceNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap12:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <soap12:operation soapAction="urn:executeQuery" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="GadgetGenAdminServiceGadgetGenException">
                <soap12:fault use="literal" name="GadgetGenAdminServiceGadgetGenException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GadgetGenAdminServiceHttpBinding" type="tns:GadgetGenAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="validateDBConnection">
            <http:operation location="validateDBConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createGadget">
            <http:operation location="createGadget" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataSourceNames">
            <http:operation location="getDataSourceNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="executeQuery">
            <http:operation location="executeQuery" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GadgetGenAdminService">
        <wsdl:port name="GadgetGenAdminServiceHttpsSoap11Endpoint" binding="tns:GadgetGenAdminServiceSoap11Binding">
            <soap:address location="https://192.168.1.19:9443/services/GadgetGenAdminService.GadgetGenAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GadgetGenAdminServiceHttpsSoap12Endpoint" binding="tns:GadgetGenAdminServiceSoap12Binding">
            <soap12:address location="https://192.168.1.19:9443/services/GadgetGenAdminService.GadgetGenAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="GadgetGenAdminServiceHttpsEndpoint" binding="tns:GadgetGenAdminServiceHttpBinding">
            <http:address location="https://192.168.1.19:9443/services/GadgetGenAdminService.GadgetGenAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>