service-stubs/analytics-views/org.wso2.carbon.analytics.messageconsole.stub/src/main/resources/MessageConsoleAdmin.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://messageconsole.analytics.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax211="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
    <wsdl:documentation>MessageConsole</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="PermissionBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createTable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="deleteIndex" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="deleteRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="dropTable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="getIndex" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="listRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="listTable" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="putRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="searchRecord" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="setIndex" type="xs:boolean"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScheduleTaskInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cronString" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="retentionPeriod" type="xs:int"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax212="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ax210="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
            <xs:import namespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="MessageConsoleMessageConsoleException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageConsoleException" nillable="true" type="ax29:MessageConsoleException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailablePermissions">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailablePermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:PermissionBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="scheduleDataPurging">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="cronString" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="retentionPeriod" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataPurgingDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataPurgingDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:ScheduleTaskInfo"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="MessageConsoleException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDataPurgingDetailsRequest">
        <wsdl:part name="parameters" element="ns:getDataPurgingDetails"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDataPurgingDetailsResponse">
        <wsdl:part name="parameters" element="ns:getDataPurgingDetailsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MessageConsoleMessageConsoleException">
        <wsdl:part name="parameters" element="ns:MessageConsoleMessageConsoleException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAvailablePermissionsRequest">
        <wsdl:part name="parameters" element="ns:getAvailablePermissions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAvailablePermissionsResponse">
        <wsdl:part name="parameters" element="ns:getAvailablePermissionsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="scheduleDataPurgingRequest">
        <wsdl:part name="parameters" element="ns:scheduleDataPurging"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MessageConsolePortType">
        <wsdl:operation name="getDataPurgingDetails">
            <wsdl:input message="ns:getDataPurgingDetailsRequest" wsaw:Action="urn:getDataPurgingDetails"></wsdl:input>
            <wsdl:output message="ns:getDataPurgingDetailsResponse" wsaw:Action="urn:getDataPurgingDetailsResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getDataPurgingDetailsMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <wsdl:input message="ns:getAvailablePermissionsRequest" wsaw:Action="urn:getAvailablePermissions"></wsdl:input>
            <wsdl:output message="ns:getAvailablePermissionsResponse" wsaw:Action="urn:getAvailablePermissionsResponse"></wsdl:output>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getAvailablePermissionsMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <wsdl:input message="ns:scheduleDataPurgingRequest" wsaw:Action="urn:scheduleDataPurging"></wsdl:input>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:scheduleDataPurgingMessageConsoleMessageConsoleException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageConsoleSoap11Binding" type="ns:MessageConsolePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getDataPurgingDetails">
            <soap:operation soapAction="urn:getDataPurgingDetails" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <soap:operation soapAction="urn:getAvailablePermissions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <soap:operation soapAction="urn:scheduleDataPurging" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleSoap12Binding" type="ns:MessageConsolePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getDataPurgingDetails">
            <soap12:operation soapAction="urn:getDataPurgingDetails" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <soap12:operation soapAction="urn:getAvailablePermissions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <soap12:operation soapAction="urn:scheduleDataPurging" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleHttpBinding" type="ns:MessageConsolePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getDataPurgingDetails">
            <http:operation location="getDataPurgingDetails"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <http:operation location="getAvailablePermissions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <http:operation location="scheduleDataPurging"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageConsole">
        <wsdl:port name="MessageConsoleHttpsSoap11Endpoint" binding="ns:MessageConsoleSoap11Binding">
            <soap:address location="https://192.168.1.3:9443/services/MessageConsole.MessageConsoleHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsSoap12Endpoint" binding="ns:MessageConsoleSoap12Binding">
            <soap12:address location="https://192.168.1.3:9443/services/MessageConsole.MessageConsoleHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsEndpoint" binding="ns:MessageConsoleHttpBinding">
            <http:address location="https://192.168.1.3:9443/services/MessageConsole.MessageConsoleHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>