service-stubs/analytics-views/org.wso2.carbon.analytics.messageconsole.stub/src/main/resources/MessageConsoleAdmin.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://messageconsole.analytics.carbon.wso2.org" xmlns:ax213="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
    <wsdl:documentation>MessageConsole</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="PermissionBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deleteRecord" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="listRecord" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="listTable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="searchRecord" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ScheduleTaskInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cronString" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="retentionPeriod" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://exception.messageconsole.analytics.carbon.wso2.org/xsd" xmlns:ax216="http://beans.messageconsole.analytics.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://messageconsole.analytics.carbon.wso2.org">
            <xs:import namespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.messageconsole.analytics.carbon.wso2.org/xsd"/>
            <xs:element name="MessageConsoleMessageConsoleException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageConsoleException" nillable="true" type="ax214:MessageConsoleException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="scheduleDataPurging">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="cronString" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="retentionPeriod" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailablePermissions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailablePermissionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:PermissionBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataPurgingDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDataPurgingDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:ScheduleTaskInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.messageconsole.analytics.carbon.wso2.org/xsd">
            <xs:complexType name="MessageConsoleException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDataPurgingDetailsRequest">
        <wsdl:part name="parameters" element="ns:getDataPurgingDetails"/>
    </wsdl:message>
    <wsdl:message name="getDataPurgingDetailsResponse">
        <wsdl:part name="parameters" element="ns:getDataPurgingDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="MessageConsoleMessageConsoleException">
        <wsdl:part name="parameters" element="ns:MessageConsoleMessageConsoleException"/>
    </wsdl:message>
    <wsdl:message name="getAvailablePermissionsRequest">
        <wsdl:part name="parameters" element="ns:getAvailablePermissions"/>
    </wsdl:message>
    <wsdl:message name="getAvailablePermissionsResponse">
        <wsdl:part name="parameters" element="ns:getAvailablePermissionsResponse"/>
    </wsdl:message>
    <wsdl:message name="scheduleDataPurgingRequest">
        <wsdl:part name="parameters" element="ns:scheduleDataPurging"/>
    </wsdl:message>
    <wsdl:portType name="MessageConsolePortType">
        <wsdl:operation name="getDataPurgingDetails">
            <wsdl:input message="ns:getDataPurgingDetailsRequest" wsaw:Action="urn:getDataPurgingDetails"/>
            <wsdl:output message="ns:getDataPurgingDetailsResponse" wsaw:Action="urn:getDataPurgingDetailsResponse"/>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getDataPurgingDetailsMessageConsoleMessageConsoleException"/>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <wsdl:input message="ns:getAvailablePermissionsRequest" wsaw:Action="urn:getAvailablePermissions"/>
            <wsdl:output message="ns:getAvailablePermissionsResponse" wsaw:Action="urn:getAvailablePermissionsResponse"/>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:getAvailablePermissionsMessageConsoleMessageConsoleException"/>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <wsdl:input message="ns:scheduleDataPurgingRequest" wsaw:Action="urn:scheduleDataPurging"/>
            <wsdl:fault message="ns:MessageConsoleMessageConsoleException" name="MessageConsoleMessageConsoleException" wsaw:Action="urn:scheduleDataPurgingMessageConsoleMessageConsoleException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MessageConsoleSoap11Binding" type="ns:MessageConsolePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDataPurgingDetails">
            <soap:operation soapAction="urn:getDataPurgingDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <soap:operation soapAction="urn:getAvailablePermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <soap:operation soapAction="urn:scheduleDataPurging" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap:fault use="literal" name="MessageConsoleMessageConsoleException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleSoap12Binding" type="ns:MessageConsolePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDataPurgingDetails">
            <soap12:operation soapAction="urn:getDataPurgingDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <soap12:operation soapAction="urn:getAvailablePermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <soap12:operation soapAction="urn:scheduleDataPurging" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="MessageConsoleMessageConsoleException">
                <soap12:fault use="literal" name="MessageConsoleMessageConsoleException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageConsoleHttpBinding" type="ns:MessageConsolePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDataPurgingDetails">
            <http:operation location="getDataPurgingDetails"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailablePermissions">
            <http:operation location="getAvailablePermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="scheduleDataPurging">
            <http:operation location="scheduleDataPurging"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MessageConsole">
        <wsdl:port name="MessageConsoleHttpsSoap11Endpoint" binding="ns:MessageConsoleSoap11Binding">
            <soap:address location="https://10.100.0.46:9443/services/MessageConsole.MessageConsoleHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsSoap12Endpoint" binding="ns:MessageConsoleSoap12Binding">
            <soap12:address location="https://10.100.0.46:9443/services/MessageConsole.MessageConsoleHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="MessageConsoleHttpsEndpoint" binding="ns:MessageConsoleHttpBinding">
            <http:address location="https://10.100.0.46:9443/services/MessageConsole.MessageConsoleHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>